[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide:not(.ng-hide-animate) {
    display: none !important;
}




.panel-heading {
    padding: 10px 10px!important;
}

.panel {
    margin-bottom: 5px!important;
}

.panel-body {
    padding: 5px;
}

.alert {
    padding: 5px;
    margin-bottom: 5px;
}

.bs-callout {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.well {
    padding: 5px!important;
    margin-bottom: 5px!important;
}

.well-sm {
    padding: 5px!important;
}

.progress {
    margin-bottom: 5px!important;
}

.form-group {
    margin-bottom: 5px!important;
}

.list-group {
    margin-bottom: 5px!important;
}

.thumbnail {
    margin-bottom: 5px!important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
}
p, div {
    font-family: 'Roboto', sans-serif, Arial, Helvetica;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    padding: 0;
    margin-bottom: 50px;
}

body > .container {
    padding-bottom: 50px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.socialnav {
    color: #777;
    line-height: 20px;
    min-height: 50px;
}

.socialnav i {
    color: #f8f8f8;
    padding-right:10px;
    padding-top:10px;
}

.checkbox-bump-down {
    margin-top:5px;
    margin-bottom:auto;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

.bluerecnav {
    z-index: 1049;
    border-radius: 0px !important;
}


#nav.affix {
    position: fixed;
    top: 0;
    width: 100%!important;
    z-index:10;
}


.listing img
{
    width:64px;
}

.wide {
    width:100%;
    height:150px;
    background-image:url('../images/header_bgbv.jpg');
    background-size:cover;
    border-bottom: 0px solid #e5e5e5;
    margin-bottom: 0px;
}

.logo {
    color:#fff;
    font-weight:800;
    font-size:14pt;
    min-height: 150px;
    vertical-align: middle;
    position: relative;
}

.logo::before {
    background-image:url('../images/header_bgbv.jpg');
    filter: blur(5px);
}

.logo img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.clickable
{
    cursor: pointer;
    text-decoration:none;
    font-weight: 400;
}

.panel-heading span.clickable
{
    margin-top: -23px;
    font-size: 15px;
    margin-right: 0px;
}

.clickable .glyphicon
{
    background: rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 4px
}

.truncate-ellipsis {
    display: table;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

.truncate-ellipsis > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}

.striped-row {
    margin: 0px;
    padding: 5px;
    border-bottom: #e0e0e0 dashed thin;
}

.striped-row:nth-of-type(odd) {
    background: #eee;
}

.itemheader,
.itembody {
    border-color:#DDD;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 15px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.itemheader {
    color: #fff;
    background-color:#2FA4E7;
}

.dateiconcolor {
    color: #fff;
    background-color:#2FA4E7;
}

.light-blue-color {
    color: #2FA4E7;
}

.itembody {
}

.infiniteScroll {
    height: 101%;
}

.angular-google-map-container { height: 300px; }

.animate-enter,
.animate-leave
{
    -webkit-transition: 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -moz-transition: 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -ms-transition: 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -o-transition: 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    transition: 500ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    position: relative;
    display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    right: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    right: -50px;
    height: 0px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.spacing {
    padding-top:7px;
    padding-bottom:7px;
}

.noborder {
    border:0px;
}

.view-animate-container {
    position:relative;
}

.view-animate {
    padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.75s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.75s;

    display:block;
    width:100%;
    min-height:500px;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border:0px;
}
.view-animate.ng-enter {
    left:100%;
    opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
    left:0;
    opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
    left:-100%;
    opacity: 0;
}

.scrollbox {
    max-height: 200px;
    overflow: scroll;
}

.br-formlabel {
    width:30%;
}

/* center align text with icons */
.fa-top-text {
    vertical-align: bottom !important;
}

.control-label-center {
    vertical-align: middle !important;
}
/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout{padding:20px;margin:20px 0;border:1px solid #eee;border-left-width:5px;border-radius:3px}
.bs-callout h4{margin-top:0;margin-bottom:5px}
.bs-callout p:last-child{margin-bottom:0}
.bs-callout code{border-radius:3px}
.bs-callout+.bs-callout{margin-top:-5px}
.bs-callout-danger{border-left-color:#ce4844}
.bs-callout-danger h4{color:#ce4844}
.bs-callout-warning{border-left-color:#aa6708}
.bs-callout-warning h4{color:#aa6708}
.bs-callout-info{border-left-color:#1b809e}
.bs-callout-info h4{color:#1b809e}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

    .wide {
        height:200px;
    }

    .logo {
        min-height:200px;
    }

    .listing img
    {
        width:128px;
    }
}


.animate-show {
    opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
}

aside .aside-dialog .aside-footer:before,
.aside .aside-dialog .aside-footer:after {
    content: " ";
    display: table;
}

.aside .aside-dialog .aside-footer:after {
    clear: both;
}

/*
 * Aside element
 */
.aside.right {
    right: 0px;
    left: auto;
}

.aside {
    position: fixed;
    top: 0px;
    bottom: 0px;
    z-index: 1049;
    overflow: auto;
    width: 350px;
    background: #FFF none repeat scroll 0% 0%;
}

.aside:focus {
    outline: none;
}


@media only screen and (max-width : 480px) {
    .aside {
        top: 0px;
        left:25px!important;
        width: auto;
    }

}

@media only screen and (min-width : 480px) {
    .aside {
        max-width: 991px;
    }

}

.am-fade-and-slide-right {
    background-color: rgba(255, 0, 0, 0);
}

.clicky {
    cursor: pointer;
}

.textarea-responsive {
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 100px;

    resize:vertical;
}

.checkbox-dark-border
{
    border: 1px solid rgb(153, 153, 153)!important;
}

.panel-collapse.am-collapse {
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    overflow: hidden;
}
.collapse.in {
    display: block;
}
.collapse {
    display: none;
}
.am-collapse {
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    overflow: hidden;
    opacity: 1;
}

.panel-collapse.am-collapse.in-remove {
    animation-name: collapse;
    display: block;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}

[bs-select] {
    /*position: relative;*/
    overflow: hidden;
    text-align: left;
}

.select.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    /*width: 90%;*/
}

.checkbox-weekday-spacing {
    width: 95px!important;
}

.label-weekday {
    padding-left: 10px;
    padding-right: 10px;
    width: 70px!important;
}

.label-weekday-spacing {
    padding-left: 10px;
    padding-right: 10px;
    width: 70px!important;;
    font-weight: normal!important;
}

.no-word-wrap {
    white-space: nowrap;
    overflow: hidden;
}

.rz-bubble {
    font-weight: bold;
}

.rz-limit {
    font-weight: normal!important;
}

.rz-bar2 {
    background: #F0BBB9 !important;
}

.rz-selection2 {
    background: #f00010 !important;
}

.rz-pointer2 {
    background: #f00010 !important;
}

.rz-pointer2.rz-active:after {
    background-color: #f00010!important;
}

.tooltip {
    top:0px!important;
}

.tooltip-inner  {
    background: linear-gradient(#54B4EB, #2FA4E7 60%, #1D9CE5) !important;
}

.tooltip-arrow {
    border-right-color: #1D9CE5 !important;
}
a:hover, a:active, a:focus, a:link, a:visited {
    outline: 0;
    outline: 0 !important;
    outline-style:none;
}
button, object, embed {
    outline: 0!important;
}

/* All Input elements */
input::-moz-focus-inner {
    outline: 0!important;
}

/* Or more specifically*/
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner{
    outline: 0!important;
}

.navbar-collapse.collapsing {
    -webkit-transition: height 0.01s;
    -moz-transition: height 0.01s;
    -ms-transition: height 0.01s;
    -o-transition: height 0.01s;
    transition: height 0.01s;
}

.ng-enter {
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 0;
}
.ng-enter-active {
    opacity: 1;
    -webkit-transition: .35s;
    transition: .5s;
}

.text-underline {
    text-decoration: underline;
}

.has-error {
    color: #f00010;
}

.table-hover > tbody > tr:hover {
    /*background-image: linear-gradient(#04519B, #10699b 40%, #13539b);*/
    background-color: #13539b;
    color: #fff;
}

.table-hover tbody > tr > td #arrow-icon{
    visibility: hidden;

}
.table-hover  tbody > tr:hover td #arrow-icon {
    visibility: visible;
    color: #fff;
    cursor: pointer;
}

.vtable > thead > tr > th,
.vtable > tbody > tr > th,
.vtable > tfoot > tr > th,
.vtable > thead > tr > td,
.vtable > tbody > tr > td,
.vtable > tfoot > tr > td {
    vertical-align: inherit!important;
}

.modal .modal-body .modal-footer .modal-header  {
    padding: 8px!important;
}

.modal.center .modal-dialog {
    position:absolute;
    top:40%;
    left:50%;
    min-width:320px;
    max-width:630px;
    width:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
}

.modal-select-rental-times {
    /* new custom width */
    min-width: 740px!important;
}

.datepicker.dropdown-menu {
    width: 250px;
    height: 250px;
}
.datepicker.dropdown-menu button {
    outline: none;
    border: 0px;
}
.datepicker.dropdown-menu tbody {
    height: 180px;
}
.datepicker.dropdown-menu tbody button {
    padding: 6px;
}
.datepicker.dropdown-menu.datepicker-mode-1 tbody button,
.datepicker.dropdown-menu.datepicker-mode-2 tbody button {
    height: 65px;
}
.timepicker.dropdown-menu {
    padding: 0 4px;
}
.timepicker.dropdown-menu button {
    outline: none;
    border: 0px;
}
.timepicker.dropdown-menu tbody button {
    padding: 6px;
}

.social li{
    display:inline;
}


.fb-share-button{
    position:relative;
    top:-5px;
}

@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility:hidden;
    }

    .noprint {
        visibility: hidden;
    }

    #printSection, #printSection * {
        visibility:visible;
        margin-left:auto;
        margin-right:auto;
        font-size: 12px;
        line-height: 1.2;
        width: 100%;
    }

    table {
        page-break-inside:avoid;
    }

    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}

@media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

