node_modules
dist
.tmp
.sass-cache
bower_components

app/images/yeoman.png
app/scripts/app_old.js
app/scripts/config/config.js

.idea
app/images/header_logo_bv.png
app/images/header_bgbv.jpg
app/views/oldProgramList.html
Gruntfile.js