<div>

    <div class="row">
        <div class="col-md-12"><h3>Payment Card Profiles</h3></div>
    </div>

    <div class="bs-callout bs-callout-info" id="callout-type-b-i-elems">
        <div class="row">
            <div class="col-xs-12">
                On this page you can update your credit card for any payments that are paid automatically, as well as
                view any previous automatic payments. Any issues with the automatic charge will be listed next to any payment
                that experienced an issue.<br><br>
                For your security, we do not display any existing credit card information beyond the card type on this page.
            </div>
        </div>
    </div>

    <div class="row" data-ng-repeat="item in profiles.returnData">
        <div class="col-xs-12"><h4>{{item.item_name}}
            <button class="btn btn-primary btn-sm pull-right" data-ng-show="!item.updateCard" data-ng-click="item.updateCard = true"><i class="fa fa-credit-card"></i> Update Card</button>
            <button class="btn btn-danger btn-sm pull-right" data-ng-show="item.updateCard" data-ng-click="item.updateCard = false"><i class="fa fa-times"></i> Cancel Update</button>
            </h4>
        </div>

        <div class="panel panel-default" data-ng-show="item.updateCard">
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <fieldset>
                        <legend>Payment Information</legend>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="card-number">Card Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Debit/Credit Card Number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
                                            <option>Month</option>
                                            <option value="01">Jan (01)</option>
                                            <option value="02">Feb (02)</option>
                                            <option value="03">Mar (03)</option>
                                            <option value="04">Apr (04)</option>
                                            <option value="05">May (05)</option>
                                            <option value="06">June (06)</option>
                                            <option value="07">July (07)</option>
                                            <option value="08">Aug (08)</option>
                                            <option value="09">Sep (09)</option>
                                            <option value="10">Oct (10)</option>
                                            <option value="11">Nov (11)</option>
                                            <option value="12">Dec (12)</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-3">
                                        <select class="form-control" name="expiry-year">
                                            <option value="15">2015</option>
                                            <option value="16">2016</option>
                                            <option value="17">2017</option>
                                            <option value="18">2018</option>
                                            <option value="19">2019</option>
                                            <option value="20">2020</option>
                                            <option value="21">2021</option>
                                            <option value="22">2022</option>
                                            <option value="23">2023</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="button" class="btn btn-success"><i class="fa fa-credit-card"></i> Update Payment Method</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="row hidden-xs" style="border-bottom:1px solid #d0d0d0;">
                <div class="col-md-3 col-xs-12">Item Name</div>
                <div class="col-md-3 col-xs-4">Due Date</div>
                <div class="col-md-3 col-xs-5">Card Type</div>
                <div class="col-md-1 col-xs-3 text-right">Charged</div>
                <div class="col-md-1 col-xs-3 text-right">Paid</div>
                <div class="col-md-1 col-xs-3 text-right">Due</div>
            </div>

            <div class="row" data-ng-repeat="payment in item.payments" style="border-bottom:1px dotted #d0d0d0;">
                <div class="col-md-3 col-xs-12">{{payment.item_name}}</div>
                <div class="col-md-3 hidden-xs">Due: {{payment.due_date}}</div>
                <div class="col-md-3 hidden-xs">Card: {{payment.card_type}}</div>
                <div class="col-xs-6 visible-xs">Due: {{payment.due_date}}</div>
                <div class="col-xs-6 text-right visible-xs">Card: {{payment.card_type}}</div>
                <div class="col-md-1 text-right hidden-xs">{{payment.fee_amount | currency}}</div>
                <div class="col-md-1 text-right hidden-xs">{{payment.paid_amount | currency}}</div>
                <div class="col-md-1 text-right hidden-xs">{{payment.due_amount | currency}}</div>
                <div class="col-xs-4 visible-xs">Fee: {{payment.fee_amount | currency}}</div>
                <div class="col-xs-4 visible-xs">Pmt: {{payment.paid_amount | currency}}</div>
                <div class="col-xs-4 text-right visible-xs">Due: {{payment.due_amount | currency}}</div>

                <div class="col-xs-12">
                    <div class="row" data-ng-repeat="status in payment.status">
                        <div class="col-xs-12 text-right"><span class="{{(status.status_type == 'error')?'text-danger':'text-success'}}">Attempted on {{status.status_date}} with the result: {{status.status_text}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>