<div>

<h3>Account Settings</h3>

  <div class="panel panel-primary">
    <div class="panel-heading clearfix">
      <h4 class="panel-title">Home Address</h4>
    </div>

    <form name="addressForm" class="form-horizontal" role="form" data-ng-submit="submitAddrForm()">
      <ng-form name="addressForm">
        <div class="panel-body">

          <div class="alert alert-success" role="alert" data-ng-show="myAccount.addressForm.dataSubmitted && myAccount.addressForm.success">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{myAccount.addressForm.message}}
          </div>

          <div class="alert alert-danger" role="alert" data-ng-show="{{myAccount.addressForm.dataSubmitted && !myAccount.addressForm.success}}">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{myAccount.addressForm.message}}
          </div>

          <div class="form-group">
            <label class="col-sm-2">Address</label>
            <div class="col-sm-6">
              <input type="text" id="currentAddr" data-ng-model="myAccount.addressForm.addr" value="" class="form-control" ng-autocomplete details="addrDetails" options="addrOptions"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2">Apt/Ste/Unit #</label>
            <div class="col-sm-6">
              <input type="text" id="currentAddr2" data-ng-model="myAccount.addressForm.addr2" value="" class="form-control"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2">City</label>
            <div class="col-sm-6">
              <input type="text" id="currentCity" data-ng-model="myAccount.addressForm.city" value="" class="form-control" required/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2">State</label>
            <div class="col-sm-6">
              <state-select id="currentState" ng-model="myAccount.addressForm.state" name="currentState" class="form-control"></state-select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2">Zipcode</label>
            <div class="col-sm-6">
              <input type="text" id="currentZip" data-ng-model="myAccount.addressForm.zip" value="" class="form-control" required/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label-center">&nbsp;</label>
            <div class="col-sm-6">
              <button type="submit" id="addressSubmit" value="Submit" class="btn btn-info" data-ng-enable="addressForm.$valid"><i class="fa fa-save"></i> Save Address</button>
            </div>
          </div>

        </div>
      </ng-form>
    </form>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading clearfix">
      <h4 class="panel-title">Email Address</h4>
    </div>
    <form name="emailForm" class="form-horizontal" role="form" data-ng-submit="submitEmailForm()">
      <ng-form name="emailForm">
        <div class="panel-body">

          <div class="alert alert-success" role="alert" data-ng-show="myAccount.emailForm.dataSubmitted && myAccount.emailForm.success">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{myAccount.emailForm.message}}
          </div>

          <div class="alert alert-danger" role="alert" data-ng-show="{{myAccount.emailForm.dataSubmitted && !myAccount.emailForm.success}}">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{myAccount.emailForm.message}}
          </div>

          <p>This email address must be verified before you can register online. Verifying your email ensures you receive receipt emails and any additional information about your purchase(s).</p>

          <div class="alert alert-success" data-ng-show="myAccount.emailForm.email_status == 'verified'">
            Your email address has been verified.
          </div>

          <div class="form-group">
            <label class="col-sm-2">Email:</label>
            <div class="col-sm-6">
              <input type="text" id="currentEmail" data-ng-model="myAccount.emailForm.email_address" value="" class="form-control" required/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label-center">&nbsp;</label>
            <div class="col-sm-6">
              <button type="submit" id="emailSubmit" value="Submit" class="btn btn-info"><i class="fa fa-save"></i> Save Email</button>

              <button type="button" data-ng-click="resendEmailVerification()" id="emailSubmit" value="Submit" class="btn btn-warning" data-ng-show="{{myAccount.emailForm.email_status != 'verified'}}"><i class="fa fa-reply"></i> Resend Verification Email</button>
            </div>
          </div>

        </div>
      </ng-form>
    </form>
  </div>

  <div class="panel panel-primary" data-ng-show="config.data.allowResidentSelection == '1'">
    <div class="panel-heading clearfix">
      <h4 class="panel-title">Residency</h4>
    </div>
    <form name="residencyForm" class="form-horizontal" role="form" data-ng-submit="submitResidencyForm()">
      <ng-form name="residencyForm">
        <div class="panel-body">

          <div class="alert alert-success" role="alert" data-ng-show="myAccount.residencyForm.dataSubmitted && myAccount.residencyForm.success">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{myAccount.residencyForm.message}}
          </div>

          <div class="alert alert-danger" role="alert" data-ng-show="{{myAccount.residencyForm.dataSubmitted && !myAccount.residencyForm.success}}">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{myAccount.residencyForm.message}}
          </div>

          <p>You have the option to set your residency status manually. Please note, you may be required to provide proof of residency for any purchases you complete
            that have a different residency price, and you will be responsible for paying the difference plus any administrative fees involved in making the correction.</p>

          <div class="form-group">
            <div class="col-sm-2">&nbsp;</div>
            <div class="col-sm-6">
              <checkbox id="isResident" name="isResident" class="btn-primary" data-ng-model="myAccount.residencyForm.isResident"></checkbox>
              <label for="isResident">I am a resident</label>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label-center">&nbsp;</label>
            <div class="col-sm-6">
              <button type="submit" id="residencySubmit" value="Submit" class="btn btn-info" data-ng-enable="residencyForm.$valid"><i class="fa fa-save"></i> Save Residency</button>
            </div>
          </div>

        </div>
      </ng-form>
    </form>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading clearfix">
      <h4 class="panel-title">Change Password</h4>
    </div>

    <form name="passwordForm" class="form-horizontal" role="form" data-ng-submit="submitPasswordForm()">
      <ng-form name="passwordForm">
        <div class="panel-body">

          <div class="alert alert-success" role="alert" data-ng-show="myAccount.passwordForm.dataSubmitted && myAccount.passwordForm.success">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{myAccount.passwordForm.message}}
          </div>

          <div class="alert alert-danger" role="alert" data-ng-show="myAccount.passwordForm.dataSubmitted && !myAccount.passwordForm.success">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{myAccount.passwordForm.message}}
          </div>

          <div class="form-group">
            <label class="col-sm-2">Current Password</label>
            <div class="col-sm-6">
              <input type="password" id="currentPassword" data-ng-model="myAccount.passwordForm.current" value="" class="form-control disabled" required/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2">New Password</label>
            <div class="col-sm-6">
              <input type="password" id="newPassword" data-ng-model="myAccount.passwordForm.newpass" value="" class="form-control disabled" required/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2">Confirm password</label>
            <div class="col-sm-6">
              <input type="password" id="confirmPassword" data-ng-model="myAccount.passwordForm.conpass" value="" class="form-control disabled" required/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2">&nbsp;</label>
            <div class="col-sm-6">
              <button type="submit" id="passwordSubmit" value="Submit" class="btn btn-info" data-ng-enable="passwordForm.$valid"><i class="fa fa-save"></i> Save Password</button>
            </div>
          </div>

        </div>
      </ng-form>
    </form>
  </div>

</div>

