<div>

    <div class="row">
        <div class="col-md-12"><h3>Purchase History</h3></div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right"><a class="btn btn-primary btn-sm" href="/php/onlinereg/#/{{orgurl}}/taxreceipt" ng-print><i class="glyphicon glyphicon-print"></i> Print Tax Receipt</a></div>
    </div>

    <div data-ng-repeat="household in purchases.returnData.households">
        <div class="row">
            <div class="col-xs-12"><h4>{{household.house_name}} Transactions</h4></div>
        </div>

        <table class="table table-hover">

            <thead>
                <tr>
                    <th>Receipt</th>
                    <th>Date</th>
                    <th class="hidden-xs">Location</th>
                    <th>Charged</th>
                    <th>Paid</th>
                    <th class="hidden-xs text-center">Method</th>
                    <th class="hidden-xs text-right">Print</th>
                </tr>
            </thead>

            <tbody dir-paginate="trans in household.transactions | itemsPerPage:10" current-page="household.page_number" pagination-id="household.house_index">
                <tr class="active">
                    <td class="col-md-2">{{trans.details.transaction_id}}</td>
                    <td class="col-md-3">{{trans.details.display_date}}</td>
                    <td class="col-md-3 hidden-xs">{{trans.details.facility_name}}</td>
                    <td class="col-md-1">{{trans.details.amount_charged_total | currency}}</td>
                    <td class="col-md-1">{{trans.details.amount_paid_total | currency}}</td>
                    <td class="col-md-1 hidden-xs text-center">{{trans.details.payment_methods}}</td>
                    <td class="col-md-1"><button data-ng-click="onClickPrintReceiptFromPurchases(trans.details.transaction_id)" class="btn btn-primary btn-sm pull-right hidden-print"><i class="glyphicon glyphicon-print"></i></button></td>
                </tr>

                <tr data-ng-repeat="lineItem in trans.items">
                    <td class="col-md-2 hidden-xs"></td>
                    <td class="col-md-6 hidden-xs" colspan="2">
                        - {{lineItem.item_name}}
                    <div data-ng-repeat="itemInfo in lineItem.details">-- {{itemInfo.text}}</div>

                        <div data-ng-repeat="waiverInfo in lineItem.waivers">
                            <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="{{'#' + waiverInfo.print_id}}"><i class="glyphicon glyphicon-print"></i> {{waiverInfo.waiver_name}}</a>
                        </div>
                    </td>
                    <td class="col-xs-6 visible-xs" colspan="4">
                        - {{lineItem.item_name}}
                        <div data-ng-repeat="itemInfo in lineItem.details">-- {{itemInfo.text}}</div>
                    </td>
                    <td class="col-md-1 hidden-xs">{{lineItem.total_item_charge | currency}}</td>
                    <td class="col-md-1 hidden-xs">{{lineItem.total_item_payment | currency}}</td>
                    <td class="col-md-1 hidden-xs text-center">{{lineItem.payment_methods}}</td>
                    <td class="col-md-1"></td>
                </tr>
            </tbody>

        </table>

        <dir-pagination-controls pagination-id="household.house_index"></dir-pagination-controls>
    </div>

    <div data-ng-repeat="household in purchases.returnData.households">
        <div data-ng-repeat="trans in household.transactions">
            <div data-ng-repeat="lineItem in trans.items">
                <div class="modal fade" id="{{signoff.print_id}}" tabindex="-1" role="dialog" aria-labelledby="termsPopLabel" data-ng-repeat="signoff in lineItem.waivers">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                Waiver
                            </div>

                            <div class="modal-body printContainer" id="{{'print_' + signoff.print_id}}">

                                <h4>{{signoff.waiver_name}}</h4>

                                <div name="txtWaiver" class="printContainer" data-ng-bind-html="signoff.waiver_text">
                                </div>

                            </div>

                            <div class="modal-footer noprint">
                                <button type="button" data-ng-click="printDiv('print_' + signoff.print_id)" class="btn btn-primary noprint" id="printWaiverButton"><i class="glyphicon glyphicon-print"></i> Print</button>
                                <button type="button" class="btn btn-danger noprint" id="closeWaiverButton" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>