<div>

    <div class="row">
        <div class="col-xs-12"><h3>Receipt</h3></div>
    </div>

    <div class="row" data-ng-if="!receiptData.busy">
        <div class="col-xs-12" align="center"><button data-ng-click="printReceipt()" class="btn btn-primary btn-sm hidden-print"><i class="glyphicon glyphicon-print"></i> Print Receipt</button></div>
    </div>

    <div class="row" data-ng-if="receiptData.busy">
        <div class="col-xs-12 text-center">
            <p><i class="fa fa-refresh fa-spin fa-2x text-primary pull-left"></i>
                Loading Receipt...
            </p>
        </div>
    </div>

    <div class="container" id="printContainer" data-ng-if="!receiptData.busy" style="width:98%">

        <table class="table-fixed report-table report-table-scale" width="98%">
            <tr>

                <td><img data-ng-if="::receiptData.returnData.header.receipt_logo" class="receiptImg" data-ng-src="{{::receiptData.returnData.header.receipt_logo}}"></td>

                <td valign="center" class="text-center"><div><img style="width:200px;" data-ng-src="{{::receiptData.returnData.header.barcode_url}}"></div></td>

                <td class="text-right">
                    <strong>
                        {{::receiptData.returnData.header.receiptName}}<br>
                        Purchased {{::receiptData.returnData.header.transaction_date}}<br>
                        Receipt #{{::receiptData.returnData.header.transaction_id}}
                    </strong>
                </td>


            </tr>

            <tr>

                <td>
                    <table class="table-fixed report-table-scale">
                        <tr>
                            <td valign="top"><strong>Name:</strong></td>
                            <td>{{::receiptData.returnData.header.personName}}</td>
                        </tr>
                        <tr>
                            <td valign="top"><strong>Phone:</strong></td>
                            <td>{{::receiptData.returnData.header.personPhone}}</td>
                        </tr>
                        <tr>
                            <td valign="top"><strong>Address:</strong></td>
                            <td data-ng-bind-html="::receiptData.returnData.header.personAddress | sanitize"></td>
                        </tr>
                    </table>
                </td>

                <td></td>

                <td class="text-right">
                    <table class="table-fixed pull-right report-table-scale">
                        <tr>
                            <td class="text-left"><strong>Total:</strong></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>{{::receiptData.returnData.header.totalAmount}}</td>
                        </tr>

                        <tr>
                            <td class="text-left"><strong>Discount:</strong></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>{{::receiptData.returnData.header.discountAmount}}</td>
                        </tr>

                        <tr>
                            <td class="text-left"><strong>Tax:</strong></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>{{::receiptData.returnData.header.taxAmount}}</td>
                        </tr>

                        <tr>
                            <td class="text-left"><strong>Amount Due:</strong></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>{{::receiptData.returnData.header.dueAmount}}</td>
                        </tr>

                        <tr style="border-bottom:1px solid #000000;">
                            <td class="text-left"><strong>Amount Paid:</strong></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>{{::receiptData.returnData.header.paidAmount}}</td>
                        </tr>

                        <tr>
                            <td class="text-left"><strong>Balance:</strong></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>{{::receiptData.returnData.header.balanceAmount}}</td>
                        </tr>
                    </table>
                </td>

            </tr>

            <tr>
                <td colspan="3" class="text-right"><strong>Payment Method(s):{{::receiptData.returnData.header.paymentMethod}}</strong></td>
            </tr>

            <tr style="border-bottom:1px solid #000000;">
                <td><strong>Transaction Items</strong></td>
                <td colspan="2" class="text-right"><strong>{{::receiptData.returnData.header.staff_name}}  / Printed: {{::receiptData.returnData.header.printed}}</strong></td>
            </tr>

            <tr>
                <td colspan="3">
                    <table class="table-fixed borderless report-table-scale">

                        <tbody data-ng-repeat="item in receiptData.returnData.lineItems">

                            <tr>
                                <td width="20%"></td>
                                <td width="100%"></td>
                                <td></td>
                                <td width="100"></td>
                            </tr>

                            <tr>
                                <td colspan="4"><strong class="text-underline">{{::item.item_type}}</strong></td>
                            </tr>

                            <tr>
                                <td class="receipt-padding-left"><strong>Item Name:</strong></td>
                                <td>{{::item.item_name}}</td>

                                <td class="text-right" width="50"><strong>Fee:</strong></td>
                                <td class="receipt-padding-left text-right">{{::item.feeAmount | currency:"$"}}</td>
                            </tr>

                            <tr>
                                <td class="receipt-padding-left"><div data-ng-if="showItemData(item.item_type, 'personName', item.personName)"><strong>Person Name:</strong></div></td>
                                <td><div data-ng-if="showItemData(item.item_type, 'personName', item.personName)">{{::item.personName}}</div></td>

                                <td class="text-right"><strong>Paid:</strong></td>
                                <td class="receipt-padding-left text-right">{{::item.paidAmount | currency:"$"}}</td>
                            </tr>

                            <tr>
                                <td class="receipt-padding-left"><div data-ng-if="showItemData(item.item_type, 'originalItem', item.item_misc_label)"><strong>{{::item.item_misc_label}}</strong></div></td>
                                <td colspan="3"><div data-ng-if="showItemData(item.item_type, 'originalItem', item.item_misc_label)">{{::item.item_misc_data}}</div></td>
                            </tr>

                            <tr>
                                <td class="receipt-padding-left"><div data-ng-if="showItemData(item.item_type, 'itemDates', item.itemDates)">
                                <strong><div ng-bind-html="::item.dateLabel | sanitize"></div></strong></div></td>
                                <td><div data-ng-if="showItemData(item.item_type, 'itemDates', item.itemDates)">{{::item.itemDates}}</div></td>

                                <td class="text-right"><strong>Bal:</strong></td>
                                <td class="receipt-padding-left text-right">{{::item.balanceAmount | currency:"$"}}</td>
                            </tr>

                            <tr>
                                <td class="receipt-padding-left"><div data-ng-if="showItemData(item.item_type, 'extraDataTwo', item.item_misc_label_two)"><strong>{{::item.item_misc_label_two}}</strong></div></td>
                                <td colspan="3"><div data-ng-if="showItemData(item.item_type, 'extraDataTwo', item.item_misc_label_two)">{{::item.item_misc_data_two}}</div></td>
                            </tr>

                            <tr data-ng-if="showItemData(item.item_type, 'itemFacilities', item.itemFacilitiesDateOne)">
                                <td colspan="4">
                                   <table width="100%" class="table-fixed borderless report-table-scale">
                                       <tr>
                                           <td class="receipt-padding-left"><strong>{{::item.itemFacilityLabel}}</strong></td>
                                           <td><strong>{{::item.itemFacilitiesDateOne}}</strong></td>
                                           <td ><strong>{{::item.itemFacilitiesDateTwo}}</strong></td>
                                       </tr>
                                       <tr data-ng-if="showItemData(item.item_type, 'itemFacilities', item.itemFacilitiesDateOne)">
                                           <td valign="top" class="receipt-padding-left"><div ng-bind-html="::item.item_facilities_label | sanitize"></div></td>
                                           <td valign="top"><div ng-bind-html="::item.item_facilities_date_one | sanitize"></div></td>
                                           <td valign="top" colspan="2"><div ng-bind-html="::item.item_facilities_date_two | sanitize"></div></td>
                                       </tr>
                                   </table>
                                </td>
                            </tr>

                            <tr data-ng-if="(item.has_payment_plan == '1' || item.payment_plan.length > 0)">
                                <td colspan="4">
                                    <table width="100%" class="table-fixed borderless report-table-scale">
                                        <thead>
                                            <tr>
                                                <td class="receipt-padding-left"><strong>Payment Plan Summary</strong></td>
                                                <td><strong>Fee</strong></td>
                                                <td><strong>Due</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody data-ng-repeat="plan in item.payment_plan">
                                        <tr>
                                            <td class="receipt-padding-left">Payment #{{::plan.display_order}}</td>
                                            <td>{{::(plan.total_fee-plan.total_discount) | currency:"$"}}</td>
                                            <td>{{::plan.invoice_due_date}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4"> </td>
                            </tr>

                        </tbody>

                    </table>

                </td>

            </tr>
        </table>

        <table data-ng-repeat="ticket in receiptData.returnData.ticketData" class="table-fixed report-table report-table-scale" width="100%" id="ticketBox">
            <tr>
                <td width="33%"><img data-ng-if="::receiptData.returnData.header.receipt_logo" class="receiptImg" data-ng-src="{{::receiptData.returnData.header.receipt_logo}}"></td>
                <td width="34%" class="text-center"><strong>This is your ticket</strong><br><img width="200" data-ng-if="::ticket.barcode" width="220" data-ng-src="{{::ticket.barcode}}"></td>
                <td width="33%" class="text-center"><strong>{{ticket.labelProgram}}<br>{{ticket.labelPackage}}<br>{{ticket.labelTicket}}</strong></td>
            </tr>
            <tr>
                <td colspan="3"><br></td>
            </tr>
            <tr>
                <td colspan="3" class="text-center">
                    <img data-ng-if="::ticket.image" width="600" data-ng-src="{{::ticket.image}}">
                </td>
            </tr>
        </table>

    </div>

    <div class="row" data-ng-if="!receiptData.busy">
        <div class="col-xs-12" align="center"><button data-ng-click="printReceipt()" class="btn btn-primary btn-sm hidden-print"><i class="glyphicon glyphicon-print"></i> Print Receipt</button></div>
    </div>
</div>