<div>

    <h3>Password Reset</h3>

    <div class="spacing"></div>

    <div class="panel panel-primary" data-ng-if="serverData.tokenData.errors.length > 0">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Invalid Request</h4>
        </div>

        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-danger" role="alert"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    The token used to generate this request is either expired, invalid, or has already been used. Please issue your request again if you wish to reset your password.</div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
            <div class="col-sm-12 text-right">
                <a class="btn btn-warning" data-ng-href="#/{{orgurl}}/recoverpassword"><i class="fa fa-unlock-alt fa-fw"></i> Recover Password</a>

                <a class="btn btn-primary" data-ng-href="#/{{orgurl}}/login"><i class="fa fa-sign-in fa-fw"></i> Return to login</a>
            </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary" data-ng-if="serverData.tokenData.data.questions.length > 0 && !serverData.showChangePassword && !serverData.passwordUpdated">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Security Questions {{serverData.tokenData.data.questions.length}}</h4>
        </div>

        <div class="panel-body">

            <div class="alert alert-warning" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Your account is protected by two security questions. To reset your password you must first answer the following two questions.
            </div>

            <div class="alert alert-danger" role="alert" data-ng-if="serverData.questionData.errors.length > 0">
                <span data-ng-repeat="error in serverData.questionData.errors">{{error.error.text}}</span>
            </div>

            <form data-ng-submit="verifySecurityAnswers(aOne, aTwo)">
                <ng-form>

                    <div class="row form-group">
                        <label class="col-sm-2"></label>
                        <label class="col-sm-6">{{serverData.tokenData.data.questions[0].question_name}}</label>
                    </div>

                    <div class="row form-group">
                        <label for="aOne" class="col-sm-2 control-label">Answer:</label>
                        <div class="col-sm-6">
                            <input type="text" id="aOne" data-ng-model="aOne" class="form-control"/>
                        </div>
                    </div>

                    <div id="spacing">&nbsp;</div>

                    <div class="row form-group">
                        <label class="col-sm-2"></label>
                        <label class="col-sm-6">{{serverData.tokenData.data.questions[1].question_name}}</label>
                    </div>

                    <div class="row form-group">
                        <label for="aTwo" class="col-sm-2 control-label">Answer:</label>
                        <div class="col-sm-6">
                            <input type="text" id="aTwo" data-ng-model="aTwo" class="form-control"/>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label class="col-sm-2 control-label-center">&nbsp;</label>
                        <div class="col-sm-6">
                            <button type="submit" id="questionSubmit" value="Submit" class="btn btn-info"><i class="fa fa-save"></i> Continue</button>
                        </div>
                    </div>

                </ng-form>
            </form>
        </div>

    </div>

    <div class="panel panel-primary" data-ng-if="serverData.showChangePassword && !serverData.passwordUpdated">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Create a new password</h4>
        </div>

        <form name="passwordUpdateForm" class="form-horizontal" role="form" data-ng-submit="submitPasswordChangeForm(newPassword,newPasswordConfirm)">
            <ng-form name="passwordUpdateForm">
                <div class="panel-body">

                    <div class="form-group">
                        <label for="newPassword" class="col-sm-2 control-label">New Password</label>
                        <div class="col-sm-6">
                            <input type="password" id="newPassword" data-ng-model="newPassword" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPasswordConfirm" class="col-sm-2 control-label">Retype Password</label>
                        <div class="col-sm-6">
                            <input type="password" id="newPasswordConfirm" data-ng-model="newPasswordConfirm" class="form-control" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label-center">&nbsp;</label>
                        <div class="col-sm-6">
                            <button type="submit" id="newSubmit" value="Submit" class="btn btn-info" data-ng-enable="passwordUpdateForm.$valid"><i class="fa fa-save fa-inverse"></i> Update Password</button>
                        </div>
                    </div>
                </div>
            </ng-form>
        </form>
    </div>

    <div class="panel panel-primary" data-ng-if="serverData.passwordUpdated">
        <div class="panel-heading clearfix">
            <h4 class="panel-title">Password Updated</h4>
        </div>

        <div class="panel-body">
            <div class="row">

                <div class="col-sm-12">

                    <br>
                    Your password has been updated. You may now log in using your new password.
                    <br><br>

                </div>

            </div>
        </div>

        <div class="panel-footer">
            <div class="row">

                <div class="col-sm-12 text-right"><a class="btn btn-primary" data-ng-href="#/{{orgurl}}/login"><i class="fa fa-sign-in fa-fw"></i> Return to login</a></div>

            </div>
        </div>
    </div>

</div>