
<div class="row">

    <h3>Additional Options</h3>

    <p>The following enrollment options are available.</p>

    <form name="customForm" class="form-horizontal" role="form" data-ng-submit="submitAdditionalOptions()">
        <ng-form name="customForm">
            <div class="panel panel-default" data-ng-show="preLoad.data.length > 0">
                <div class="panel-heading">
                    <label>Add-Ons</label>
                </div>
                <div class="panel-body">

                    <div data-ng-repeat="addonData in preLoad.data">

                        <h4>{{addonData.itemName}} add-ons for {{addonData.userName}}</h4>

                        <div class="table-responsive" data-ng-show="addonData.addons.packages.length > 0">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td class="col-xs-2">Purchase</td>
                                    <td class="col-xs-1">Quantity</td>
                                    <td class="col-xs-4">Add-On Name</td>
                                    <td class="col-xs-3">Add-On Code</td>
                                    <td class="col-xs-2">Fee(s)</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="pkg in addonData.addons.packages" >
                                    <td>
                                        <checkbox class="btn-{{(pkg.remaining <= 0)?'danger':'primary'}}" data-ng-click="updateStandardAddonFees(pkg.item_id)" ng-true-value="1" ng-false-value="0" data-ng-model="pkg.selected" name="pkg.item_name"></checkbox>
                                        <!--<checkbox class="btn-primary" data-ng-click="preLoad.updateAddonFees($parent.$parent.$index, $index)" ng-true-value="1" ng-false-value="0" data-ng-model="pkg.selected" name="pkg.item_name"></checkbox>-->
                                    </td>
                                    <td>
                                        <div class="row" data-ng-if="(pkg.selected=='1')">
                                            <div class="col-xs-12">
                                                <input type="text" width="50" data-ng-model="pkg.item_qty" class="form-control input-sm" required/>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="text-danger" data-ng-if="(pkg.remaining <= 0)">(Full) </span>{{pkg.item_name}}</td>
                                    <td>{{pkg.item_code}}</td>
                                    <td><p data-ng-repeat="pkgfee in pkg.fees.data">{{pkgfee.fee_name}} ${{pkgfee.fee_amount}}</p></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive" data-ng-show="addonData.addons.dayGroups.length > 0">

                            <h5>The following weekday groups are available. You may choose only one.</h5>

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td class="col-med-2">Purchase</td>
                                    <td class="col-med-4">Add-On Name</td>
                                    <td class="col-med-4">Add-On Code</td>
                                    <td class="col-med-2">Fee(s)</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="pkg in addonData.addons.dayGroups" >
                                    <td>
                                        <checkbox class="btn-{{(pkg.remaining <= 0)?'danger':'primary'}}" data-ng-click="updateDayGroupFees(addonData.addons.dayGroups, pkg)" ng-true-value="1" ng-false-value="0" data-ng-model="pkg.selected" name="pkg.item_name"></checkbox>
                                        <!--<checkbox class="btn-primary" data-ng-click="preLoad.updateAddonFees($parent.$parent.$index, $index)" ng-true-value="1" ng-false-value="0" data-ng-model="pkg.selected" name="pkg.item_name"></checkbox>-->
                                    </td>
                                    <td><span class="text-danger" data-ng-if="(pkg.remaining <= 0)">(Full) </span>{{pkg.item_name}}</td>
                                    <td>{{pkg.item_code}}</td>
                                    <td><p data-ng-repeat="pkgfee in pkg.fees.data">{{pkgfee.fee_name}} ${{pkgfee.fee_amount}}</p></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive" data-ng-show="addonData.addons.weekdayOptions.length > 0">

                            <h5>The following weekday options are available.</h5>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td class="col-med-2">Purchase</td>
                                    <td class="col-med-4">Add-On Name</td>
                                    <td class="col-med-4">Add-On Code</td>
                                    <td class="col-med-2">Fee(s)</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="pkg in addonData.addons.weekdayOptions">
                                    <td>
                                        <checkbox class="btn-{{(pkg.remaining <= 0)?'danger':'primary'}}" data-ng-click="updateWeekdayAddonFees(pkg.item_id, $index)" ng-true-value="1" ng-false-value="0" data-ng-model="pkg.selected" name="pkg.item_name"></checkbox>
                                        <!--<checkbox class="btn-primary" data-ng-click="preLoad.updateAddonFees($parent.$parent.$index, $index)" ng-true-value="1" ng-false-value="0" data-ng-model="pkg.selected" name="pkg.item_name"></checkbox>-->
                                    </td>
                                    <td><span class="text-danger" data-ng-if="(pkg.remaining <= 0)">(Full) </span>{{pkg.item_name}}</td>
                                    <td>{{pkg.item_code}}</td>
                                    <td><p data-ng-repeat="pkgfee in pkg.fees.data">{{pkgfee.fee_name}} ${{pkgfee.fee_amount}}</p></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div data-ng-show="addonData.addons.weekdays.length > 0">

                            <h5>Select the weekdays you wish to register for.</h5>

                            <div class="spacing"></div>

                            <div class="row" data-ng-repeat="item in addonData.addons.dropins.uniqueItems" data-ng-show="addonData.addons.dropins.showDropins">
                                <div class="col-sm-2">
                                    <h5>{{::item.item_name}}:</h5>
                                </div>
                                <div class="col-sm-2">
                                    <div data-ng-repeat="fee in item.original_fees.data">
                                        <h5>{{::fee.fee_name}}: ${{::fee.fee_amount}}/day</h5>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <div class="row seven-cols" style="table-layout: fixed;width: 100%;">
                                    <div data-ng-show="addonData.addons.weekdays[0].enabled" class="col-md-1"><div class="well text-center"><h5>Sun</h5></div></div>
                                    <div data-ng-show="addonData.addons.weekdays[1].enabled" class="col-md-1"><div class="well text-center"><h5>Mon</h5></div></div>
                                    <div data-ng-show="addonData.addons.weekdays[2].enabled" class="col-md-1"><div class="well text-center"><h5>Tue</h5></div></div>
                                    <div data-ng-show="addonData.addons.weekdays[3].enabled" class="col-md-1"><div class="well text-center"><h5>Wed</h5></div></div>
                                    <div data-ng-show="addonData.addons.weekdays[4].enabled" class="col-md-1"><div class="well text-center"><h5>Thu</h5></div></div>
                                    <div data-ng-show="addonData.addons.weekdays[5].enabled" class="col-md-1"><div class="well text-center"><h5>Fri</h5></div></div>
                                    <div data-ng-show="addonData.addons.weekdays[6].enabled" class="col-md-1"><div class="well text-center"><h5>Sat</h5></div></div>
                                </div>

                                <div class="row seven-cols" style="table-layout: fixed;width: 100%;" data-ng-repeat="week in addonData.addons.dropins.weeks">
                                    <div data-ng-show="addonData.addons.dropins.weekdays[$index].enabled" class="col-md-1" data-ng-repeat="weekday in week.weekday">
                                        <div class="well" data-ng-show="weekday.packages.length > 0">
                                            <div class="text-center"><strong>{{weekday.label}}</strong></div>
                                            <div data-ng-repeat="pkg in weekday.packages">
                                                <checkbox class="btn-{{(pkg.remaining <= 0)?'danger':'primary'}}" data-ng-change="clickDateAddon(addonData.addons.dropins, addonData.addons.dropins.weeks, pkg)" ng-true-value="1" ng-false-value="0" data-ng-model="pkg.selected" name="pkg.item_name"></checkbox>
                                                <span class="text-danger" data-ng-if="(pkg.remaining <= 0)">(Full) </span>{{::pkg.item_name}}
                                                <div class="spacing"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="row" data-ng-repeat="item in addonData.addons.dropins.uniqueItems">
                                        <div class="col-sm-2">
                                            <h5>{{::item.item_name}}:</h5>
                                        </div>
                                        <div class="col-sm-2">
                                            <div data-ng-repeat="selfee in item.fees.data">
                                                <h5>Total for Selected: {{selfee.fee_amount | currency}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="table-responsive" data-ng-show="addonData.addons.inventory.length > 0">

                            <h5>The following inventory items are also available.</h5>

                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td class="col-med-2">Purchase</td>
                                    <td class="col-med-4">Item Name</td>
                                    <td class="col-med-4">Item Code</td>
                                    <td class="col-med-2">Fee(s)</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="pkg in addonData.addons.inventory" >
                                    <td>
                                        <checkbox class="btn-{{(pkg.remaining <= 0)?'danger':'primary'}}" ng-true-value="1" ng-false-value="0" data-ng-model="pkg.selected" name="pkg.item_name"></checkbox>
                                        <!--<checkbox class="btn-primary" data-ng-click="preLoad.updateAddonFees($parent.$parent.$index, $index)" ng-true-value="1" ng-false-value="0" data-ng-model="pkg.selected" name="pkg.item_name"></checkbox>-->
                                    </td>
                                    <td><span class="text-danger" data-ng-if="(pkg.remaining <= 0)">(Full) </span>{{pkg.item_name}}</td>
                                    <td>{{pkg.item_code}}</td>
                                    <td><p data-ng-repeat="pkgfee in pkg.fees.data">{{pkgfee.fee_name}} ${{pkgfee.fee_amount}}</p></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                        <div data-ng-show="addonData.addons.dropins.uniqueItems.length > 0">

                            <h5>This program has drop-in dates available. To see the available dates, click the button below.</h5>

                            <div class="row" data-ng-init="addonData.addons.dropins.showDropins = false">
                                <div class="col-xs-12">
                                    <button type="button" class="btn btn-primary" data-ng-click="addonData.addons.dropins.showDropins = !addonData.addons.dropins.showDropins"><i class="fa fa-arrow-circle-o-down"></i>
                                        <span data-ng-show="!addonData.addons.dropins.showDropins">Show</span><span data-ng-show="addonData.addons.dropins.showDropins">Hide</span> Drop-in Options</button>
                                </div>
                            </div>

                            <div class="spacing"></div>

                            <div class="row" data-ng-repeat="item in addonData.addons.dropins.uniqueItems" data-ng-show="addonData.addons.dropins.showDropins">
                                <div class="col-sm-2">
                                    <h5>{{::item.item_name}}:</h5>
                                </div>
                                <div class="col-sm-2">
                                    <div data-ng-repeat="fee in item.original_fees.data">
                                        <h5>{{::fee.fee_name}}: ${{::fee.fee_amount}}/day</h5>
                                    </div>
                                </div>
                            </div>

                            <div data-ng-show="addonData.addons.dropins.showDropins">
                                <div class="row seven-cols" style="table-layout: fixed;width: 100%;">
                                    <div data-ng-show="addonData.addons.dropins.weekdays[0].enabled" class="col-md-1"><div class="well text-center"><h5>Sun</h5></div></div>
                                    <div data-ng-show="addonData.addons.dropins.weekdays[1].enabled" class="col-md-1"><div class="well text-center"><h5>Mon</h5></div></div>
                                    <div data-ng-show="addonData.addons.dropins.weekdays[2].enabled" class="col-md-1"><div class="well text-center"><h5>Tue</h5></div></div>
                                    <div data-ng-show="addonData.addons.dropins.weekdays[3].enabled" class="col-md-1"><div class="well text-center"><h5>Wed</h5></div></div>
                                    <div data-ng-show="addonData.addons.dropins.weekdays[4].enabled" class="col-md-1"><div class="well text-center"><h5>Thu</h5></div></div>
                                    <div data-ng-show="addonData.addons.dropins.weekdays[5].enabled" class="col-md-1"><div class="well text-center"><h5>Fri</h5></div></div>
                                    <div data-ng-show="addonData.addons.dropins.weekdays[6].enabled" class="col-md-1"><div class="well text-center"><h5>Sat</h5></div></div>
                                </div>

                                <!--<div class="row seven-cols" style="table-layout: fixed;width: 100%;">
                                    <div data-ng-show="wkday.enabled" data-ng-repeat="wkday in addonData.addons.dropins.weekdays" class="col-md-1">
                                        <div class="well">
                                            <div class="text-center"><strong>Every {{::wkday.label}}:</strong></div>
                                            <div data-ng-repeat="wkdPkg in addonData.addons.dropins.uniqueItems">
                                                <checkbox class="btn-primary" ng-true-value="1" ng-false-value="0" data-ng-model="wkday.items[$index].selected" name="wkdPkg.item_name" data-ng-change="updateEveryDateAddonFees(addonData.addons.dropins, addonData.addons.dropins.weeks, pkg)"></checkbox>
                                                {{::wkdPkg.item_name}}
                                                <div class="spacing"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>-->

                                <div class="row seven-cols" style="table-layout: fixed;width: 100%;" data-ng-repeat="week in addonData.addons.dropins.weeks">
                                    <div data-ng-show="addonData.addons.dropins.weekdays[$index].enabled" class="col-md-1" data-ng-repeat="weekday in week.weekday">
                                        <div class="well" data-ng-show="weekday.packages.length > 0">
                                            <div class="text-center"><strong>{{weekday.label}}</strong></div>
                                            <div data-ng-repeat="pkg in weekday.packages">
                                                <checkbox class="btn-{{(pkg.remaining <= 0)?'danger':'primary'}}" data-ng-change="clickDateAddon(addonData.addons.dropins, addonData.addons.dropins.weeks, pkg)" ng-true-value="1" ng-false-value="0" data-ng-model="pkg.selected" name="pkg.item_name"></checkbox>
                                                <span class="text-danger" data-ng-if="(pkg.remaining <= 0)">(Full) </span>{{::pkg.item_name}}
                                                <div class="spacing"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <div class="row" data-ng-repeat="item in addonData.addons.dropins.uniqueItems">
                                        <div class="col-sm-2">
                                            <h5>{{::item.item_name}}:</h5>
                                        </div>
                                        <div class="col-sm-2">
                                            <div data-ng-repeat="selfee in item.fees.data">
                                                <h5>Total for Selected: {{selfee.fee_amount | currency}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div class="spacing"> </div>

            <div class="alert alert-danger" data-ng-if="showRequiredPackageError">
                Please correct the following issues:
                <ul>
                    <li quick-ng-repeat="error in optionErrors">{{error.message}}</li>
                </ul>
            </div>
            <button class="btn btn-disabled btn-block" data-ng-if="addingToCart">Please Wait...</button>
            <button type="submit" data-ng-if="!addingToCart" data-ng-enable="customForm.$valid" id="submitFinal" value="Add to Cart" class="btn btn-success"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
        </ng-form>
    </form>

</div>
