<div class="row" data-ng-show='paymentComplete'>
  <h3>Purchase Complete!</h3>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <label>Your payment has been completed</label>
    </div>
    <div class="panel-body">
      Thank you for your purchase, you can now view your purchase history to print your receipt. If any additional information or documents
      are needed for your purchase, they will be emailed to you shortly.

      <br><br>

      You will be automatically re-directed to your purchase history in 10 seconds...
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-sm-12 text-right"><a class="btn btn-primary" data-ng-href="#/{{orgurl}}/purchases"><i class="fa fa-usd fa-fw"></i> Go to my purchase history</a></div>
      </div>
    </div>
  </div>
</div>

<div class="row" data-ng-show='!pageData.paymentComplete'>

<h3>Checkout</h3>

  <div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
        <div class="col-md-4">
          <label style="line-height: 1 !important;margin-bottom: 0px!important;">Item Name</label>
        </div>
        <div class="col-md-3">
            <label style="line-height: 1 !important;margin-bottom: 0px!important;">Person</label>
        </div>
            <div class="col-md-3">
                <label style="line-height: 1 !important;margin-bottom: 0px!important;">Fee</label>
            </div>
        <div class="col-md-2">
            <label style="line-height: 1 !important;margin-bottom: 0px!important;">Qty</label>
        </div>
    </div>
    </div>

    <div class="panel-body">

      <div data-ng-repeat="item in cart.data">
        <div class="row clearfix spacing">
          <div class="col-md-4">
            <button class="btn btn-danger btn-sm" data-ng-click="removeItem({{item.shopping_item_id}})"><i class="glyphicon glyphicon-trash icon-white"></i> </button>
              <a href ng-click="gotoItemInfoPage(item.main_item_id, link.type_name)">{{item.item_name}}</a>
          </div>

          <div class="col-md-3">{{item.person_name}}</div>
          <div class="col-md-3"><span data-ng-show="item.total_fee > 0">${{item.total_fee}}</span> <span data-ng-show="cart.hasPromo && item.total_original_fee > 0">*</span></div>
            <div class="col-md-2">{{item.quantity}}</div>
        </div>

        <div class="row clearfix spacing" data-ng-repeat="link in item.linked_items.data" data-ng-show="item.link_hidden == 0">
          <div class="col-md-4">
            <button class="btn btn-danger btn-sm" data-ng-click="removeItem({{link.linked_shopping_item_id}})"><i class="glyphicon glyphicon-trash icon-white"></i> </button> <i class="glyphicon glyphicon-option-vertical icon-black"></i>
              <a href ng-click="gotoItemInfoPage(link.main_item_id, link.type_name)">{{link.linked_item_name}}</a>
          </div>
          <div class="col-md-3">{{link.linked_person_name}}</div>
          <div class="col-md-3"><span data-ng-show="link.linked_total_fee > 0">${{link.linked_total_fee}}</span> <span data-ng-show="cart.hasPromo && link.linked_total_original_fee > 0">*</span></div>
            <div class="col-md-2">{{link.linked_quantity}}</div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="row clearfix spacing" ng-cloak="true">
    <div class="col-sm-12">
      <a twitter  data-lang="en" data-count='horizontal' data-url='https://alphadev.bluerec.com/php/onlinereg/#/alphadev/checkout' data-via='bluerec' data-size="medium" data-text='' ></a>
      <div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href='https://alphadev.bluerec.com/php/onlinereg/#/alphadev/checkout' data-action='share'></div>
      <div class="fb-share-button" data-href="https://alphadev.bluerec.com/php/onlinereg/#/alphadev/checkout" data-layout="button_count"></div>
    </div>
  </div>-->

  <div class="row clearfix spacing" data-ng-if="promoCodeEnabled">
    <p class="col-sm-12" data-ng-repeat="promo in cart.promoText"><em>* {{promo}}</em></p>
  </div>

  <div class="row clearfix spacing" data-ng-if="promoCodeEnabled">
    <div class="col-sm-3">
      <input type="text" class="form-control" data-ng-model="promoCode" name="promo-code" id="promo-code" placeholder="">
    </div>
    <div class="col-sm-3">
      <button class="btn btn-success btn-sm" data-ng-click="checkPromo()"><span class="fa-stack fa-md"><i class="fa fa-circle-thin fa-stack-2x"></i><i class="fa fa-tag fa-stack"></i></span> Apply Promo Code</button>
    </div>
  </div>

  <h3>Total: ${{(cart.totalFee).toFixed(2)}}</h3>

  <div class="panel panel-default" data-ng-show="cart.totalFee > 0">
    <div class="panel-heading">
      <label>Payment</label>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" role="form">
        <fieldset>

          <div class="row" data-ng-show="paymentErrors.length > 0">
            <div class="col-xs-12">
              <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Please address the following issues:
                <ul>
                <span data-ng-repeat="error in paymentErrors"><li>{{error}}</li></span>
                </ul>
              </div>
            </div>
          </div>

            <input style="display:none">
            <input type="password" style="display:none">

            <legend>Payment Information</legend>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" data-ng-model="cardForm.customerName" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="card-number">Card Number</label>
            <div class="col-sm-9 form-inline">
              <input type="{{(cardForm.showCCNumber)? 'text' : 'password'}}" class="form-control" data-ng-model="cardForm.cardNumber" name="card-number" id="card-number" placeholder="Debit/Credit Card Number">
              <checkbox class="text-primary" data-ng-model="cardForm.showCCNumber" /> Show Number
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-xs-3">
                  <select class="form-control col-sm-2" data-ng-model="cardForm.expMonth" name="expiry-month" id="expiry-month">
                    <option>Month</option>
                    <option value="01">Jan (01)</option>
                    <option value="02">Feb (02)</option>
                    <option value="03">Mar (03)</option>
                    <option value="04">Apr (04)</option>
                    <option value="05">May (05)</option>
                    <option value="06">June (06)</option>
                    <option value="07">July (07)</option>
                    <option value="08">Aug (08)</option>
                    <option value="09">Sep (09)</option>
                    <option value="10">Oct (10)</option>
                    <option value="11">Nov (11)</option>
                    <option value="12">Dec (12)</option>
                  </select>
                </div>
                <div class="col-xs-3">
                  <select class="form-control" data-ng-model="cardForm.expYear" name="expiry-year">
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
            <div class="col-sm-9 form-inline">
              <input type="{{(cardForm.showCVVNumber)? 'text' : 'password'}}" class="form-control" data-ng-model="cardForm.cardCvv" name="cvv" id="cvv" placeholder="Security Code">
              <checkbox class="text-primary" data-ng-model="cardForm.showCVVNumber" /> Show Number
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="charge">Amount to charge</label>
            <div class="col-sm-3">
              <label class="control-label" id="charge">${{(cart.totalFee).toFixed(2)}}</label>
            </div>
          </div>
          <div class="form-group" data-ng-if="paymentResponse.errors.length > 0">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="alert alert-danger">
                The following issues occured when trying to authorize payment:
                <ul>
                  <li quick-ng-repeat="error in paymentResponse.errors">{{error.error.text}}</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button type="button" class="btn btn-success" data-ng-click="payCart()" data-ng-if="!payingCart"><i class="fa fa-usd"></i> Pay Now</button>
              <button type="button" class="btn btn-disabled" data-ng-if="payingCart">Processing Payment...</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

</div>
