<div class="row" data-ng-animate="'slide'" data-ng-show="home.validUser">
	<div class="container">
		<h3>What would you like to do?</h3>

		<p>This page will help you find what you are looking for.</p>

		<h4>Activities</h4>

		<p>In the Activities section, you can find and register for a number of programs, classes, and leagues. You can
			also find out more information about the activities you are registered for, such as the dates that the
			activity takes place, which facility it is located at and, for some activities, even volunteer to help
			out!</p>

		<div class="spacing clearfix"><a href="#/{{home.orgurl}}/programs" class="btn btn-info col-md-2"><i
				class="fa fa-futbol-o"></i> Go to Activities</a></div>

		<h4>Memberships</h4>

		<p>The membership section is designed to help you find and purchase the membership that is right for you!
			Already have a membership? You can renew existing memberships or, if necessary, cancel an existing
			membership
			right from your computer!</p>

		<div class="spacing clearfix"><a href="#/{{home.orgurl}}/memberships" class="btn btn-info col-md-2"><i
				class="fa fa-credit-card"></i> Go to Memberships</a></div>

		<h4>Facility Reservations</h4>

		<p>The reservation section can help you find available times to rent at our various facilities. You can see what
			times are already booked, request a time for your rental and see the estimated cost. We also give
			you the opportunity to fill out any additional information so your reservation can be booked as quickly as
			possible!</p>

		<div class="spacing clearfix"><a href="#/{{home.orgurl}}/reservations" class="btn btn-info col-md-2"><i
				class="fa fa-check-square-o"></i> Go to Reservations</a></div>
	</div>

</div>