<div data-ng-animate=" 'slide-animate' ">

  <h3>Active Leagues</h3>

  <div>
    <div class="panel panel-primary">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">Adult Basketball - Demo League</h3>
      </div>
      <div class="panel-body">

        <div class="bs-callout bs-callout-danger" id="callout-type-b-i-elems">
          <div class="row">
            <i class="fa fa-exclamation-triangle fa-3x pull-left fa-border text-danger"></i>
            <h4>Notice:</h4>
            All week 1 games have been rescheduled!<br>Please check the league page for make-up games
            and practice schedules!
          </div>
        </div>

        <h4>League Information</h4>

        La Mirada Adult Basketball will once again create a recreational basketball league in our area.
        The league is designed to provide men and women an outlet to compete, but more importantly help them to develop
        their skills and give all participants an equal opportunity to play. To accomplish this, we have instituted rules that
        require equal play.  The program is designed to be competitive and each game will have a score as well as an end of
        season March Maddness Tournament.

        <h4>Fees and Registration</h4>

        Team Registration Fee: $325<br>
        Registration Begins October 1st and ends on Jan 10th.

        <div class="row">
          <div class="col-xs-12">
            <a href="#/{{orgurl}}/leagues/2015DemoLeague" class="btn btn-info pull-right"><i class="fa fa-sign-in"></i> League Page</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
