
<div class="row">

<h3>Pre-Checkout</h3>

  <p>Before you can complete your purchase, some additional items are required.</p>

  <form name="customForm" class="form-horizontal" role="form" data-ng-submit="submitPreCheckRequest()">
    <ng-form name="customForm">

      <div class="panel panel-default" data-ng-show="preLoad.hasFields">
        <div class="panel-heading">
          <label>Additional Information</label>
        </div>
        <div class="panel-body">

          <div data-ng-repeat="regField in preLoad.fields">

            <h4>{{regField.item_name}} information for {{regField.user_name}}</h4>
              <div ng-repeat="field in regField.fields.customForm">
                <!-- TEXT FIELDS -->
                <div ng-if="field.type=='text'" class="form-group">
                  <label class="col-sm-2 control-label-center spacing">{{field.label}}</label>
                  <div class="col-sm-6">
                    <input type="{{field.type}}" id="{{field.id}}" data-ng-model="field.response_value" class="form-control">
                  </div>
                </div>

                <!-- NUMERIC FIELDS -->
                <div ng-if="field.type=='number'" class="form-group">
                  <label class="col-sm-2 control-label-center spacing">{{field.label}}</label>
                  <div class="col-sm-6">
                    <input type="text" id="{{field.name}}" data-ng-model="field.response_value"  class="form-control">
                  </div>
                </div>

                <!-- SELECT FIELDS -->
                <div ng-if="field.type=='select'" class="form-group" >
                  <label class="col-sm-2 control-label-center spacing">{{field.label}}</label>
                  <div class="col-sm-6">
                    <select
                            data-ng-model="field.selected_response"
                            ng-options="optionItem.label for optionItem in field.options track by optionItem.id"
                            class="form-control">
                    </select>
                  </div>
                </div>

                <!-- CHECKBOX FIELDS -->
                <div ng-if="field.type=='checkbox'" class="form-group" >
                  <label class="col-sm-2 control-label-center spacing">{{field.label}}</label>
                  <div class="col-sm-6">
                    <!--<input type="checkbox" data-ng-if="person.customForm[$index].required" data-ng-model="person.customForm[$index].response_value"  name="taskGroup" id="{{field.name}}" value="{{field.id}}" required/>
                    <input type="checkbox" data-ng-if="!person.customForm[$index].required" data-ng-model="person.customForm[$index].response_value"  name="taskGroup" id="{{field.name}}" value="{{field.id}}"/>

                    --><checkbox class="btn-primary checkbox-bump-down" data-ng-if="field.required" data-ng-model="field.response_value"></checkbox>
                    <checkbox class="btn-primary checkbox-bump-down" data-ng-if="!field.required" data-ng-model="field.response_value"></checkbox>
                  </div>
                </div>
              </div>
          </div>

        </div>
      </div>

      <div class="spacing" data-ng-show="(preLoad.sradata.length > 0)"> </div>

      <div class="panel panel-default" data-ng-show="(preLoad.sradata.length > 0)">
        <div class="panel-heading">
          <label>Medical Information</label>
        </div>
        <div class="panel-body">
          <h4>Important Medical Information</h4>
          <p>Please confirm/update the following information for our records. Leave blank if not applicable.</p>

          <div data-ng-repeat="sracontact in preLoad.sradata">

            <p>Information for {{sracontact.participant}}</p>

            <div class="form-group" data-ng-show="sracontact.showcheckbox">
              <label for="medications" class="col-sm-2 control-label"></label>
              <div class="col-sm-6">
                <checkbox class="btn-primary" ng-true-value="1" ng-false-value="0" data-ng-model="sracontact.assistance"></checkbox>  I require modification/assistance to participate in this program.
              </div>
            </div>

            <div class="form-group" data-ng-show="!sracontact.showcheckbox">
              <label for="medications" class="col-sm-2 control-label">Current Medications:</label>
              <div class="col-sm-6">
                <input type="text" id="medications" data-ng-model="sracontact.medications" class="form-control"/>
              </div>
            </div>

            <div class="form-group" data-ng-show="!sracontact.showcheckbox">
              <label for="allergies" class="col-sm-2 control-label">Allergies:</label>
              <div class="col-sm-6">
                <input type="text" id="allergies" data-ng-model="sracontact.allergies" class="form-control"/>
              </div>
            </div>

            <div class="form-group" data-ng-show="!sracontact.showcheckbox">
              <label for="disabilities" class="col-sm-2 control-label">Disabilities:</label>
              <div class="col-sm-6">
                <input type="text" id="disabilities" data-ng-model="sracontact.disabilities" class="form-control"/>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="spacing" data-ng-show="(preLoad.emergencycontacts.data.length > 0 && (requiredEmergencyCount > 0 || availableEmergencyCount > 0))"> </div>

      <div class="panel panel-default" data-ng-show="(preLoad.emergencycontacts.data.length > 0 && (requiredEmergencyCount > 0 || availableEmergencyCount > 0))">
        <div class="panel-heading">
          <label>Emergency Contacts</label>
        </div>
        <div class="panel-body">
          <h4>Emergency Contact Information</h4>
          <p>Please provide at least <span data-ng-bind="requiredEmergencyCount"></span> emergency contact(s).</p>

          <div data-ng-repeat="contact in preLoad.emergencycontacts.data">

            <div class="alert alert-danger" role="alert" data-ng-show="(contact.errors.length > 0)?true:false"><div data-ng-repeat="error in contact.errors">{{error.message}}</div></div>

            <div class="form-group">
              <label for="contactName" class="col-sm-2 control-label"><span data-ng-if="contact.required">* </span><span data-ng-bind="($index + 1)"></span>) Contact Name</label>
              <div class="col-sm-6">
                <input type="text" id="contactName" data-ng-model="contact.contactName" placeholder="Firstname Lastname" class="form-control" data-ng-required="contact.required" />
              </div>
            </div>

            <div class="form-group">
              <label for="contactRelationship" class="col-sm-2 control-label"><span data-ng-if="contact.required">* </span><span data-ng-bind="($index + 1)"></span>) Relationship</label>
              <div class="col-sm-6">
                <input type="text" id="contactRelationship" data-ng-model="contact.contactRelationship" placeholder="Relationship to participant" class="form-control" data-ng-required="contact.required"/>
              </div>
            </div>

            <div class="form-group">
              <label for="contactPhone" class="col-sm-2 control-label"><span data-ng-if="contact.required">* </span><span data-ng-bind="($index + 1)"></span>) Phone #</label>
              <div class="col-sm-6">
                <input type="text" id="contactPhone" data-ng-model="contact.contactPhone" value="" class="form-control" ui-mask="(999) 999-9999" data-ng-required="contact.required"/>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="spacing" data-ng-show="preLoad.hasAddons"> </div>

      <div class="panel panel-default" data-ng-show="preLoad.hasAddons">
        <div class="panel-heading">
          <label>Add-Ons</label>
        </div>
        <div class="panel-body">

          <div data-ng-repeat="addon in preLoad.addons">

            <h4>{{addon.item_name}} add-ons for {{addon.user_name}}</h4>

            <div data-ng-show="addon.package_dates">
              <div class="row" data-ng-repeat="item in addon.addons.packages.uniqueItems">
                <div class="col-sm-2">
                  <h5>{{item.item_name}}:</h5>
                </div>
                <div class="col-sm-2">
                  <div data-ng-repeat="fee in item.original_fees.data">
                    <h5>{{fee.fee_name}}: ${{fee.fee_amount}}/day</h5>
                  </div>
                </div>
              </div>
            </div>

            <div data-ng-show="addon.package_dates">
              Select Dates

              <div class="row seven-cols" style="table-layout: fixed;width: 100%;margin:0px;padding:0px;">
                <div data-ng-show="addon.addons.packages.weekdays[0].enabled" class="col-md-1 hidden-xs" style="text-align:center; outline: 2px solid #ccc;height: 35px;margin-top: 0;margin-bottom: 0;">Sun</div>
                <div data-ng-show="addon.addons.packages.weekdays[1].enabled" class="col-md-1 hidden-xs" style="text-align:center; outline: 2px solid #ccc;height: 35px;margin-top: 0;margin-bottom: 0;">Mon</div>
                <div data-ng-show="addon.addons.packages.weekdays[2].enabled" class="col-md-1 hidden-xs" style="text-align:center; outline: 2px solid #ccc;height: 35px;margin-top: 0;margin-bottom: 0;">Tue</div>
                <div data-ng-show="addon.addons.packages.weekdays[3].enabled" class="col-md-1 hidden-xs" style="text-align:center; outline: 2px solid #ccc;height: 35px;margin-top: 0;margin-bottom: 0;">Wed</div>
                <div data-ng-show="addon.addons.packages.weekdays[4].enabled" class="col-md-1 hidden-xs" style="text-align:center; outline: 2px solid #ccc;height: 35px;margin-top: 0;margin-bottom: 0;">Thu</div>
                <div data-ng-show="addon.addons.packages.weekdays[5].enabled" class="col-md-1 hidden-xs" style="text-align:center; outline: 2px solid #ccc;height: 35px;margin-top: 0;margin-bottom: 0;">Fri</div>
                <div data-ng-show="addon.addons.packages.weekdays[6].enabled" class="col-md-1 hidden-xs" style="text-align:center; outline: 2px solid #ccc;height: 35px;margin-top: 0;margin-bottom: 0;">Sat</div>
              </div>

              <div class="row seven-cols" style="table-layout: fixed;width: 100%;margin:0px;padding:0px;">
                <div data-ng-show="wkday.enabled" data-ng-repeat="wkday in addon.addons.packages.weekdays" class="col-md-1" style="outline: 2px solid #ccc;margin-top: 0;margin-bottom: 0;">
                  Every {{wkday.label}}:
                  <div data-ng-repeat="wkdPkg in addon.addons.packages.uniqueItems">
                    <checkbox class="btn-primary" ng-true-value="1" ng-false-value="0" data-ng-model="wkday.items[$index].selected" name="wkdPkg.item_name" data-ng-change="preLoad.updateEveryDateAddonFees($parent.$parent.$index, $index, wkdPkg.item_id, $parent.$index)"></checkbox>
                    {{wkdPkg.item_name}}
                    <div class="spacing"></div>
                  </div>
                </div>
              </div>

              <div class="row seven-cols" style="table-layout: fixed;height: 95px;width: 100%;margin:0px;padding:0px;" data-ng-repeat="week in addon.addons.packages.weeks">
                <div data-ng-show="addon.addons.packages.weekdays[$index].enabled" class="col-md-1" style="outline: 2px solid #ccc;height: 95px;margin-top: 0;margin-bottom: 0;" data-ng-repeat="weekday in week.weekday">
                  {{weekday.label}}
                  <div data-ng-repeat="pkg in weekday.packages">
                    <checkbox class="btn-{{(pkg.remaining <= 0)?'danger':'primary'}}" data-ng-change="preLoad.clickDateAddon($parent.$parent.$parent.$index, $parent.$parent.$index, $parent.$index, $index, pkg.uuid, pkg.item_id, pkg.remaining)" ng-true-value="1" ng-false-value="0" data-ng-model="pkg.selected" name="pkg.item_name"></checkbox>
                    <span class="text-danger" data-ng-if="(pkg.remaining <= 0)">(Full) </span>{{pkg.item_name}}
                    <div class="spacing"></div>
                  </div>
                </div>
              </div>

              <div data-ng-show="addon.package_dates">
                <div class="row" data-ng-repeat="item in addon.addons.packages.uniqueItems">
                  <div class="col-sm-2">
                    <h5>{{item.item_name}}:</h5>
                  </div>
                  <div class="col-sm-2">
                    <div data-ng-repeat="selfee in item.fees.data">
                      <h5>Total for Selected: {{selfee.fee_amount | currency}}</h5>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="table-responsive" data-ng-show="!addon.package_dates">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <td>Purchase</td>
                  <td>Add-On Name</td>
                  <td>Add-On Code</td>
                  <td>Fee(s)</td>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="pkg in addon.addons.packages | filter:{item_type:'!PKG-D'}" >
                  <td>
                    <checkbox class="btn-{{(pkg.remaining <= 0)?'danger':'primary'}}" data-ng-change="preLoad.updateAddonFees(pkg.uuid)" ng-true-value="1" ng-false-value="0" data-ng-model="pkg.selected" name="pkg.item_name"></checkbox>
                    <!--<checkbox class="btn-primary" data-ng-click="preLoad.updateAddonFees($parent.$parent.$index, $index)" ng-true-value="1" ng-false-value="0" data-ng-model="pkg.selected" name="pkg.item_name"></checkbox>-->
                  </td>
                  <td><span class="text-danger" data-ng-if="(pkg.remaining <= 0)">(Full) </span>{{pkg.item_name}}</td>
                  <td>{{pkg.item_code}}</td>
                  <td><p data-ng-repeat="pkgfee in pkg.fees">{{pkgfee.fee_name}} ${{pkgfee.fee_amount}}</p></td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="table-responsive" data-ng-repeat="pkg in addon.addons.packages | filter:{item_type:'PKG-D'}">

              <h5 data-ng-show="{{$first}}">The following packages allow weekday selection. You must select <span data-ng-show="{{pkg.min_days == pkg.max_days}}">{{pkg.min_days}} days to purchase the package.</span></h5>
              <table class="table table-bordered" data-ng-show="{{$first}}">
                <thead>
                <tr>
                  <td>Purchase</td>
                  <td>Add-On Name/Days</td>
                  <td>Add-On Code</td>
                  <td>Fee(s)</td>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="pkg in addon.addons.packages | filter:{item_type:'PKG-D'}">
                  <td>
                    <checkbox class="btn-{{(pkg.remaining <= 0)?'danger':'primary'}}" data-ng-change="preLoad.updateAddonFees(pkg.uuid)" ng-true-value="1" ng-false-value="0" data-ng-model="pkg.selected" name="pkg.item_name"></checkbox>
                  </td>
                  <td><span class="text-danger" data-ng-if="(pkg.remaining <= 0)">(Full) </span>{{pkg.item_name}}</td>
                  <td>{{pkg.item_code}}</td>
                  <td><p data-ng-repeat="pkgfee in pkg.fees">{{pkgfee.fee_name}} ${{pkgfee.fee_amount}}</p></td>
                </tr>
                </tbody>
              </table>


            </div>

          </div>

        </div>
      </div>

      <div class="spacing" data-ng-show="preLoad.hasPayments"> </div>

      <div class="panel panel-default" data-ng-show="preLoad.hasPayments">
        <div class="panel-heading">
          <label>Payment Plan Options</label>
        </div>
        <div class="panel-body">

          <div data-ng-repeat="payment in preLoad.payments">

            <h4>{{payment.item_name}} payment options for {{payment.user_name}}</h4>

            <checkbox class="btn-primary" data-ng-model="payment.use_payments" id="payment.payment_plan_id" name="payment.payment_plan_id"></checkbox>
            <label class="spacing" for="payment.payment_plan_id">Click here if you wish to enroll in the payment plan listed below</label>

            <!--
            <div data-ng-if="payment.use_payments">
              <checkbox class="btn-primary" data-ng-model="payment.use_eft" id="payment.payment_plan_eft_id" name="payment.payment_plan_eft_id"></checkbox>
              <label class="spacing" for="payment.payment_plan_id">Enroll in auto-debit</label>
              <p>By enrolling in auto-debit, you are authorizing the payments listed below to be automatically charged to your credit/debit card on their respective due dates. You may update your payment information at
              any time after your purchase if you wish to use a different card for future payments. If you decide to make any of the following payments ahead of schedule, you may do so without incurring additional charges.</p>
            </div>
            -->

            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <td data-ng-if="payment.use_payments">Pay Now</td>
                  <td>Payment</td>
                  <td>Due Date</td>
                  <td>Fee(s)</td>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="pay in payment.payments">
                  <td data-ng-if="payment.use_payments">
                    <checkbox class="btn-primary" data-ng-model="pay.selected" name="pay.item_name" data-ng-if="pay.required && payment.use_payments" required></checkbox>
                    <checkbox class="btn-primary" data-ng-model="pay.selected" name="pay.item_name" data-ng-if="!pay.required && payment.use_payments"></checkbox>
                  </td>
                  <td>{{pay.item_name}}</td>
                  <td>{{pay.format_due_date}}<span data-ng-if="payment.use_payments && payment.use_eft && !pay.selected"> (Auto-Debit)</span></td>
                  <td><p data-ng-repeat="fee in pay.fees">{{fee.fee_name}} ${{fee.fee_amount}}</p></td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>

        </div>
      </div>

      <div class="spacing"> </div>

      <div class="panel panel-default" data-ng-show="preLoad.hasWaivers">
        <div class="panel-heading">
          <label>Waivers</label>
        </div>
        <div class="panel-body">
          <div class="panel panel-primary" data-ng-repeat="waiverData in preLoad.waivers">
            <div class="panel-heading clearfix">
              <h3 class="panel-title"><span data-ng-if="waiverData.is_optional == '1'">(Optional) </span>{{waiverData.waiver_name}}</h3>
            </div>

            <div class="panel-body">
              <div name="txtWaiver" id="txtWaiver" class="well scrollbox" data-ng-enable="false" data-ng-bind-html="waiverData.waiver_text" rows="3"></div>

              <div>
                <p><strong>
                  I understand that by clicking the box below stating that I accept this agreement, that I am entering into a binding contract and that it is my understanding and intention that by clicking the box below indicating that I accept this agreement shall have the same legal effect as if I had manually signed this document.
                </strong></p>
              </div>

              <div class="form-group" >
                <div class="container" data-ng-repeat="signoff in waiverData.signoff">
                  <div class="row">
                    <div class="col-xs-12 col-md-6 spacing">
                      <checkbox class="btn-primary" data-ng-model="signoff.agreed" data-ng-change="checkWaiverAgreed($parent.$index, $index)" id="signoff.name" name="signoff.name" required></checkbox>

                      <span data-ng-show="signoff.agreed">
                        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="{{'#' + signoff.print_id}}"><i class="glyphicon glyphicon-print"></i></a>
                      </span>

                      <label for="signoff.name">I agree to the terms outlined in the above <span data-ng-if="waiverData.is_optional == '1'">optional </span>waiver on behalf of {{signoff.user_name}}.</label>
                    </div>

                    <div class="col-xs-12 col-md-6 spacing">
                      <checkbox class="btn-primary" data-ng-model="signoff.notagreed" data-ng-change="checkWaiverNotAgreed($parent.$index, $index)" id="signoff.namenotagree" name="signoff.namenotagree"></checkbox>
                      <label for="signoff.namenotagree">I <strong>DO NOT</strong> agree.</label>
                    </div>

                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="spacing"> </div>

      <div class="alert alert-danger" data-ng-if="showWaiverError">
        Please correct the following issues:
        <ul>
          <li quick-ng-repeat="error in waiverErrors">{{error.message}}</li>
        </ul>
      </div>
      <button class="btn btn-disabled" data-ng-if="!readyToCheckout">Please Wait...</button>
      <button type="submit" data-ng-if="readyToCheckout" data-ng-enable="customForm.$valid" id="submitFinal" value="Proceed to Checkout" class="btn btn-success"><i class="fa fa-shopping-cart"></i> Proceed to Checkout</button>
    </ng-form>
  </form>

  <div data-ng-repeat="waiverData in preLoad.waivers">
    <div class="modal fade" id="{{signoff.print_id}}" tabindex="-1" role="dialog" aria-labelledby="termsPopLabel" data-ng-repeat="signoff in waiverData.signoff">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            Waiver
          </div>

          <div class="modal-body printContainer">

            <h4>Waiver</h4>

            <div name="txtWaiver" id="{{'print_' + signoff.print_id}}" class="printContainer" data-ng-bind-html="waiverData.waiver_text">
            </div>

            <div class="modal-footer">
              <button type="button" data-ng-click="printDiv('print_' + signoff.print_id)" class="btn btn-primary" id="printWaiverButton"><i class="glyphicon glyphicon-print"></i> Print</button>
              <button type="button" class="btn btn-danger" id="closeWaiverButton" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
  </div>


</div>
