<h3>Registering for {{proinfo.returnData.item_name}}({{proinfo.returnData.item_code}})</h3>

<div class="bs-callout bs-callout-info" id="callout-type-b-i-elems">
  <p><i class="fa fa-pencil fa-3x fa-top-text"></i>
    This is an example of a note that would be attached to a program. This note will appear here during online registration.
    If multiple notes are attached, they will each appear in their own 'box' so that they are easy to distinguish.</p>
</div>

<h4>Please select the household members that will be registering for this activity:</h4>



<!--
<div class="well" data-ng-repeat="person in proReg.household">
  <div class="row">
      <a href="#" class="btn btn-primary"><i class="fa fa-sign-in"></i> Register {{person.firstname}} {{person.lastname}}</a>
  </div>
</div>
-->
<div class="panel panel-default" data-ng-repeat="person in proReg.household">
  <div class="panel-heading"><input type="checkbox" ng-model="person.registrationSelected" data-ng-change="proReg.startRegistration($index)" aria-label="Register {{person.firstname}} {{person.lastname}}"> {{person.firstname}} {{person.lastname}}</div>
  <div class="panel-body">

    <progressbar data-ng-show="person.step > 0" class="progress-striped active" max="max" value="(person.step/person.totalSteps) * 100">Step {{person.step}} of {{person.totalSteps}}</progressbar>

    <div ng-show='person.showLoadingRegistration'>Checking Requirements... <i class="fa fa-cog fa-spin"></i></div>
    <div class="alert alert-danger" role="alert" data-ng-repeat="failedReq in person.failed">{{failedReq}}</div>

    <div class="panel panel-default" data-ng-show="person.step === 1">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Participant Information</h3>
      </div>

      <form name="partForm" class="form-horizontal" role="form" ng-submit="proReg.submitPartForm($index)">
        <ng-form name="partForm">

          <div class="panel-body">
            <div class="form-group">
              <label class="col-sm-2 control-label-center">Firstname</label>
              <div class="col-sm-6 control-label-center input-group">
                <input type="text" id="firstname" data-ng-model="person.partForm.firstname" value="{{person.partForm.firstname}}" class="form-control disabled" disabled required/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label-center">Lastname</label>
              <div class="col-sm-6 control-label-center input-group">
                <input type="text" id="lastname" data-ng-model="person.partForm.lastname" value="{{person.partForm.lastname}}" class="form-control disabled" disabled required/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label-center">Gender</label>
              <div class="col-sm-6 control-label-center input-group">
                <select id="gender" class="form-control" data-style="btn-inverse" data-ng-model="person.partForm.gender" data-ng-options="genOp.value as genOp.name for genOp in proReg.genderOptions"></select>
              </div>
            </div>

            <div class="form-group">
              <div class="alert alert-danger" role="alert" data-ng-show="partForm.birthday.$dirty && partForm.birthday.$error.required">Birthday is required</div>
              <label class="col-sm-2 control-label-center">Birthday</label>
              <div class="col-sm-6 control-label-center input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary" ng-click="proReg.birthdayOpen($event,$index)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                <input type="text" name="birthday" class="form-control" datepicker-popup="M/d/yyyy" value="{{person.partForm.birthday}}" ng-model="person.partForm.birthday" is-open="proReg.datepickers[$index]" min-date="'1900-01-01'" max-date="'2015-06-22'" datepicker-options="proReg.dateOptions" ng-required="true" close-text="Close">
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label-center">Grade</label>
              <div class="col-sm-6 control-label-center input-group">
                <select id="grade" class="form-control" data-style="btn-inverse" data-ng-model="person.partForm.grade" data-ng-options="gradeOp.value as gradeOp.name for gradeOp in proReg.gradeOptions"></select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label-center">&nbsp;</label>
              <div class="col-sm-6 control-label-center input-group">
                <button type="submit" id="submit" value="Submit" class="btn btn-info" data-ng-enable="partForm.$valid"><i class="fa fa-caret-square-o-right"></i> Save and Continue</button>
              </div>
            </div>
          </div>
        </ng-form>
      </form>
    </div>





    <div class="panel panel-default" data-ng-show="person.step === 2 && person.has_custom_fields">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Program Information</h3>
      </div>

      <form name="customForm" class="form-horizontal" role="form" ng-submit="proReg.submitCustomForm($index)">
        <ng-form name="customForm">

          <div class="panel-body">

            <div ng-repeat="field in person.customForm">
              <!-- TEXT FIELDS -->
              <div ng-if="field.type=='text'" class="form-group">
                <label class="col-sm-2 control-label-center">{{field.label}}</label>
                <div class="col-sm-6">
                  <input type="{{field.type}}" id="{{field.id}}" data-ng-model="person.customForm[$index].response_value" class="form-control" required/>
                </div>
              </div>

              <!-- NUMERIC FIELDS -->
              <div ng-if="field.type=='number'" class="form-group">
                <label class="col-sm-2 control-label-center">{{field.label}}</label>
                <div class="col-sm-6">
                  <input type="text" id="{{field.name}}" data-ng-model="person.customForm[$index].response_value"  class="form-control" required/>
                </div>
              </div>

              <!-- SELECT FIELDS -->
              <div ng-if="field.type=='select'" class="form-group" >
                <label class="col-sm-2 control-label-center">{{field.label}}</label>
                <div class="col-sm-6">
                  <select data-ng-model="person.customForm[$index].response_value" class="form-control" prompt="Select One" required>
                    <option data-ng-repeat="option in field.options">{{option}}</option>
                  </select>
                </div>
              </div>

              <!-- CHECKBOX FIELDS -->
              <div ng-if="field.type=='checkbox'" class="form-group" >
                <label class="col-sm-2 control-label-center">{{field.label}}</label>
                <div class="col-sm-6">
                  <input type="checkbox" data-ng-model="person.customForm[$index].response_value"  name="taskGroup" id="{{field.name}}" value="{{field.id}}"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label-center">&nbsp;</label>
              <div class="col-sm-6">
                <button type="submit" id="submitCustom" value="Submit" class="btn btn-info" data-ng-enable="customForm.$valid"><i class="fa fa-caret-square-o-right"></i> Save and Continue</button>
              </div>
            </div>

          </div>
        </ng-form>
      </form>
    </div>



















    <div data-ng-show="(person.hasCustomFields && person.failedCount === 1000)">


      <form name="myForm" class="form-horizontal" role="form" ng-submit="proReg.submitCustomForm($index)">
        <ng-form name="form">

          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title">Program Information</h3>
            </div>

            <div class="panel-body">
              <div ng-repeat="field in person.customForm track by $index">
                <!-- TEXT FIELDS -->
                <div ng-if="field.type=='text'" class="form-group">
                  <div class="alert alert-danger" role="alert" data-ng-show="form.input{{$index}}.$dirty && form.input{{$index}}.$error.required">{{field.label}} is required</div>
                  <label class="col-sm-2 control-label-center">{{field.label}}</label>
                  <div class="col-sm-6">
                    <input type="{{field.type}}" id="{{field.id}}" data-ng-model="field.response_value" class="form-control" required/>
                  </div>
                </div>

                <!-- NUMERIC FIELDS -->
                <div ng-if="field.type=='number'" class="form-group">
                  <div class="alert alert-danger" role="alert" data-ng-show="form.input{{$index}}.$dirty && form.input{{$index}}.$error.required">{{field.label}} is required</div>
                  <label class="col-sm-2 control-label-center">{{field.label}}</label>
                  <div class="col-sm-6">
                    <input type="text" id="{{field.name}}" data-ng-model="field.response_value"  class="form-control" required/>
                  </div>
                </div>

                <!-- SELECT FIELDS -->
                <div ng-if="field.type=='select'" class="form-group" >
                  <label class="col-sm-2 control-label-center">{{field.label}}</label>
                  <div class="col-sm-6">
                    <select data-ng-model="field.response_value" class="form-control" prompt="Select One" required>
                      <option data-ng-repeat="option in field.options">{{option}}</option>
                    </select>
                  </div>
                </div>

                <!-- CHECKBOX FIELDS -->
                <div ng-if="field.type=='checkbox'" class="form-group" >
                  <label class="col-sm-2 control-label-center">{{field.label}}</label>
                  <div class="col-sm-6">
                    <input type="checkbox" data-ng-model="field.response_value"  name="taskGroup" id="{{field.name}}" value="{{field.id}}"/>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading clearfix">
              <h3 class="panel-title">Participant Information</h3>
            </div>

            <div class="panel-body">
              <div class="form-group">
                <label class="col-sm-2 control-label-center">Firstname</label>
                <div class="col-sm-6 control-label-center input-group">
                  <input type="text" id="firstname" data-ng-model="person.userForm.firstname" value="{{person.userForm.firstname}}" class="form-control" required/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label-center">Lastname</label>
                <div class="col-sm-6 control-label-center input-group">
                  <input type="text" id="lastname" data-ng-model="person.userForm.lastname" value="{{person.userForm.lastname}}" class="form-control" required/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label-center">Gender</label>
                <div class="col-sm-6 control-label-center input-group">
                  <input type="text" id="gender" data-ng-model="field.response_value" class="form-control" required/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label-center">Birthday</label>
                <div class="col-sm-6 control-label-center input-group">
                  <input type="date" class="form-control" datepicker-popup value="{{person.userForm.birthday}}" ng-model="person.userForm.birthday" is-open="proReg.datepickers[$index]" min-date="'1900-01-01'" max-date="'2015-06-22'" datepicker-options="proReg.dateOptions" ng-required="true" close-text="Close">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="proReg.birthdayOpen($event,$index)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label-center">Grade</label>
                <div class="col-sm-6 control-label-center input-group">
                  <input type="text" id="grade" data-ng-model="field.response_value" class="form-control" required/>
                </div>
              </div>
            </div>
          </div>
        </ng-form>
      </form>







    </div>

    <div class="form-group" data-ng-show="(person.failedCount === 0)" data-ng-repeat="waiverData in person.waivers">
      <label for="txtWaiver">{{waiverData.waiver_name}}</label>
      <textarea name="txtWaiver" id="txtWaiver" class="form-control" rows="3">{{waiverData.waiver_text}}</textarea>
    </div>
  </div>
</div>
