<h3>Registering for {{proinfo.returnData.item_name}}({{proinfo.returnData.item_code}})</h3>

<div class="bs-callout bs-callout-warning" id="callout-type-b-i-elems">
  <div class="row">
  <p><i class="fa fa-pencil fa-2x pull-left fa-border text-warning"></i>
    This is an example of a note that would be attached to a program. This note will appear here during online registration.
    If multiple notes are attached, they will each appear in their own 'box' so that they are easy to distinguish.</p>
  </div>
</div>

<div class="bs-callout bs-callout-info" id="callout-type-b-i-elems" data-ng-show="proinfo.returnData.fileCount > 0">
  <div class="row">
  <div class="col-xs-12 text-left">
    <h4>Files</h4>

    <p>Additional documents related to this activity can be downloaded here.</p>
  </div>

  <div class="col-xs-12 btn-group hidden-xs" role="group" data-ng-show="proinfo.returnData.fileCount > 0">
    <a href="https://alphadev.bluerec.com/php/organization_files/{{file.organization_id}}/files/item_attachments/{{file.file}}" type="button" class="btn btn-success" data-ng-repeat="file in proinfo.returnData.files"><i class="fa fa-download"></i> {{file.file_name}}</a>
  </div>

  <div class="visible-xs" data-ng-show="proinfo.returnData.fileCount > 0" data-ng-repeat="file in proinfo.returnData.files">
    <div class="col-xs-12 btn-group btn-group-justified">
      <a href="https://alphadev.bluerec.com/php/organization_files/{{file.organization_id}}/files/item_attachments/{{file.file}}" type="button" class="btn btn-success"><i class="fa fa-download"></i> {{file.file_name}}</a>
    </div>
  </div>
    </div>
</div>

<h4>Please select the household members that will be registering for this activity:</h4>


<div class="panel panel-default" data-ng-repeat="person in proReg.household">
  <div class="panel-heading">
    <!--<input type="checkbox" ng-model="person.registrationSelected" data-ng-change="proReg.startRegistration($index)" aria-label="Register {{person.firstname}} {{person.lastname}}"> {{person.firstname}} {{person.lastname}}-->
    <checkbox id="register_{{person.user_id}}" name="register_{{person.user_id}}" class="btn-primary" data-ng-model="person.registrationSelected" data-ng-change="proReg.startRegistration($index)"></checkbox> <label class="clickylabel" for="register_{{person.user_id}}">{{person.firstname}} {{person.lastname}}</label>
    <span class="pull-right hidden-xs" data-ng-show='person.showLoadingRegistration'>Checking Requirements... <i class="fa fa-cog fa-spin"></i></span></div>
  <div class="panel-body">

    <!--<progressbar data-ng-show="person.step > 0" class="progress-striped active" type="{{(person.step < person.totalSteps)?'primary':'success'}}" max="max" value="(person.step/person.totalSteps) * 100">Step {{person.step}} of {{person.totalSteps}}</progressbar></a>-->
    <a id="{{person.anchorHash}}"><div data-ng-show="person.step > 0" class="progress">
      <div class="progress-bar progress-bar-{{(person.step < person.totalSteps)?'primary':'success'}} progress-bar-striped active" role="progressbar"
           aria-valuenow="{{(person.step/person.totalSteps) * 100}}" aria-valuemin="0" aria-valuemax="100" style="width:{{(person.step/person.totalSteps) * 100}}%;">
        Step {{person.step}} of {{person.totalSteps}}
      </div>
    </div></a>

    <div class="alert alert-danger" role="alert" data-ng-repeat="failedReq in person.failed">{{failedReq}}</div>

    <div class="panel panel-default" data-ng-show="person.stepName === 'user'">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Participant Information</h3>
      </div>

      <form name="partForm" class="form-horizontal" role="form" ng-submit="proReg.submitPartForm($index)">
        <ng-form name="partForm">

          <div class="panel-body">

            <div class="form-group">
              <label class="col-sm-2 control-label-center">Firstname</label>
              <div class="col-sm-6">
                <input type="text" id="firstname" data-ng-model="person.partForm.firstname" value="{{person.partForm.firstname}}" class="form-control disabled" disabled required/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label-center">Lastname</label>
              <div class="col-sm-6">
                <input type="text" id="lastname" data-ng-model="person.partForm.lastname" value="{{person.partForm.lastname}}" class="form-control disabled" disabled required/>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label-center">Gender</label>
              <div class="col-sm-6">
                <select id="gender" class="form-control" data-style="btn-inverse" data-ng-model="person.partForm.gender" data-ng-options="genOp.value as genOp.name for genOp in proReg.genderOptions"></select>
              </div>
            </div>

            <div class="form-group">
              <div class="alert alert-danger" role="alert" data-ng-show="partForm.birthday.$dirty && partForm.birthday.$error.required">Birthday is required</div>
              <label class="col-sm-2 control-label-center">Birthday</label>
                <div class="col-sm-6">
                 <span class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span><!--
                --><input class="form-control" ng-model="person.partForm.birthday" data-date-format="M/d/yyyy" name="date" bs-datepicker type="text"></span>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label-center">Grade</label>
              <div class="col-sm-6">
                <select id="grade" class="form-control" data-style="btn-inverse" data-ng-model="person.partForm.grade" data-ng-options="gradeOp.value as gradeOp.name for gradeOp in proReg.gradeOptions"></select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label-center">&nbsp;</label>
              <div class="col-sm-6">
                <button type="submit" id="submit" value="Submit" class="btn btn-info" data-ng-enable="partForm.$valid"><i class="fa fa-caret-square-o-right"></i> Save and Continue</button>
              </div>
            </div>
          </div>
        </ng-form>
      </form>
    </div>





    <div class="panel panel-default" data-ng-show="person.stepName === 'custom' && person.has_custom_fields">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Program Information</h3>
      </div>

      <form name="customForm" class="form-horizontal" role="form" ng-submit="proReg.submitCustomForm($index)">
        <ng-form name="customForm">

          <div class="panel-body">

            <div ng-repeat="field in person.customForm">
              <!-- TEXT FIELDS -->
              <div ng-if="field.type=='text'" class="form-group">
                <label class="col-sm-2 control-label-center">{{field.label}}</label>
                <div class="col-sm-6">
                  <input type="{{field.type}}" id="{{field.id}}" data-ng-model="person.customForm[$index].response_value" class="form-control" required/>
                </div>
              </div>

              <!-- NUMERIC FIELDS -->
              <div ng-if="field.type=='number'" class="form-group">
                <label class="col-sm-2 control-label-center">{{field.label}}</label>
                <div class="col-sm-6">
                  <input type="text" id="{{field.name}}" data-ng-model="person.customForm[$index].response_value"  class="form-control" required/>
                </div>
              </div>

              <!-- SELECT FIELDS -->
              <div ng-if="field.type=='select'" class="form-group" >
                <label class="col-sm-2 control-label-center">{{field.label}}</label>
                <div class="col-sm-6">
                  <select data-ng-model="person.customForm[$index].response_value" class="form-control" prompt="Select One" required>
                    <option data-ng-repeat="option in field.options">{{option}}</option>
                  </select>
                </div>
              </div>

              <!-- CHECKBOX FIELDS -->
              <div ng-if="field.type=='checkbox'" class="form-group" >
                <label class="col-sm-2 control-label-center">{{field.label}}</label>
                <div class="col-sm-6">
                  <!--<input type="checkbox" data-ng-if="person.customForm[$index].required" data-ng-model="person.customForm[$index].response_value"  name="taskGroup" id="{{field.name}}" value="{{field.id}}" required/>
                  <input type="checkbox" data-ng-if="!person.customForm[$index].required" data-ng-model="person.customForm[$index].response_value"  name="taskGroup" id="{{field.name}}" value="{{field.id}}"/>

                  --><checkbox class="btn-default" data-ng-if="person.customForm[$index].required" data-ng-model="person.customForm[$index].response_value" required></checkbox>
                  <checkbox class="btn-default" data-ng-if="!person.customForm[$index].required" data-ng-model="person.customForm[$index].response_value"></checkbox>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label-center">&nbsp;</label>
              <div class="col-sm-6">
                <button type="submit" id="submitCustom" value="Submit" class="btn btn-info" data-ng-enable="customForm.$valid"><i class="fa fa-caret-square-o-right"></i> Save and Continue</button>
              </div>
            </div>

          </div>
        </ng-form>
      </form>
    </div>


    <div class="panel panel-default" data-ng-show="person.stepName === 'waiver'">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Waiver Information</h3>
      </div>

      <form name="waiverForm" class="form-horizontal" role="form" ng-submit="proReg.submitWaiverForm($index)">
        <ng-form name="waiverForm">

          <div class="panel-body">

            <div class="panel panel-info" data-ng-repeat="waiverData in person.waiverForm">
              <div class="panel-heading clearfix">
                <h3 class="panel-title">{{waiverData.waiver_name}}</h3>
              </div>

              <div class="panel-body">
                <div name="txtWaiver" id="txtWaiver" class="well scrollbox" data-ng-enable="false" data-ng-bind-html="waiverData.waiver_text" rows="3"></div>

                <div class="form-group" >
                  <div class="col-sm-6">
                    <input type="checkbox" data-ng-model="waiverData.agreed"  name="waiverData.waiver_name" required/>
                    I agree to the terms outlined in the above waiver.
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-6">
                <button type="submit" id="submitWaiver" value="Submit" class="btn btn-info" data-ng-enable="waiverForm.$valid"><i class="fa fa-caret-square-o-right"></i> Save and Continue</button>
              </div>
            </div>
          </div>

        </ng-form>
      </form>
    </div>


    <div class="panel panel-default" data-ng-show="person.stepName === 'packages' && person.has_packages">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Add-On Options</h3>
      </div>

      <form name="packageForm" class="form-horizontal" role="form" ng-submit="proReg.submitPackageForm($index)">
        <ng-form name="packageForm">

          <div class="panel-body">

            <div class="table-responsive hidden-xs">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <td></td>
                  <td>Add-On Name</td>
                  <td>Add-On Code</td>
                  <td>Fee(s)</td>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="pkg in person.packageForm">
                  <td scope="row">
                    <div class="form-group" >
                      <div class="col-sm-6">
                        <input type="checkbox" data-ng-if="pkg.required" data-ng-model="pkg.selected"  name="pkg.item_name" required/>
                        <input type="checkbox" data-ng-if="!pkg.required" data-ng-model="pkg.selected"  name="pkg.item_name"/>
                      </div>
                    </div>
                  </td>
                  <td>{{pkg.item_name}}</td>
                  <td>{{pkg.item_code}}</td>
                  <td><p data-ng-repeat="pkgfee in pkg.fees">{{pkgfee.fee_name}} ${{pkgfee.fee_amount}}</p></td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="table-responsive visible-xs">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <td></td>
                  <td>Add-On Info</td>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="pkg in person.packageForm">
                  <td scope="row">
                    <div class="form-group" >
                      <div class="col-sm-6">
                        <input type="checkbox" data-ng-if="pkg.required" data-ng-model="pkg.selected"  name="pkg.item_name" required/>
                        <input type="checkbox" data-ng-if="!pkg.required" data-ng-model="pkg.selected"  name="pkg.item_name"/>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p>{{pkg.item_name}}</p>
                    <p>{{pkg.item_code}}</p>
                    <p data-ng-repeat="pkgfee in pkg.fees">{{pkgfee.fee_name}} ${{pkgfee.fee_amount}}</p>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="form-group">
              <div class="col-sm-6">
                <button type="submit" id="submitPackages" value="Submit" class="btn btn-info" data-ng-enable="packageForm.$valid"><i class="fa fa-caret-square-o-right"></i> Save and Continue</button>
              </div>
            </div>
          </div>

        </ng-form>
      </form>
    </div>


    <div class="panel panel-default" data-ng-show="person.stepName === 'payments' && person.has_payments">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Payment Options</h3>
      </div>

      <form name="paymentsForm" class="form-horizontal" role="form" ng-submit="proReg.submitPaymentsForm($index)">
        <ng-form name="paymentsForm">

          <div class="panel-body">

            <div class="table-responsive hidden-xs">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <td></td>
                  <td>Payment</td>
                  <td>Due Date</td>
                  <td>Fee(s)</td>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="pay in person.paymentsForm">
                  <td scope="row">
                    <div class="form-group" >
                      <div class="col-sm-6">
                        <input type="checkbox" data-ng-if="pay.required" data-ng-model="pay.selected"  name="pay.item_name" required/>
                        <input type="checkbox" data-ng-if="!pay.required" data-ng-model="pay.selected"  name="pay.item_name"/>
                      </div>
                    </div>
                  </td>
                  <td>{{pay.item_name}}</td>
                  <td>{{pay.format_due_date}}</td>
                  <td><p data-ng-repeat="fee in pay.fees">{{fee.fee_name}} ${{fee.fee_amount}}</p></td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="table-responsive visible-xs">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <td></td>
                  <td>Payment Info</td>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="pay in person.paymentsForm">
                  <td scope="row">
                    <div class="form-group" >
                      <div class="col-sm-6">
                        <input type="checkbox" data-ng-if="pay.required" data-ng-model="pay.selected"  name="pay.item_name" required/>
                        <input type="checkbox" data-ng-if="!pay.required" data-ng-model="pay.selected"  name="pay.item_name"/>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p>{{pay.item_name}}</p>
                    <p>{{pay.format_due_date}}</p>
                    <p data-ng-repeat="fee in pay.fees">{{fee.fee_name}} ${{fee.fee_amount}}</p>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="form-group">
              <div class="col-sm-6">
                <button type="submit" id="submitPayments" value="Submit" class="btn btn-info" data-ng-enable="paymentsForm.$valid"><i class="fa fa-caret-square-o-right"></i> Save and Continue</button>
              </div>
            </div>
          </div>

        </ng-form>
      </form>
    </div>

    <div class="panel panel-default" data-ng-show="person.stepName === 'review'">
      <div class="panel-heading clearfix">
        <h3 class="panel-title">Add to Cart</h3>
      </div>

      <form name="finalForm" class="form-horizontal" role="form" ng-submit="proReg.submitFinalForm($index)">
        <ng-form name="finalForm">

          <div class="panel-body">

            <div class="form-group">
              <div class="col-sm-6">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                Participant Information
              </div>
            </div>

            <div class="form-group" data-ng-show="person.has_custom_fields">
              <div class="col-sm-6">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                Program Information
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-6">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                Waiver(s)
              </div>
            </div>

            <div class="form-group" data-ng-show="person.has_packages">
              <div class="col-sm-6">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                Add-ons
              </div>
            </div>

            <div class="form-group" data-ng-show="person.has_payments">
              <div class="col-sm-6">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x text-primary"></i>
                  <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                </span>
                Payment Plan Options
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-6">
                <button type="button" id="submitFinal" value="Submit" class="btn btn-success" data-animation="am-fade-and-scale" data-placement="center" data-template="noPaymentGateway.html" bs-modal="modal"><i class="fa fa-plus"></i> <i class="fa fa-shopping-cart"></i> Add to Cart</button>
              </div>
            </div>
          </div>
        </ng-form>
      </form>
    </div>
  </div>
</div>

<script type="text/ng-template" id="noPaymentGateway.html">
  <div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-danger">Unable to add</h3>
        </div>
        <div class="modal-body">
          <p>We apologize, but we were unable to add this item to your shopping cart.</p>

          <p>Reason: No payment gateway has been configured. If you are running in a demo or development setting, this is normal.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" ng-click="$hide()">Close</button>
        </div>
      </div>
    </div>
  </div>
</script>
