<div data-ng-animate=" 'slide-animate' ">

  <h3>Search Activities</h3>
  <form>
  <div class="well row">
    <div class="col-xs-12">
      <div class="row">
          <div class="form-group col-xs-12 col-md-4">
            <label for="searchKeyword">Keyword:</label>
            <input id="searchKeyword" ng-model="query.item_name" class="form-control" data-ng-change="doSearch()" ng-model-options="{debounce: 500}">
          </div>

          <div class="form-group col-xs-12 col-md-4">
            <label for="searchCategory">Category:</label>
            <select id="searchCategory" class="form-control" ng-model="query.type_id" data-ng-change="doSearch()">
              <option value=""></option>
              <option data-ng-repeat="type in proloader.types track by type.type_id" value="{{type.type_id}}">{{type.tree_name}}</option>
            </select>
          </div>

          <div class="form-group col-xs-12 col-md-4">
            <label for="searchLocation">Location:</label>
            <select id="searchLocation" class="form-control" ng-model="query.location_id" data-ng-change="doSearch()">
              <option value=""></option>
              <option data-ng-repeat="loc in proloader.locations track by loc.location_id" value="{{loc.location_id}}">{{loc.location_name}}</option>
            </select>
          </div>

      <!--
      <div class="row spacing" data-ng-show="showAdvancedSearch"></div>
      <div class="row" data-ng-show="showAdvancedSearch">


        <div class="form-group col-xs-4">
          <label>Starts After:</label>
          <input class="form-control">
        </div>

        <div class="form-group col-xs-4">
          <label>Ends Before:</label>
          <input class="form-control">
        </div>

        <div class="form-group col-xs-4">
          <label>Participant:</label>
          <select class="form-control">
            <option data-ng-repeat="person in household">{{person.firstname}} {{person.lastname}}</option>
          </select>
        </div>
      </div>

      <div class="row" data-ng-show="showAdvancedSearch">
        <div class="form-group col-xs-12" style="padding-bottom:2px;margin-bottom:2px;padding-top:2px;">
          <label>Weekdays:</label>
        </div>
      </div>

      <div class="row" data-ng-show="showAdvancedSearch">
        <div class="form-group col-xs-12" style="padding-top:2px;">
          <checkbox name="searchSunday" id="searchSunday" class="btn-primary" data-ng-false-value='' data-ng-model="query.meets_sunday"></checkbox>
          <label class="label-weekday" for="searchSunday">Sun</label>
          <checkbox name="searchMonday" id="searchMonday" class="btn-primary" data-ng-false-value='' data-ng-model="query.meets_monday"></checkbox>
          <label class="label-weekday" for="searchMonday">Mon</label>
          <checkbox name="searchTuesday" id="searchTuesday" class="btn-primary" data-ng-false-value='' data-ng-model="query.meets_tuesday"></checkbox>
          <label class="label-weekday" for="searchTuesday">Tue</label>
          <checkbox name="searchWednesday" id="searchWednesday" class="btn-primary" data-ng-false-value='' data-ng-model="query.meets_wednesday"></checkbox>
          <label class="label-weekday" for="searchWednesday">Wed</label>
          <checkbox name="searchThursday" id="searchThursday" class="btn-primary" data-ng-false-value='' data-ng-model="query.meets_thursday"></checkbox>
          <label class="label-weekday" for="searchThursday">Thu</label>
          <checkbox name="searchFriday" id="searchFriday" class="btn-primary" data-ng-false-value='' data-ng-model="query.meets_friday"></checkbox>
          <label class="label-weekday" for="searchFriday">Fri</label>
          <checkbox name="searchSaturday" id="searchSaturday" class="btn-primary" data-ng-false-value='' data-ng-model="query.meets_saturday"></checkbox>
          <label class="label-weekday" for="searchSaturday">Sat</label>
        </div>
      </div>

      <div class="row" data-ng-show="showAdvancedSearch">
        <div class="form-group col-xs-4">
          <label>Minimum Age:</label>
          <input class="form-control">
        </div>

        <div class="form-group col-xs-4">
          <label>Maximum Age:</label>
          <input class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12" style="padding-bottom:2px;margin-bottom:2px;padding-top:2px;">
          <label>Additional Filters:</label>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-2" style="padding-bottom:2px;margin-bottom:2px;">
          <checkbox name="searchTicket" id="searchTicket" class="btn-primary" data-ng-false-value='' data-ng-model="query.has_tickets"></checkbox>
          <label for="searchTicket">Only Tickets</label>
        </div>
        <div class="form-group col-xs-2" style="padding-bottom:2px;margin-bottom:2px;">
          <checkbox name="searchLeagues" id="searchLeagues" class="btn-primary" data-ng-false-value='' data-ng-model="query.league_program"></checkbox>
          <label for="searchLeagues">Only Leagues</label>
        </div>
        <div class="form-group col-xs-2" style="padding-bottom:2px;margin-bottom:2px;">
          <checkbox name="searchSingle" id="searchSingle" class="btn-primary" data-ng-false-value='' data-ng-model="query.single_day"></checkbox>
          <label for="searchSingle">Single Day</label>
        </div>
        <div class="form-group col-xs-3" style="padding-bottom:2px;margin-bottom:2px;">
          <checkbox name="searchCertificate" id="searchCertificate" class="btn-primary" data-ng-false-value='' data-ng-model="query.requires_certificate"></checkbox>
          <label for="searchCertificate">Requires Certification</label>
        </div>
      </div>


    <div style="margin-top:5px;" class="clicky no-select" ng-click="onSearchPanelOpen()">
      <i data-ng-class="{'text-primary fa fa-lg fa-chevron-circle-up': showAdvancedSearch===true, 'text-primary fa fa-lg fa-chevron-circle-right': showAdvancedSearch===false}"></i>&nbsp;
      <span class="text-underline">{{advancedSearchLabel}}</span>
    </div>

    -->

      </div>
    </div>
  </div>
  </form>

  <div class="spacing"></div>

<div class="row">
  <div class="infiniteScroll" infinite-scroll='proloader.nextPage(query)' infinite-scroll-distance='0'>
    <div class="panel panel-primary" data-ng-repeat="session in proloader.returnData | filter: query.item_name | filter: query.has_tickets | unique: 'identifier'">
      <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">({{session.item_code}}) {{session.item_name}}</h3>
      </div>
      <div class="panel-body">
        <p>
          <div class="media">
            <div class="media-left listing" data-ng-show="session.has_photo">
              <img class="media-object thumbnail" data-ng-src="https://alphadev.bluerec.com/php/organization_files/{{session.photo.organization_id}}/files/item_photos/{{session.photo.file_name}}" alt="{{session.item_name}}">
            </div>
            <div class="media-body" data-ng-bind-html="session.description | sanitize">
            </div>
          </div>

          <div id="sessionList_{{session.identifier}}" class="panel-group">
            <div class="panel panel-default" data-ng-repeat="program in session.programs | filter: query.item_name">
              <div class="panel-heading clearfix clickable" data-parent="#sessionList_{{session.identifier}}" data-toggle="collapse" data-target="#programdetail_{{program.item_id}}">
                <h3 class="panel-title">
                  <div class="row">
                    <div class="col-md-2 col-xs-4">{{program.item_code}}</div>
                    <div class="col-md-2 hidden-xs"><span data-ng-repeat="location in program.locations">{{location.location_name | limitTo:18}} </span></div>
                    <div class="col-md-2 col-xs-8">{{program.display_dates}}</div>
                    <div class="col-md-3 hidden-xs">{{program.weekday_display}}</div>
                  </div>
                </h3>
                <span class="pull-right clickable"><i class="glyphicon glyphicon-plus"></i></span>
              </div>

              <div class="panel-collapse collapse" id="programdetail_{{program.item_id}}">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12 col-sm-9">
                      <div class="row clearfix">
                        <div class="col-sm-6">
                          <div class="row"><div class="col-sm-12"><h4>Registration</h4></div></div>
                          <div class="row striped-row" data-ng-repeat="date in program.dates"><div class="col-xs-6">{{date.label}}</div><div class="col-xs-6">{{date.date}}</div></div>
                        </div>

                        <div class="col-sm-6">
                          <div class="row"><div class="col-sm-12"><h4>Fees</h4></div></div>
                          <div class="row striped-row" data-ng-repeat="fee in program.fees track by fee.item_fee_id"><div class="col-xs-6">{{fee.fee_name}}:</div><div class="col-xs-6">${{fee.fee_amount}}</div></div>
                        </div>

                        <div class="col-sm-6">
                          <div class="row"><div class="col-sm-12"><h4>Location(s)</h4></div></div>
                          <div class="row striped-row" data-ng-repeat="location in program.locations">{{location.location_name}}</div>
                        </div>

                        <div class="col-sm-6">
                          <div class="row"><div class="col-sm-12"><h4>Times</h4></div></div>
                          <div class="row striped-row" data-ng-repeat="weekday in program.weekdays"><div class="col-xs-6">{{weekday.program_weekdays}}:</div><div class="col-xs-6">{{weekday.program_times}}</div></div>
                        </div>

                        <div class="col-sm-6">
                          <div class="row" data-ng-show="{{(program.restrict_age === '1' || program.restrict_grade === '1' || program.restrict_birthday === '1' || program.restrict_gender === '1')?true:false}}"><div class="col-sm-12"><h4>Eligibility</h4></div></div>
                          <div class="row striped-row" data-ng-show="{{(program.restrict_age === '1')?true:false}}"><div class="col-xs-12">
                            <span data-ng-if="program.minimum_age > 0 && program.maximum_age > 0">{{program.minimum_age}} - {{program.maximum_age}} years old</span>
                            <span data-ng-if="program.minimum_age > 0 && program.maximum_age <= 0">{{program.minimum_age}} and up</span>
                            <span data-ng-if="program.minimum_age <= 0 && program.maximum_age > 0">Up to {{program.maximum_age}} years old</span>
                          </div></div>
                          <div class="row striped-row" data-ng-show="{{(program.restrict_grade === '1')?true:false}}"><div class="col-xs-12">Grade(s) {{program.minimum_grade}} - {{program.maximum_grade}}</div></div>
                          <div class="row striped-row" data-ng-show="{{(program.restrict_gender === '1')?true:false}}"><div class="col-xs-12">Gender: {{program.gender}}</div></div>
                        </div>
                      </div>

                    </div>

                    <div class="col-sm-3 col-md-3">
                      <div class="row"><div class="col-sm-12"><h4>Register</h4></div></div>
                      <ul class="list-group">
                        <li class="list-group-item" data-ng-repeat="person in household">
                          <checkbox id="register_{{person.user_id}}" name="register_{{person.user_id}}" class="btn-{{(program.regData[$index].regError)?'danger':(program.regData[$index].regValid)?(program.regData[$index].added)?'success':'primary':'default'}}" data-ng-model="program.regData[$index].selected" data-ng-change="verifyProgramParticipant($parent.$parent.$index, $parent.$index, $index, person.user_id, program.item_id)"></checkbox>
                          <label class="clickable" for="register_{{person.user_id}}">
                             {{program.regData[$index].fullName}} <span class="text-success" data-ng-show="program.regData[$index].added"> (In Cart)</span>
                          </label>
                          <div data-ng-show="program.regData[$index].regError"><span class="text-danger">{{program.regData[$index].errorText}}</span></div>
                        </li>
                      </ul>

                    </div>
                  </div>

                  <div class="row clearfix">
                    <div class="hidden-xs col-sm-9">
                      <div class="spacing"></div>
                      <a href="#/{{proloader.orgurl}}/programinfo/{{program.item_id}}" class="btn btn-info"><i class="glyphicon glyphicon-question-sign"></i> More Information</a>
                      <a href="#/{{proloader.orgurl}}/volunteer/{{program.item_id}}" class="btn btn-info" data-ng-show="program.has_volunteers"><i class="fa fa-user-plus"></i> Volunteer</a>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                      <div class="spacing"></div>
                      <button class="btn btn-success btn-block" data-ng-model="program.addCartButton" data-ng-click="addUsersToCart(program)" data-ng-if="(program.in_online_nonresident_registration || program.in_online_resident_registration) && !addingRegistration"><!--
                      --><span data-ng-if="program.package_count == 0"><i class="fa fa-shopping-cart"></i> Add to cart</span><!--
                      --><span data-ng-if="program.package_count > 0"><i class="fa fa-cart-plus"></i> Enrollment Options</span><!--
                      --></button>
                      <button class="btn btn-disabled btn-block" data-ng-if="addingRegistration">Please Wait...</button>
                      <a href="#" class="btn btn-info" data-ng-show="{{program.allow_waitlist && program.remaining_spots === 0 && (program.in_online_resident_registration === '1' || program.in_online_nonresident_registration === '1')}}"><i class="fa fa-th-list"></i> Waitlist</a>
                    </div>

                    <div class="visible-xs col-xs-12">
                      <div class="spacing"></div>
                      <a href="#/{{proloader.orgurl}}/programinfo/{{program.item_id}}" class="btn btn-default btn-block"><i class="glyphicon glyphicon-question-sign"></i> More Info</a>
                      <a href="#/{{proloader.orgurl}}/volunteer/{{program.item_id}}" class="btn btn-default btn-block" data-ng-show="program.has_volunteers"><i class="fa fa-user-plus"></i> Volunteer</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>

  <div class="spacer">&nbsp;</div>

  <div class="bs-callout bs-callout-primary" data-ng-show="proloader.busy && !proloader.noresults" id="callout-type-b-i-elems">
    <div class="row">
      <p><i class="fa fa-futbol-o fa-spin fa-2x text-primary pull-left"></i>
        We are searching for more activities that fit your search criteria...
      </p>
    </div>
  </div>

  <div class="bs-callout bs-callout-danger" data-ng-show='proloader.noresults' id="callout-type-b-i-elems">
    <div class="row">
      <p><span class="fa-stack fa-lg pull-left"><i class="fa fa-futbol-o fa-stack-1x"></i>
        <i class="fa fa-ban fa-stack-2x text-danger"></i></span>
        It looks like there are no more programs currently available. If you have entered search criteria, try modifying your search to include more activities.
        We are currently only displaying activities that are holding registration.
      </p>
    </div>
  </div>
</div>
