<div class="row" data-ng-animate="'slide'">
  <div>
    <div class="row">
        <div class="col-sm-8 col-xs-12 text-left hidden-xs">
          <h4>{{proinfo.returnData.item_name}}({{proinfo.returnData.item_code}})</h4>
        </div>
        <div class="col-sm-4 col-xs-12 text-right hidden-xs">
          <h4 data-ng-if="(proinfo.returnData.remaining_spots < 200 && proinfo.returnData.listData.status == 'A')"><span data-ng-if="(proinfo.returnData.remaining_spots <= 0)">No</span><span data-ng-if="(proinfo.returnData.remaining_spots > 0)">{{proinfo.returnData.remaining_spots}}</span> Open Spots</h4>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-9 col-xs-12 text-justify">
        <p>
          {{proinfo.returnData.full_description}}
        </p>
      </div>

      <!-- canceled program table -->
      <div class="col-sm-3 col-md-3" data-ng-if="(proinfo.returnData.listData.status == 'C')">
        <div class="row"><div class="col-sm-12"><h4><a id="register_{{proinfo.returnData.listData.item_id}}">Register</a></h4></div></div>
        <ul class="list-group">
          <li class="list-group-item">
            <h5>This program has been canceled.</h5>
          </li>
        </ul>
      </div>

      <!-- registration over table -->
      <div class="col-sm-3 col-xs-12" data-ng-if="(proinfo.returnData.listData.status == 'A' && proinfo.returnData.listData.registration_over == '1')">
        <div class="row"><div class="col-sm-12"><h4><a id="register_{{proinfo.returnData.listData.item_id}}">Register</a></h4></div></div>
        <ul class="list-group">
          <li class="list-group-item">
            <h5>Registration has ended</h5>
          </li>
        </ul>
      </div>

      <div class="col-sm-3 col-xs-12" data-ng-if="(proinfo.returnData.listData.status == 'A' && proinfo.returnData.listData.registration_over != '1' && (proinfo.returnData.remaining_spots > 0 || proinfo.returnData.allow_waitinglist == '1') && (proinfo.returnData.listData.in_online_nonresident_registration == '1' || proinfo.returnData.listData.in_online_resident_registration == '1'))">
        <div class="row" data-ng-if="(proinfo.returnData.listData.in_online_nonresident_registration == '1' || proinfo.returnData.listData.in_online_resident_registration == '1')"><div class="col-sm-12"><h4><a id="register_{{proinfo.returnData.listData.item_id}}">Register</a></h4></div></div>
        <ul class="list-group" data-ng-if="loggedIn">
          <li class="list-group-item" data-ng-repeat="person in proinfo.returnData.listData.users track by person.user_id" data-ng-if="person.eligible || proinfo.returnData.listData.showIneligible">
            <checkbox id="register_{{person.user_id}}" name="register_{{person.user_id}}" class="btn-{{(person.eligible)?'default':'danger'}}" data-ng-model="person.selected" data-ng-change="checkEligibleRegistrant(person)"></checkbox>
            <label class="clickable" for="register_{{person.user_id}}">
              {{person.full_name}} <span class="text-success" data-ng-if="person.in_cart == '1'"> (In Cart)</span>
            </label>
            <div data-ng-if="!person.eligible"><span class="text-danger" data-ng-repeat="reason in person.reasons">{{reason}}</span></div>
          </li>
          <li class="list-group-item" data-ng-if="proinfo.returnData.listData.showEligibleButton">
            <button class="btn btn-block btn-default" data-ng-click="proinfo.returnData.listData.showIneligible = !proinfo.returnData.listData.showIneligible"><span data-ng-if="!proinfo.returnData.listData.showIneligible">Show</span><span data-ng-if="proinfo.returnData.listData.showIneligible">Hide</span> Ineligible</button>
          </li>
        </ul>
        <ul class="list-group" data-ng-if="!loggedIn">
          <li class="list-group-item">
            <button class="btn btn-block btn-primary" data-ng-click="onGoToLogin()"><i class="fa fa-sign-in fa-fw"></i> Log in to register</button>
          </li>
        </ul>

        <div data-ng-if="loggedIn">
        <div class="alert alert-danger" data-ng-if="proinfo.returnData.listData.noSelection">Select at least one person.</div>
        <div class="alert alert-danger" data-ng-if="proinfo.returnData.listData.overLimit">{{proinfo.returnData.listData.overLimitMessage}}</div>
        <div class="alert alert-danger" data-ng-if="proinfo.returnData.listData.waitlistError"><span data-ng-repeat="error in proinfo.returnData.listData.waitlistErrors">{{error}}</span></div>
        <button class="btn btn-success btn-block" data-ng-model="proinfo.returnData.listData.addCartButton" data-ng-click="onAddToCartClick(proinfo.returnData.listData, proinfo.returnData.remaining_spots)" data-ng-if="(proinfo.returnData.remaining_spots > 0 && (proinfo.returnData.listData.in_online_nonresident_registration == '1' || proinfo.returnData.listData.in_online_resident_registration == '1')) && !addingRegistration"><!--
                      --><span data-ng-if="proinfo.returnData.listData.package_count == 0"><i class="fa fa-shopping-cart"></i> Add to cart</span><!--
                      --><span data-ng-if="proinfo.returnData.listData.package_count > 0"><i class="fa fa-cart-plus"></i> Enrollment Options</span><!--
                      --></button>
        <button class="btn btn-primary btn-block" data-ng-click="onAddToWaitListClick(proinfo.returnData.listData)" data-ng-if="((proinfo.returnData.remaining_spots <= 0 && proinfo.returnData.allow_waitinglist == '1') && (proinfo.returnData.listData.in_online_nonresident_registration == '1' || proinfo.returnData.listData.in_online_resident_registration == '1')) && !addingRegistration"><i class="fa fa-th-list"></i> Add to Wait List</button>
        <button class="btn btn-disabled btn-block" data-ng-if="addingRegistration">Please Wait...</button>
        </div>

      </div>

      <div class="col-sm-3 col-xs-12" data-ng-if="(proinfo.returnData.remaining_spots <= 0 && proinfo.returnData.allow_waitinglist != '1')">
        <button class="btn btn-disabled btn-block">Registration is full</button>
      </div>
    </div>

    <!--
    <div class="row col-xs-12 itembody text-right" data-ng-show="proinfo.returnData.in_online_nonresident_registration || proinfo.returnData.in_online_resident_registration">
      <div class="hidden-xs btn-group">
        <a href="#/{{orgcode}}/volunteer/{{itemid}}" class="btn btn-info" data-ng-show="proinfo.returnData.has_volunteers"><i class="fa fa-user-plus"></i> Volunteer</a>
        <a ng-href="#/{{orgcode}}/register/{{itemid}}" data-ng-show="proinfo.returnData.in_online_nonresident_registration || proinfo.returnData.in_online_resident_registration" class="btn btn-info"><i class="fa fa-sign-in"></i> Register</a>
      </div>
      <div class="visible-xs-block btn-group btn-group-justified">
        <a href="#/{{orgcode}}/volunteer/{{itemid}}" class="btn btn-info" data-ng-show="proinfo.returnData.has_volunteers"><i class="fa fa-user-plus"></i> Volunteer</a>
        <a ng-href=="#/{{orgcode}}/register/{{itemid}}" data-ng-show="proinfo.returnData.in_online_nonresident_registration || proinfo.returnData.in_online_resident_registration" class="btn btn-info"><i class="fa fa-sign-in"></i> Register</a>
      </div>
    </div>
    -->

    <div class="row" quick-ng-repeat="note in proinfo.returnData.listData.notes">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="bs-callout bs-callout-warning" id="callout-type-b-i-elems" >
          <div class="row">
            <div class="col-xs-12 text-left">
              <h4><i class="fa fa-edit fa-2x pull-left fa-border text-warning"></i> <strong>{{note.note_name}}</strong></h4>

              <p data-ng-bind-html="note.note_text | sanitize"></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-left">
        <h4>Fees</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="row striped-row" data-ng-repeat="fee in proinfo.returnData.listData.fees track by fee.item_fee_id" data-ng-if="fee.fee_amount > 0">
          <div class="col-xs-7 col-sm-7 text-left">
            {{fee.fee_name}}
          </div>
          <div class="col-xs-5 col-sm-5 text-right">
            ${{fee.fee_amount}}
          </div>
        </div>
      </div>
      <div class="col-xs-0 col-sm-9"></div>
    </div>

    <div class="row" data-ng-if="(proinfo.returnData.listData.restrict_age === '1' || proinfo.returnData.listData.restrict_grade === '1' || proinfo.returnData.listData.restrict_birthday === '1' || proinfo.returnData.listData.restrict_gender === '1')?true:false">
      <div class="col-sm-12"><h4>Eligibility</h4></div>
    </div>
    <div class="row" data-ng-if="(proinfo.returnData.listData.restrict_age === '1')?true:false"><div class="col-xs-12 col-sm-3">
      <span data-ng-if="proinfo.returnData.listData.minimum_age > 0 && proinfo.returnData.listData.maximum_age > 0"><span data-ng-bind="proinfo.returnData.listData.minimum_age"></span> - <span data-ng-bind="proinfo.returnData.listData.maximum_age"></span> years old</span>
      <span data-ng-if="proinfo.returnData.listData.minimum_age > 0 && proinfo.returnData.listData.maximum_age <= 0"><span data-ng-bind="proinfo.returnData.listData.minimum_age"></span> and up</span>
      <span data-ng-if="proinfo.returnData.listData.minimum_age <= 0 && proinfo.returnData.listData.maximum_age > 0">Up to <span data-ng-bind="proinfo.returnData.listData.maximum_age"></span> years old</span>
    </div><div class="col-xs-0 col-sm-9"></div></div>
    <div class="row" data-ng-if="(proinfo.returnData.listData.restrict_grade === '1')?true:false"><div class="col-xs-12 col-sm-3">Grade(s) <span data-ng-bind="proinfo.returnData.listData.minimum_grade_format"></span> - <span data-ng-bind="proinfo.returnData.listData.maximum_grade_format"></span></div><div class="col-xs-0 col-sm-9"></div></div>
    <div class="row" data-ng-if="(proinfo.returnData.listData.restrict_gender === '1')?true:false"><div class="col-xs-12 col-sm-3">Gender: <span data-ng-bind="proinfo.returnData.listData.gender"></span></div><div class="col-xs-0 col-sm-9"></div></div>
    <div class="row" data-ng-if="(proinfo.returnData.listData.restrict_birthday === '1')?true:false"><div class="col-xs-12">Born After: <span data-ng-bind="proinfo.returnData.listData.format_born_after"></span><br>Born Before: <span data-ng-bind="proinfo.returnData.listData.format_born_before"></span></div></div>



    <div class="row">
      <div class="col-xs-12 text-left" data-ng-show="proinfo.returnData.fileCount > 0">
        <h4>Files</h4>

        <p>Additional documents related to this activity can be downloaded here.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 btn-group hidden-xs" role="group" data-ng-show="proinfo.returnData.fileCount > 0">
        <a href="{{file.file_url}}" type="button" class="btn btn-success" data-ng-repeat="file in proinfo.returnData.files"><i class="fa fa-download"></i> {{file.file_name}}</a>
      </div>
    </div>

    <div class="row">
      <div class="visible-xs" data-ng-show="proinfo.returnData.fileCount > 0" data-ng-repeat="file in proinfo.returnData.files">
        <div class="col-xs-12 btn-group btn-group-justified">
          <a href="{{file.file_url}}" type="button" class="btn btn-success"><i class="fa fa-download"></i> {{file.file_name}}</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-left">
        <h4>Dates and Registration</h4>
      </div>
    </div>

    <div class="row">
        <!-- program start and end -->
        <div class="col-xs-3 text-left">
          Class Starts:
        </div>
        <div class="col-xs-3 text-left">
          {{proinfo.returnData.format_start_date}}
        </div>
        <div class="col-xs-3 text-left">
          Class Ends:
        </div>
        <div class="col-xs-3 text-left">
          {{proinfo.returnData.format_end_date}}
        </div>

        <!-- registration dates -->
        <div data-ng-repeat="date in proinfo.returnData.dates">
          <div class="col-xs-3 text-left">
            {{date.label}}
          </div>
          <div class="col-xs-3 text-left">
            {{date.date}}
          </div>
        </div>
    </div>


    <div class="row">
      <div class="col-xs-12 text-left">
        <h4>Locations</h4>
      </div>
    </div>


    <div class="col-xs-12 text-left" data-ng-repeat="maplocation in proinfo.returnData.mapData">

      <div>
        <h5>{{maplocation.marker.id}}
          <span data-ng-if="(maplocation.marker.locAddr.address.length > 0)?true:false"> -
            <span data-ng-if="(maplocation.marker.locAddr.address.length > 0)?true:false" data-ng-bind="maplocation.marker.locAddr.address"></span><span data-ng-if="(maplocation.marker.locAddr.unit.length > 0)?true:false"> </span><span data-ng-if="(maplocation.marker.locAddr.unit.length > 0)?true:false" data-ng-bind="maplocation.marker.locAddr.unit"></span><span data-ng-if="(maplocation.marker.locAddr.city.length > 0)?true:false">,</span>
            <span data-ng-if="(maplocation.marker.locAddr.city.length > 0)?true:false" data-ng-bind="maplocation.marker.locAddr.city"></span><span data-ng-if="(maplocation.marker.locAddr.state.length > 0)?true:false">,</span>
            <span data-ng-if="(maplocation.marker.locAddr.state.length > 0)?true:false" data-ng-bind="maplocation.marker.locAddr.state"></span>
            <span data-ng-if="(maplocation.marker.locAddr.zip.length > 0)?true:false" data-ng-bind="maplocation.marker.locAddr.zip"></span>
          </span>
        </h5>

      </div>

      <ui-gmap-google-map center='maplocation.center' zoom='12' options="proinfo.returnData.mapData.mapOptions">
      <ui-gmap-marker
        idKey='maplocation.marker.id'
        coords='maplocation.marker.location'>
      </ui-gmap-marker></ui-gmap-google-map>

    </div>

    <div class="row">
      <div class="col-xs-12 text-left">
        <h4>Class Dates</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-left">
        <div data-ng-show="proinfo.returnData.datesNotEmpty">
        <table class="table table-striped table-hover table-condensed table-responsive">
          <thead>
            <tr>
              <th>Date</th>
              <th>Time</th>
              <th>Location</th>
              <th>Note</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="date in proinfo.returnData.prodates track by date.facility_event_id">
              <td><span data-ng-if="date.no_class == '1'"><strong>{{date.event_date}}</strong></span><span data-ng-if="date.no_class != '1'">{{date.event_date}}</span></td>
              <td><span data-ng-if="date.no_class == '1'"><strong>No Class</strong></span><span data-ng-if="date.no_class != '1'">{{date.event_start}} to {{date.event_end}}</span></td>
              <td><span data-ng-if="date.no_class != '1'">{{date.item_name}}</span></td>
              <th>{{date.event_label}}</th>
            </tr>
          </tbody>
        </table>
        </div>
        <p data-ng-show="!proinfo.returnData.datesNotEmpty">No dates have been scheduled yet.</p>
      </div>
    </div>
  </div>
</div>
