<div class="row">

  <div class="bs-callout bs-callout-success" id="callout-type-b-i-elems">
    <div class="row">
      <div class="col-xs-12 text-left">
        <h4><i class="fa fa-share fa-2x pull-left fa-border text-success"></i> Reservation Request Submitted</h4>

        <p>Your request has been submitted for approval.  </p>

        <div class="row">
          <div class="col-md-3 spacing"><a href="#/{{home.orgurl}}/programs" class="btn btn-info btn-block spacing"><i class="fa fa-futbol-o"></i> Browse Activities</a></div>
          <div class="col-md-3 spacing"><a href="#/{{home.orgurl}}/memberships" class="btn btn-info btn-block spacing"><i class="fa fa-credit-card"></i> Browse Memberships</a></div>
          <div class="col-md-3 spacing"><a href="#/{{home.orgurl}}/reservations" class="btn btn-info btn-block spacing"><i class="fa fa-check-square-o"></i> Browse Reservations</a></div>
        </div>
      </div>
    </div>
  </div>

</div>
