<script type="text/ng-template" id="rzSliderTpl2.html">
	<span class="rz-bar-wrapper"><span class="rz-bar rz-bar2"></span></span>
	<span class="rz-bar-wrapper"><span class="rz-bar rz-bar2 rz-selection rz-selection2"></span></span>
	<span class="rz-pointer rz-pointer2"></span>
	<span class="rz-pointer rz-pointer2"></span>
	<span class="rz-bubble rz-limit"></span>
	<span class="rz-bubble rz-limit"></span>
	<span class="rz-bubble"></span>
	<span class="rz-bubble"></span>
	<span class="rz-bubble"></span>
</script>

<script type="text/ng-template" id="pagination.custom.html">

	<nav ng-if="numPages && pages.length >= 2">
		<ul class="pagination" style="margin-bottom: 0px!important;">
			<li><a ng-click="selectPage(1)" class="clicky">First</a>
			</li>
			<li><a ng-click="selectPage(currentPage - 1)" class="clicky">«</a></li>
			<li ng-repeat="page in pages" ng-class="{active: page==currentPage}"><a
					ng-click="selectPage(page)" class="clicky">{{page}}</a></li>
			</li>
			<li><a ng-click="selectPage(currentPage + 1)" class="clicky">»</a>
			</li>
			<li><a ng-click="selectPage(numPages)" class="clicky">Last</a></li>
		</ul>
	</nav>

</script>

<div class="row" data-ng-animate="'slide'">
<div data-ng-controller="RequestReservation" class="container">

<h3 style="padding-bottom: 10px;">Reservation Request Form</h3>

<div ng-show="!userLoggedIn">
	<div class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		Login to access the reservation request feature.
	</div>
</div>

<div ng-show="userLoggedIn">

<div class="panel panel-default" ng-model="searchPanelActive" bs-collapse>
<div class="panel-heading clearfix clicky" bs-collapse-toggle ng-click="onSearchWindowOpenEvent()">
	<h3 class="panel-title">
		<a style="text-decoration: none;">
			<div class="clicky no-select">
				<span class="text-underline">Advanced Search</span>&nbsp;
				<i style="top:2px;" class="glyphicon light-blue-color"
				   ng-class="{'glyphicon-triangle-bottom': searchPanelActive===0, 'glyphicon-triangle-right': searchPanelActive===-1}"></i>
			</div>
		</a>
	</h3>
</div>

<div id="searchPanel" class="panel-body panel-collapse" bs-collapse-target style="padding: 4px 0px;">

<div class="alert alert-danger animate-show animate-hide" role="alert" ng-show="searchErrorMessage.length>0"
	 style="word-wrap: break-word;margin:10px;">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>

	{{searchErrorMessage}}
</div>


<form name="searchForm" novalidate>

<div class="container" style="padding-top:10px;">
	<div class="col-sm-3">
		<div class="form-group">
			<div class="row" style="padding-left: 0px;">
				<div class="col-sm-12">
					<label for="searchRentalType"
						   ng-class="{'has-error': searchForm.$submitted && searchForm.searchRentalType.$invalid}">*Rental
						Type:</label>
				</div>
				<div class="col-sm-12">
					<select ng-model="rentalCodeSearch" class="form-control" style="width: 100%;max-width:225px;"
							ng-change="setNewRental(true)" id="searchRentalType" name="searchRentalType"
							ng-options="rentalRow.item_id as rentalRow.item_name for rentalRow in rentalDropDown"
							required>
						<option value="">--Select Rental Type--</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-9">
		<div class="form-group">
			<div class="row">
				<div class="col-sm-12">
					<label for="searchFacilities"
						   ng-class="{'has-error': searchForm.$submitted && searchForm.searchFacilities.$invalid}">*Facility:</label>
				</div>
				<div class="col-sm-12" style="padding-left: 14px;">
					<ui-select multiple array-required ng-model="selectedSearchFacilities.facilities"
							   id="searchFacilities" name="searchFacilities"
							   style="width:100%;min-width:225px;max-width: 300px;" search-enabled="false">
						<ui-select-match placeholder="Select Facility...">{{$item.item_name}}
						</ui-select-match>
						<ui-select-choices repeat=" facility in facilitySearchItems">
							{{facility.item_name}}
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="padding-left: 0px;">
	<div class="col-sm-3">
		<div class="form-group col-sm-12" style="padding-top: 6px;">
			<div class="row" style="padding-left: 0px;">
				<div class="col-sm-12">
					<label for="earliestStartDate"
						   ng-class="{'has-error': searchForm.$submitted && searchForm.earliestStartDate.$invalid}">*From
						Date:</label>
				</div>
				<div class="col-sm-12">
					<input id="earliestStartDate" name="earliestStartDate" style="width: 170px;" container="body"
						   type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}"
						   placeholder="From Date" data-autoclose="1" required bs-datepicker>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3" style="padding-right: 10px;">
		<div class="form-group col-sm-12" style="padding-top: 6px;">
			<div class="row">
				<div class="col-sm-12">
					<label for="latestStartDate"
						   ng-class="{'has-error': searchForm.$submitted && searchForm.latestStartDate.$invalid}">*Until
						Date:</label>
				</div>
				<div class="col-sm-12">
					<input id="latestStartDate" name="latestStartDate" style="width: 170px;" container="body"
						   type="text" class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}"
						   placeholder="Until Date" data-autoclose="1" required bs-datepicker>
				</div>
			</div>
		</div>
	</div>


	<div class="col-sm-6">
		<div class="form-group col-sm-12">
			<div class="row">
				<div class="col-sm-12">
					<label ng-class="{'has-error': searchForm.$submitted && durationError}">
						*Rental's Duration: {{searchForm.$submitted && durationError?'(Duration must be greater than
						0 minutes)':''}}
					</label>
				</div>
				<div class="text-right col-sm-12">
					<rzslider
							rz-slider-draggable-range="true"
							rz-slider-hide-limit-labels="true"
							rz-slider-step="30"
							rz-slider-model="durationSelected"
							rz-slider-floor="durationSlider.floor"
							rz-slider-ceil="durationSlider.ceil"
							rz-slider-always-show-bar="true"
							rz-slider-translate="translateDuration"
							rz-slider-tpl-url="rzSliderTpl2.html"></rzslider>
				</div>
			</div>
		</div>
	</div>
</div>

<div style="padding-left: 0px;">
	<div class="col-sm-12">
		<div class="form-group col-sm-12">
			<div class="row">
				<div class="col-sm-12">
					<label ng-class="{'has-error': searchForm.$submitted && timeFrameError}">
						*Time Frame to Search: {{searchForm.$submitted && timeFrameError?'(Start and End times
						cannot be the same)':''}}
					</label>
				</div>
				<div class="col-sm-12 text-left">
					<rzslider
							rz-slider-draggable-range="false"
							rz-slider-precision="true"
							rz-slider-step="30"
							rz-slider-model="timeRangeStartSelected"
							rz-slider-floor="timeSlider.floor"
							rz-slider-ceil="timeSlider.ceil"
							rz-slider-high="timeRangeEndSelected"
							rz-slider-translate="translate"></rzslider>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container" style="padding-left: 0px;">
	<div class="col-sm-12">
		<div class="form-group col-sm-12">
			<div class="row">
				<div class="col-sm-12">
					<label ng-class="{'has-error': searchForm.$submitted && weekdaysError}">*Weekdays:</label>
				</div>
				<div class="col-sm-12">
							<span class="no-word-wrap checkbox-weekday-spacing"><checkbox
									class="btn-default checkbox-dark-border"
									ng-model="weekdaySearch.sunday"
									ng-change="filterTrainerList()"
									id="checkSun"></checkbox><label for="checkSun"
																	class="label-weekday-spacing">
								Sun</label></span>
							<span class="no-word-wrap checkbox-weekday-spacing"><checkbox
									class="btn-default checkbox-dark-border"
									ng-model="weekdaySearch.monday"
									ng-change="filterTrainerList()"
									id="checkMon"></checkbox><label for="checkMon"
																	class="label-weekday-spacing">
								Mon</label></span>
							<span class="no-word-wrap checkbox-weekday-spacing"><checkbox
									class="btn-default checkbox-dark-border"
									ng-model="weekdaySearch.tuesday"
									ng-change="filterTrainerList()"
									id="checkTues"></checkbox><label for="checkTues"
																	 class="label-weekday-spacing">
								Tues</label></span>
							<span class="no-word-wrap checkbox-weekday-spacing"><checkbox
									class="btn-default checkbox-dark-border"
									ng-model="weekdaySearch.wednesday"
									ng-change="filterTrainerList()"
									id="checkWed"></checkbox><label for="checkWed"
																	class="label-weekday-spacing">
								Wed</label></span>
							<span class="no-word-wrap checkbox-weekday-spacing"><checkbox
									class="btn-default checkbox-dark-border"
									ng-model="weekdaySearch.thursday"
									ng-change="filterTrainerList()"
									id="checkThur"></checkbox><label for="checkThur"
																	 class="label-weekday-spacing">
								Thur</label></span>
							<span class="no-word-wrap checkbox-weekday-spacing"><checkbox
									class="btn-default checkbox-dark-border"
									ng-model="weekdaySearch.friday"
									ng-change="filterTrainerList()"
									id="checkFri"></checkbox><label for="checkFri"
																	class="label-weekday-spacing">
								Fri</label></span>
							<span class="no-word-wrap checkbox-weekday-spacing"><checkbox
									class="btn-default checkbox-dark-border"
									ng-model="weekdaySearch.saturday"
									ng-change="filterTrainerList()"
									id="checkSat"></checkbox><label for="checkSat"
																	class="label-weekday-spacing">
								Sat</label></span>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="container text-center">
	<button style="min-width:220px;" class="btn btn-info" container="body" type="submit"
			v-busy="isSearchIconBusy" v-busy-label="Searching..." v-pressable
			ng-click="onSearchRentalTimes((!searchForm.$error.required && !searchForm.searchRentalType.$invalid && !searchForm.searchFacilities.$invalid))">
		Search Available Rental Times
	</button>
</div>
</form>

<div>
	<div data-ng-if="isSearchIconBusy || !displaySearchResults" style="height: 30px;"></div>
	<div data-ng-if="!isSearchIconBusy && !displayNoResults">
		<table st-table="searchResultsData" st-safe-src="searchRowCollection" class="table table-hover vtable"
			   ng-show="displaySearchResults">
			<thead>
			<th style="border: 0px;"></th>
			</thead>

			<tbody>
			<tr ng-repeat="searchRow in searchResultsData">
				<td st-ratio="5" class="text-center clicky no-select" ng-click="onSelectRentalTime(searchRow)">
					<i id="arrow-icon" class="fa fa-chevron-right fa-3x"></i>
				</td>
				<td st-ratio="20" class="text-center clicky no-select" ng-click="onSelectRentalTime(searchRow)">
					{{searchRow.facility_item_name}}
				</td>
				<td st-ratio="20" class="text-center clicky no-select" ng-click="onSelectRentalTime(searchRow)">
					{{searchRow.formatted_check_date}}
				</td>
				<td st-ratio="20" class="text-center clicky no-select" ng-click="onSelectRentalTime(searchRow)">
					{{searchRow.start_check_time}}
				</td>
				<td st-ratio="20" class="text-center clicky no-select" ng-click="onSelectRentalTime(searchRow)">
					{{searchRow.end_check_time}}
				</td>
				<td st-ratio="5" class="text-center clicky no-select" ng-click="onSelectRentalTime(searchRow)">
					<i id="arrow-icon" class="fa fa-chevron-left fa-3x"></i>
				</td>
			</tr>
			</tbody>

			<tfoot>
			<tr>
				<td colspan="5" class="text-center" style="padding-bottom: 0px; padding-top: 0px;">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"
						 st-template="pagination.custom.html"></div>
				</td>
			</tr>
			</tfoot>
		</table>
	</div>

	<div class="alert alert-danger animate-show animate-hide" role="alert" ng-show="displayNoResults"
		 style="margin: 10px;">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>

		No rental times found.
	</div>

</div>

</div>
</div>

<form name="addressForm" class="form-horizontal" role="form">
<ng-form name="addressForm">


<div class="panel panel-default">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">Available Reservation</h3>
	</div>


	<div class="panel-body">
		<div class="alert alert-info animate-show animate-hide" role="alert" ng-hide="!hideBasicInfo">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>

			Select Reservation Type to Continue
		</div>


		<div class="form-group">
			<label class="col-sm-2 control-label-center">Reservation Type</label>

			<div class="col-sm-6">
				<select ng-model="rentalCodeSearch" class="form-control" style="width: 240px;"
						ng-change="setNewRental(false)"
						ng-options="rentalRow.item_id as rentalRow.item_name for rentalRow in rentalDropDown" required>
					<option value="">--Select Rental Type--</option>
				</select>
			</div>
		</div>


		<div class="form-group animate-show" ng-hide="hideBasicInfo">
			<label class="col-sm-2 control-label-center">Description</label>

			<div class="col-sm-6">
				<label class="control-label-center" style="font-weight: normal;">{{rentalDescription}}</label>
			</div>
		</div>

	</div>
</div>


<div class="panel panel-default animate-show animate-hide" ng-hide="hideBasicInfo">
	<a id="facilitylist"></a>

	<div class="panel-heading clearfix">
		<h3 class="panel-title">Available Facilities</h3>
	</div>

	<div class="panel-body">

		<div class="form-group">
			<label class="col-sm-2 control-label-center">Facilities<br><a href=""
																		  ng-click="gotoAnchor('calcontainer', 0)">(View
				Calendar)</a></label>

			<div class="col-sm-10">
				<div class="form-vertical" ng-repeat="fac in rentalFacilities">
					<checkbox class="btn-default checkbox-dark-border" data-ng-model="fac.checked"
							  data-ng-change="onFacilityChecked()" id="fac_{{fac.item_id}}"
							  name="fac_{{fac.item_id}}"></checkbox>
					<label for="fac_{{fac.item_id}}" style="font-weight: normal;">{{fac.item_name}}</label>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="panel panel-default animate-show animate-hide" ng-hide="hideBasicInfo">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">Reservation Details</h3>
	</div>

	<div class="panel-body">


		<div class="form-group">
			<label class="col-sm-2 control-label-center">Requested Date*</label>

			<div class="col-sm-6">
				<div class="input-group">
					<span class="input-group-addon " style="width: 25px;">
						 <i class="glyphicon glyphicon-calendar "></i>
					</span>
					<input class="form-control" ng-model="selectedDate" name="date" bs-datepicker type="text"
						   style="width: 150px;">

					<span class="input-group-addon" style="width: 250px;background-color: #ffffff; visibility: hidden;">

					</span>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label-center">Start Time*</label>

			<div class="col-sm-6">
				<div class="input-group">
					<div class="input-group-addon" style="width: 25px;"><i class="glyphicon glyphicon-time"></i></div>
					<input class="form-control" size="8" ng-model="startTime" name="startTime" bs-timepicker
						   data-length="1"
						   data-minute-step="15" data-arrow-behavior="picker" type="text" style="width: 150px;"
						   ng-change="timeChanged()">

				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label-center">End Time*</label>

			<div class="col-sm-6">
				<div class="input-group">
					<div class="input-group-addon" style="width: 25px;"><i class="glyphicon glyphicon-time"></i></div>
					<input class="form-control" size="8" ng-model="endTime" name="endTime" bs-timepicker data-length="1"
						   data-minute-step="15" data-arrow-behavior="picker" type="text" style="width: 150px;"
						   ng-change="timeChanged()">
				</div>
			</div>
		</div>


		<div class="form-group">
			<label class="col-sm-2 control-label-center">Additional Information</label>

			<div class="col-sm-6">
				<textarea class="textarea-responsive" ng-model="reservationDetails"></textarea>
			</div>
		</div>
	</div>
</div>


<div class="panel panel-default animate-show animate-hide" ng-show="!hideBasicInfo && displayPackages">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">Add-Ons</h3>
	</div>

	<div class="panel-body">

		<div class="table-responsive hidden-xs">

			<table class="table" style="margin-bottom: 0px;">
				<thead>
				<tr>
					<td></td>
					<td><strong>Add-On Name</strong></td>
					<td><strong>Add-On Code</strong></td>
					<td><strong>Fee(s)</strong></td>
				</tr>
				</thead>
				<tbody>
				<tr data-ng-repeat="pkg in rentalPackages">
					<td scope="row" style=" border:0px !important;">
						<div class="form-group">
							<div class="col-sm-6">
								<checkbox class="btn-default checkbox-dark-border" data-ng-if="pkg.required"
										  data-ng-model="pkg.selected" id="package_{{pkg.item_id}}"
										  name="package_{{pkg.item_id}}" required></checkbox>
								<checkbox class="btn-default checkbox-dark-border" data-ng-if="!pkg.required"
										  data-ng-model="pkg.selected" id="package_{{pkg.item_id}}"
										  name="package_{{pkg.item_id}}"></checkbox>
							</div>
						</div>
					</td>
					<td style=" border:0px !important;"><label for="package_{{pkg.item_id}}"
															   style="font-weight: normal;">{{pkg.item_name}}</label>
					</td>
					<td style=" border:0px !important;"><label for="package_{{pkg.item_id}}"
															   style="font-weight: normal;">{{pkg.item_code}}</label>
					</td>
					<td style=" border:0px !important;"><p data-ng-repeat="pkgfee in pkg.fees">{{pkgfee.fee_name}}
						${{pkgfee.fee_amount}}</p></td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="table-responsive visible-xs" style="border:0px !important;">
			<table class="table" style="margin-bottom: 0px;">

				<tbody>
				<tr data-ng-repeat="pkg in rentalPackages">
					<td scope="row" style=" border:0px !important;">
						<div class="form-group">
							<div class="col-sm-6">
								<checkbox class="btn-default checkbox-dark-border" data-ng-if="pkg.required"
										  data-ng-model="pkg.selected" id="package_{{pkg.item_id}}"
										  name="package_{{pkg.item_id}}" required></checkbox>
								<checkbox class="btn-default checkbox-dark-border" data-ng-if="!pkg.required"
										  data-ng-model="pkg.selected" id="package_{{pkg.item_id}}"
										  name="package_{{pkg.item_id}}"></checkbox>
							</div>
						</div>
					</td>
					<td style=" border:0px !important;">
						<p><label for="package_{{pkg.item_id}}" style="font-weight: normal;">{{pkg.item_name}}</label>
						</p>

						<p><label for="package_{{pkg.item_id}}" style="font-weight: normal;">{{pkg.item_code}}</label>
						</p>

						<p data-ng-repeat="pkgfee in pkg.fees"><label for="package_{{pkg.item_id}}"
																	  style="font-weight: normal;">{{pkgfee.fee_name}}
							${{pkgfee.fee_amount}}</label></p>
					</td>
				</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>


<div class="panel panel-default animate-show" ng-show="!hideBasicInfo && displayCustomFields">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">Options</h3>
	</div>

	<div class="panel-body ">

		<div ng-repeat="field in rentalCustomFields">
			<!-- TEXT FIELDS -->
			<div ng-if="field.type=='text'" class="form-group">
				<label class="col-sm-2 control-label-center">{{field.label}}</label>

				<div class="col-sm-6">
					<input type="{{field.type}}" id="{{field.id}}"
						   data-ng-model="rentalCustomFields[$index].response_value" class="form-control" required/>
				</div>
			</div>

			<!-- NUMERIC FIELDS -->
			<div ng-if="field.type=='number'" class="form-group">
				<label class="col-sm-2 control-label-center">{{field.label}}</label>

				<div class="col-sm-6">
					<input type="text" id="{{field.name}}" data-ng-model="rentalCustomFields[$index].response_value"
						   class="form-control" required/>
				</div>
			</div>

			<!-- SELECT FIELDS -->
			<div ng-if="field.type=='select'" class="form-group">
				<label class="col-sm-2 control-label-center">{{field.label}}</label>

				<div class="col-sm-6">
					<select data-ng-model="rentalCustomFields[$index].response_value" class="form-control"
							prompt="Select One" required>
						<option data-ng-repeat="option in field.options">{{option}}</option>
					</select>
				</div>
			</div>

			<!-- CHECKBOX FIELDS -->
			<div ng-if="field.type=='checkbox'" class="form-group">
				<label class="col-sm-2 control-label-center">{{field.label}}</label>

				<div class="col-sm-6">
					<!--<checkbox class="btn-default checkbox-dark-border" data-ng-if="rentalCustomFields[$index].required" data-ng-model="rentalCustomFields[$index].response_value"  name="taskGroup" id="{{field.name}}" value="{{field.id}}" required/>
					<checkbox class="btn-default checkbox-dark-border" data-ng-if="!rentalCustomFields[$index].required" data-ng-model="rentalCustomFields[$index].response_value"  name="taskGroup" id="{{field.name}}" value="{{field.id}}"/>

					-->
					<checkbox class="btn-default checkbox-dark-border" data-ng-if="rentalCustomFields[$index].required"
							  data-ng-model="rentalCustomFields[$index].response_value" required></checkbox>
					<checkbox class="btn-default checkbox-dark-border" data-ng-if="!rentalCustomFields[$index].required"
							  data-ng-model="rentalCustomFields[$index].response_value"></checkbox>
				</div>
			</div>
		</div>

	</div>
</div>


<div class="panel panel-default animate-show animate-hide" ng-hide="hideBasicInfo">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">Personal Information</h3>
	</div>

	<div class="panel-body">

		<div class="form-group">
			<label class="col-sm-2 control-label-center">Email Address</label>

			<div class="col-sm-6">
				<input ng-model="emailAddress" type="email" class="form-control" style="width: 250px;"/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label-center">Phone Number</label>

			<div class="col-sm-6">
				<input ng-model="phoneNumber" type="text" class="form-control" style="width: 150px;" maxlength="10"/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label-center">Preferred Contact Method*</label>

			<div class="col-sm-6">
				<select class="form-control" style="width: 125px;" ng-model="contactMethod">
					<option value="">--Select--</option>
					<option value="P">Phone</option>
					<option value="E">Email</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label-center">Additional Notes</label>

			<div class="col-sm-6">
				<textarea ng-model="reservationNotes" class="textarea-responsive"></textarea>
			</div>
		</div>

	</div>
</div>


<div class="panel panel-default animate-show animate-hide" ng-hide="hideBasicInfo">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">Payment Information</h3>
	</div>

	<div class="panel-body">
		<div class="form-group">
			<label class="col-sm-2 control-label-center">Estimated Cost</label>

			<div class="col-sm-10">
				<label class=" control-label-center">{{feeAmount | currency}} (Includes $0.00 deposit)</label>
				<br>

				<p>The estimated rental cost is based on information supplied at the time of the request and may change
					according to additional information, change in rental request, and/or residency status of the
					renter. This
					request is not an official rental until it has been approved and the renter has paid in full.</p>
			</div>
		</div>

	</div>
</div>

<div class="panel panel-default animate-show animate-hide" ng-hide="hideBasicInfo">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">Agreement & Waivers</h3>
	</div>

	<div class="panel-body">
		<div class="form-group">
			<div class="col-sm-12 ">
				<label data-placement="bottom-left" data-type="info" bs-enabled="agreementSigned.checked"
					   style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none; font-weight: normal;"
					   unselectable="on" onselectstart="return false;" onmousedown="return false;" for="agreement_1">
					<checkbox class="btn-default checkbox-dark-border" ng-model="agreementSigned.checked"
							  id="agreement_1" name="agreement_1"></checkbox>
					I have read, understand, and agree to the <a href="" target="_blank" style="font-weight: bold;">Terms
					and Conditions</a> regarding The Parks and Recreation Facility Reservations and Refund/Cancelation
					Policy.
				</label>
			</div>
		</div>

	</div>
</div>


<div class="form-group animate-show animate-hide" ng-hide="!contactCheckAlert" ng-cloak>
	<div class="col-sm-offset-1 col-sm-10 alert alert-danger animate-hide" role="alert">
		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span>
		Terms & Agreement not checked!

		<span class="close" ng-click="contactCheckAlert=false">&times;</span>
	</div>
</div>

<div class="form-group animate-show animate-hide" ng-hide="hideBasicInfo">
	<div class="col-sm-12 text-center">
		<button type="submit" class="btn btn-info btn-lg" ng-click="onSubmitRequest()">Submit Request</button>
	</div>
</div>


</ng-form>
</form>

<h3 class="page-header" style="padding-bottom: 10px;" ng-hide="hideBasicInfo"></h3>

<h3 style="padding-bottom: 10px;" ng-hide="hideBasicInfo">Reservation Availability</h3>

<div id='calcontainer' ng-hide="hideBasicInfo">

	<div class="btn-toolbar" style="padding-bottom: 4px;">
		<div class="btn-group">
			<button type="button" class="btn btn-info"
					ng-click=" gotoAnchor('facilitylist', 100)">Back to Facility List
			</button>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-primary" ng-class="{active:mode==='month'}"
					ng-click="changeMode('month')">
				Month
			</button>
			<button type="button" class="btn btn-primary" ng-class="{active:mode==='week'}"
					ng-click="changeMode('week')">
				Week
			</button>
			<button type="button" class="btn btn-primary" ng-class="{active:mode==='day'}"
					ng-click="changeMode('day')">
				Day
			</button>
		</div>
		<div class="btn-group animate-show animate-hide" ng-show="mode==='month'">
			<button type="button" class="btn btn-default" ng-disabled="isToday()"
					style="background-image: linear-gradient(#009900, #329a13 40%, #35a414); border-color:#3ebe17;color: #fff;"
					ng-click="today()">
				Today
			</button>
		</div>
	</div>
	<div>
		<calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
				  range-changed="reloadSource(startTime, endTime)" queryMode="remote"
				  event-selected="onEventSelected(event)"></calendar>
		<br>
	</div>
</div>
</div>
</div>
</div>

<script type="text/ng-template" id="selectRentalTime.html">
	<div class="modal text-left" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title text-Success">Select Rental Time</h3>
				</div>
				<div class="modal-body clearfix">

					<div class="col-xs-12 text-center" style="padding-left: 0px;padding-right: 0px;">
						<button ng-repeat="time in searchTimeData" type="button" class="btn btn-primary"
								style="height:50px; margin: 3px;" ng-click="$hide()"><b>{{time.start_time}}</b>-{{time.end_time}}</button>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-info" ng-click="test('yes')">Close</button>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="confirmation.html">
	<div class="modal text-left" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title text-Success">Rental Request Submitted</h3>
				</div>
				<div class="modal-body">
					<p>Your reservation request has successfully been submitted and will</p>

					<p>be reviewed and someone will get back to you as soon as possible.</p>

					<p>Thank You</p>

				</div>
				<div class="modal-footer">
					<button class="btn btn-success" ng-click="$hide()">Close</button>
				</div>
			</div>
		</div>
	</div>
</script>

