<script type="text/ng-template" id="rzSliderTpl2.html">
    <span class="rz-bar-wrapper"><span class="rz-bar rz-bar2"></span></span>
    <span class="rz-bar-wrapper"><span class="rz-bar rz-bar2 rz-selection rz-selection2"></span></span>
    <span class="rz-pointer rz-pointer2"></span>
    <span class="rz-pointer rz-pointer2"></span>
    <span class="rz-bubble rz-limit"></span>
    <span class="rz-bubble rz-limit"></span>
    <span class="rz-bubble"></span>
    <span class="rz-bubble"></span>
    <span class="rz-bubble"></span>
</script>

<script type="text/ng-template" id="pagination.custom.html">
    <nav data-ng-if="numPages && pages.length >= 2">
        <ul class="pagination" style="margin-bottom: 0px!important;">
            <li><a data-ng-click="selectPage(1)" class="clicky">First</a>
            </li>
            <li><a data-ng-click="selectPage(currentPage - 1)" class="clicky">«</a></li>
            <li data-ng-repeat="page in pages" data-ng-class="{active: page==currentPage}"><a
                    data-ng-click="selectPage(page)" class="clicky">{{page}}</a></li>
            </li>
            <li><a data-ng-click="selectPage(currentPage + 1)" class="clicky">»</a>
            </li>
            <li><a data-ng-click="selectPage(numPages)" class="clicky">Last</a></li>
        </ul>
    </nav>
</script>

<div data-ng-controller="ReservationAvailableTimes">
    <div class="container">
        <div class="row">
            <div data-ng-show="rentalDataLoaded">
                <h3>Search Available Times</h3>
            </div>

            <div class="col-sm-12 text-center" style="padding-top: 20px;" data-ng-hide="rentalDataLoaded">
                <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>

            <div class="row" data-ng-animate="'slide'" data-ng-show="rentalDataLoaded">
                <div class="panel panel-primary" style="margin-bottom: 10px !important;">

                    <div class="panel-heading clearfix">
                        <h3 class="panel-title">({{::rentalData.rental_item_code}}) {{::rentalData.rental_item_name}}</h3>
                    </div>

                    <div id="searchPanel" class="panel-body" style="padding: 4px 0px;">

                        <div class="alert alert-danger animate-show animate-hide" role="alert"
                             data-ng-show="searchErrorMessage.length>0"
                             style="word-wrap: break-word;margin:10px;">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>

                            {{searchErrorMessage}}
                        </div>

                        <form name="searchForm" novalidate>
                            <div class="" style="padding-left: 0px;">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <label data-ng-class="{'has-error': searchForm.$submitted && formErrors.facilityError}"
                                               data-ng-hide="rentalData.force_facility_order=='1'">{{(formErrors.facilityError)?'*':''}}Select One or More Facilities</label>
                                        <label  data-ng-show="rentalData.force_facility_order=='1'">Facilities Included in Rental</label>
                                    </div>
                                </div>
                                <div class="col-sm-12 form-group" data-ng-repeat="fac in rentalData.facility_data">
                                    <div class="col-sm-12">
                                        <span class="checkbox-spacing"><checkbox id="chkFacility{{fac.item_id}}"
                                                                                 class="btn-default checkbox-dark-border" data-ng-model="fac.selected"
                                                                                 data-ng-hide="rentalData.force_facility_order=='1'"
                                                                                 data-ng-disabled="(rentalData.force_facility_order=='1')"></checkbox>
                                        <label for="chkFacility{{fac.item_id}}" class="label-spacing">{{fac.item_name}} - <b>{{fac.total_per_hour_amount | currency}}/{{fac.booking_type}}</b></label></span>
                                        <label for="chkFacility{{fac.item_id}}" style="font-weight: normal!important;"> {{fac.location_address}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body" style="padding-top:10px;" data-ng-hide="true">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="row" style="padding-left: 0px;">
                                            <div class="col-sm-12">
                                                <label>Selected Rental Code <span style="font-weight: normal!important;">- </span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-9" ng-show="false">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label>Facility</label>
                                            </div>
                                            <div class="col-sm-12" style="padding-left: 24px;">
                                                {{rentalData.facility_name_string}} {{rentalData.location_address}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body" style="padding-left: 0px;">
                                <div style="padding-left: 0px;">
                                    <div class="col-sm-3">
                                        <div class="form-group col-sm-12" >
                                            <div class="row" style="padding-left: 0px;">
                                                <div class="col-sm-12">
                                                    <label for="earliestStartDate" data-ng-class="{'has-error': searchForm.$submitted && searchForm.earliestStartDate.$invalid}">Search Start Date</label>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="input-group">
                                             <span class="input-group-addon " style="width: 25px;">
                                                <i class="glyphicon glyphicon-calendar "></i>
                                            </span>
                                                        <input id="earliestStartDate" name="earliestStartDate"
                                                               type="text" class="form-control" data-ng-model="fromDate"
                                                               data-ng-change="onSearchDateChange()"
                                                               data-max-date="{{untilDate}}" datepicker-popup="yyyy-MM-dd"
                                                               placeholder="From Date" data-autoclose="1" required bs-datepicker>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="padding-right: 10px;">
                                        <div class="form-group col-sm-12" >
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label for="latestStartDate"
                                                           data-ng-class="{'has-error': searchForm.$submitted && searchForm.latestStartDate.$invalid}">Search End Date</label>
                                                </div>
                                                <div class="col-sm-12">

                                                    <div class="input-group">
                                             <span class="input-group-addon " style="width: 25px;">
                                                <i class="glyphicon glyphicon-calendar "></i>
                                            </span>
                                                        <input id="latestStartDate"  name="latestStartDate"
                                                               type="text" class="form-control" data-ng-model="untilDate"
                                                               data-ng-change="onSearchDateChange()"
                                                               data-min-date="{{fromDate}}" datepicker-popup="yyyy-MM-dd"
                                                               placeholder="Until Date" data-autoclose="1" required bs-datepicker>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body" style="padding-left: 0px;">
                                <div style="padding-left: 0px;" ng-hide="rentalData.force_facility_order=='1'">
                                    <div class="col-sm-3">
                                        <div class="form-group col-sm-12" >
                                            <div class="row" style="padding-left: 0px;">
                                                <div class="col-sm-12">
                                                    <label ng-class="{'has-error': (startTime >= endTime)}">Earliest Start Time</label>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="input-group">
                                                        <div class="input-group-addon" style="width: 25px;"><i
                                                                class="glyphicon glyphicon-time"></i></div>
                                                        <input class="form-control" size="8" data-ng-model="startTime"
                                                               bs-timepicker data-length="1" data-minute-step="15"
                                                               data-time-format="shortTime"

                                                               data-max-time="{{endTime | date: 'shortTime'}}"
                                                               data-arrow-behavior="picker" type="text">
                                                    </div> </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="padding-right: 10px;" >
                                        <div class="form-group col-sm-12" >
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label ng-class="{'has-error': (startTime >= endTime)}">Latest End Time</label>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="input-group">
                                                        <div class="input-group-addon" style="width: 25px;"><i
                                                                class="glyphicon glyphicon-time"></i></div>
                                                        <input class="form-control" size="8" data-ng-model="endTime"
                                                               bs-timepicker data-length="1"  data-minute-step="15"
                                                               data-time-format="shortTime" data-min-time="10:00"
                                                               data-arrow-behavior="picker" type="text">
                                                    </div> </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-3" style="padding-right: 10px;">
                                        <div class="form-group col-sm-12" >
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>Rental Duration(Minutes)</label>
                                                </div>
                                                <div class="col-sm-12" data-ng-if="rentalData.min_hour === rentalData.max_hour">
                                                    <input class="form-control" size="8" data-ng-model="rentalDuration.selectedTime"
                                                           type="text" style="width: 75px;" disabled>
                                                </div>

                                                <div class="col-sm-12" data-ng-if="rentalData.min_hour !== rentalData.max_hour">
                                                    <rzslider ng-if="renderSlider"
                                                              rz-slider-draggable-range="true"
                                                              rz-slider-step="30"
                                                              rz-slider-model="rentalDurationTemp.selectedTime"
                                                              rz-slider-floor="durationSlider.floor"
                                                              rz-slider-ceil="durationSlider.ceil"
                                                              rz-slider-translate="translateDuration"
                                                              rz-slider-precision="0"
                                                              rz-slider-tpl-url="rzSliderTpl2.html"></rzslider>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="" style="padding-left: 0px;">
                                    <div class="col-sm-12">
                                        <div class="col-sm-12">
                                            <label data-ng-class="{'has-error': searchForm.$submitted && formErrors.weekdayError}">{{(formErrors.weekdayError)?'*':''}}Weekdays</label>
                                        <span ng-hide="!loadingWeekdays.loading">
                                        <i class="fa fa-spinner fa-spin fa-lg fa-fw"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 form-group" data-ng-repeat="week in weekdayData">
                                        <div class="col-sm-12">
                                    <span class="checkbox-spacing"><checkbox id="chkWeek{{week.weekday_index}}"
                                                                             data-ng-disabled="loadingWeekdays.loading"
                                                                             class="btn-default checkbox-dark-border"
                                                                             data-ng-model="week.selected"></checkbox>
                                        <label class="label-spacing label-weekday" style="margin-right:6px;" class="no-word-wrap" for="chkWeek{{week.weekday_index}}">{{week.weekday_label}}</label>

                                        <label for="chkWeek{{week.weekday_index}}" style="font-weight: normal!important;" ng-repeat="time in week.time_label_data">{{time}}{{(!$last)?',&nbsp;':''}}</label>
                                        <!--<label style="font-weight: normal!important;padding-left: 6px;">{{week.time_label_string}}</label>-->
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body nopad">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <button style="min-width:220px;" class="btn btn-primary" type="submit"
                                                data-ng-click="onSearchRentalTimes()">
                                            Search Available Rental Times</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="animate-show animate-hide" data-ng-if="selectedRentalTimes.rentals.length > 0" style=" margin-top: 8px;">
                            <a id="selRentalTimes"></a>
                            <table st-table="selectedRentalTimes.rentals" class="table table-striped"
                                   style=" margin-bottom: 8px;border-bottom: 1px solid #ddd;">
                                <tbody>
                                    <tr ng-repeat="rentalRow in selectedRentalTimes.rentals" class="rentalSearchTimePadFull" scroll-glue>
                                        <td>
                                            <button style="width: 76px;" class="btn btn-sm btn-danger colHideMobile" ng-click="removeSelectedRental(rentalRow)">
                                                <i class="fa fa-calendar-times-o" aria-hidden="true"></i> Remove</button>

                                            <button class="btn btn-sm btn-danger colShowMobile" ng-click="removeSelectedRental(rentalRow)">
                                                <i class="fa fa-calendar-times-o" aria-hidden="true"></i></button>
                                            &nbsp;&nbsp;{{::rentalRow.fname}}
                                        </td>

                                        <td st-ratio="30" class="colHideMobile colMobileTextCenter"
                                            data-ng-bind="::rentalRow.lf_date">
                                        </td>

                                        <td st-ratio="25" class=""><span class="colShowMobile">{{::rentalRow.sf_date}} </span>{{::rentalRow.st}}<span class="colHideMobile">&nbsp;to&nbsp;</span><span class="colShowMobile"><br></span>{{::rentalRow.et}}</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="panel-body nopad animate-show animate-hide">
                                <div class="col-sm-12">
                                    <div class="col-sm-12">
                                        <button style="min-width:220px;" class="btn btn-primary" type="submit"
                                                data-ng-disabled="!(selectedRentalTimes.rentals.length > 0)"
                                                data-ng-click="onAcceptRentalTimes()">
                                            Accept Rental Times</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="col-sm-12 text-center" style="padding-top: 20px;" data-ng-show="isSearchIconBusy.loading">
                                <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                                <span class="sr-only">Loading...</span>
                            </div>

                            <div data-ng-if="isSearchIconBusy.loading || !displaySearchResults" style="height: 4px;"></div>
                            <div data-ng-if="!isSearchIconBusy.loading && !displayNoResults">
                                <table st-table="searchResultsData" st-safe-src="searchRowCollection"
                                       class="table vtable table2"
                                       data-ng-show="displaySearchResults">

                                    <thead>
                                        <tr>
                                            <td colspan="6" class="text-center">
                                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"
                                                     st-template="pagination.custom.html"></div>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody data-ng-repeat="searchRow in searchResultsData">
                                        <tr data-ng-click="searchRow.show = !searchRow.show" class="bg-primary white-font clicky rentalSearchTimeCol">
                                            <td st-ratio="5" class="text-center colHideMobile">
                                                <i class="fa" ng-class="{'fa-plus': !searchRow.show, 'fa-minus': searchRow.show}" aria-hidden="true"></i>
                                            </td>

                                            <td>{{::searchRow.fac_label}}</td>

                                            <td st-ratio="30" class="colHideMobile colMobileTextCenter"
                                                data-ng-bind="::searchRow.lf_date">
                                            </td>
                                            <td st-ratio="30" class="colShowMobile colMobileTextCenter"
                                                data-ng-bind="::searchRow.sf_date">
                                            </td>

                                            <td st-ratio="25" class="text-left no-select"><span class="colHideMobile">(<b>{{::searchRow.slots}}</b>)</span> {{::searchRow.stime}}<span class="colHideMobile">&nbsp;to&nbsp;</span><span class="colShowMobile"><br></span>{{::searchRow.etime}}
                                            </td>
                                        </tr>

                                        <tr data-ng-show="searchRow.show" class="animate-show animate-hide">
                                            <td colspan="5" style="padding-top: 0px; padding-left: 0px; padding-right: 0px; border-bottom-width: 0px;"
                                                ng-style="{'padding-bottom': ($last? 1 : 0)+'px'}">
                                                <table st-table="searchRow.tdata" style="margin-bottom: 0px!important;"
                                                       class="table vtable table2">
                                                    <tbody data-ng-repeat="timeRow in searchRow.tdata" scroll-glue="glued">
                                                        <tr class="rentalSearchTimePadFull rentalSearchTimeColNB"
                                                            ng-class="{'rentalSearchTimePadFull': $first && timeRow.eg == 1, 'rentalSearchTimePadTop': $first && timeRow.eg != 1, 'rentalSearchTimePadMid': !$first && timeRow.eg != 1, 'rentalSearchTimePadBot': !$first && timeRow.eg == 1}">
                                                            <td>
                                                                <button style="width: 76px;" class="btn btn-sm " ng-class="{'btn-danger': timeRow.added, 'btn-success': !timeRow.added}" ng-click="onSelectRentalTime(searchRow, timeRow, 'rentalTime_{{$parent.$index}}_{{$index}}')">
                                                                    <i class="fa" ng-class="{'fa-calendar-plus-o': !timeRow.added, 'fa-calendar-times-o': timeRow.added}" aria-hidden="true"></i> {{(timeRow.added)?'Remove':'Add'}}</button>
                                                                <button class="btn btn-sm btn-success colShowMobile" ng-click="onSelectRentalTime(searchRow, timeRow)">
                                                                    <i class="fa fa-calendar-plus-o" aria-hidden="true"></i></button>&nbsp;&nbsp;{{::timeRow.fname}}
                                                                <span class="colHideMobile"> - {{timeRow.fee_amount | currency}}/{{timeRow.booking_type}}</span>
                                                            </td>

                                                            <td st-ratio="25">
                                                                {{::timeRow.st}}<span class="colHideMobile">&nbsp;to&nbsp;</span><span class="colShowMobile"><br></span>{{::timeRow.et}}
                                                            </td>
                                                            <td st-ratio="30" class="colHideMobile">
                                                                {{::timeRow.location_address}}
                                                            </td>
                                                        </tr>

                                                        <tr ng-repeat-end data-ng-show="timeRow.eg==1 && !$last">
                                                            <td colspan="4" class="text-left no-select" style="padding:0px; border-bottom: 1px solid #ddd !important;border-top: none !important"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>

                                    <tfoot>
                                        <tr>
                                            <td colspan="6" class="text-center" style="padding-bottom: 0px; padding-top: 0px;">
                                                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"
                                                     st-template="pagination.custom.html"></div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <div class="alert alert-danger animate-show animate-hide" role="alert"
                                 data-ng-show="displayNoResults"
                                 style="margin: 10px;">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>No rental times found.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--data-ng-if="(selectedRentalTimes.rentals.length > 0)"-->

    <!--<div class="navbar navbar-inverse navbar-fixed-bottom selRentalPanelSticky" style="border:0px!important;">
        <div class="container">
            <div class="panel-body">
                <div class="nopad" style="padding-top: 4px;">
                    <button style="min-width:220px;" class="btn btn-primary" type="submit"
                            data-ng-disabled="!(selectedRentalTimes.rentals.length > 0)"
                            data-ng-click="onAcceptRentalTimes()">
                        Accept Rental Times</button>
                </div>
            </div>
        </div>
    </div>-->
</div>

<script type="text/ng-template" id="confirmation.html">
    <div class="modal text-left" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-Success">Rental Added to Cart</h3>
                </div>
                <div class="modal-body">
                    <p>Your reservation has successfully been added to your cart.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-ng-click="$hide()">Close</button>
                </div>
            </div>
        </div>
    </div>
</script>