<script type="text/ng-template" id="pagination.custom.html">
    <nav data-ng-if="numPages && pages.length >= 2">
        <ul class="pagination" style="margin-bottom: 0px!important;">
            <li><a data-ng-click="selectPage(1)" class="clicky">First</a>
            </li>
            <li><a data-ng-click="selectPage(currentPage - 1)" class="clicky">«</a></li>
            <li data-ng-repeat="page in pages" data-ng-class="{active: page==currentPage}"><a
                    data-ng-click="selectPage(page)" class="clicky">{{page}}</a></li>
            </li>
            <li><a data-ng-click="selectPage(currentPage + 1)" class="clicky">»</a>
            </li>
            <li><a data-ng-click="selectPage(numPages)" class="clicky">Last</a></li>
        </ul>
    </nav>
</script>

<div>
    <h3>Available Times</h3>
</div>


<div class="row" data-ng-animate="'slide'">
    <div data-ng-controller="ReservationAvailableTimes" class="container">

        <div class="panel panel-default" style="margin-bottom: 10px !important;">


            <div class="panel-heading clearfix">
                <h3 class="panel-title">Search Options</h3>
            </div>

            <div id="searchPanel" class="panel-body" style="padding: 4px 0px;">

                <div class="alert alert-danger animate-show animate-hide" role="alert"
                     data-ng-show="searchErrorMessage.length>0"
                     style="word-wrap: break-word;margin:10px;">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>

                    {{searchErrorMessage}}
                </div>

                <form name="searchForm" novalidate>

                    <div class="container" style="padding-top:10px;">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <div class="row" style="padding-left: 0px;">
                                    <div class="col-sm-12">
                                        <label for="searchRentalType"
                                               data-ng-class="{'has-error': searchForm.$submitted && searchForm.searchRentalType.$invalid}">*Rental
                                            Type</label>
                                    </div>
                                    <div class="col-sm-12">
                                        {{facilityData.rental_name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="searchFacilities"
                                               data-ng-class="{'has-error': searchForm.$submitted && searchForm.searchFacilities.$invalid}">*Facility</label>
                                    </div>
                                    <div class="col-sm-12" style="padding-left: 24px;">
                                        {{facilityData.item_name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container" style="padding-left: 0px;">
                    <div style="padding-left: 0px;">
                        <div class="col-sm-3">
                            <div class="form-group col-sm-12" style="padding-top: 6px;">
                                <div class="row" style="padding-left: 0px;">
                                    <div class="col-sm-12">
                                        <label for="earliestStartDate"
                                               data-ng-class="{'has-error': searchForm.$submitted && searchForm.earliestStartDate.$invalid}">*From
                                            Date</label>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="input-group" style="margin-bottom: 5px;">
                                             <span class="input-group-addon " style="width: 25px;">
                                                <i class="glyphicon glyphicon-calendar "></i>
                                            </span>
                                        <input id="earliestStartDate" name="earliestStartDate" style="width: 170px;"
                                               container="body"
                                               type="text" class="form-control" data-ng-model="fromDate"
                                               data-max-date="{{untilDate}}" datepicker-popup="yyyy-MM-dd"
                                               placeholder="From Date" data-autoclose="1" required bs-datepicker>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3" style="padding-right: 10px;">
                            <div class="form-group col-sm-12" style="padding-top: 6px;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="latestStartDate"
                                               data-ng-class="{'has-error': searchForm.$submitted && searchForm.latestStartDate.$invalid}">*Until
                                            Date</label>
                                    </div>
                                    <div class="col-sm-12">

                                        <div class="input-group" style="margin-bottom: 5px;">
                                             <span class="input-group-addon " style="width: 25px;">
                                                <i class="glyphicon glyphicon-calendar "></i>
                                            </span>
                                        <input id="latestStartDate" class="form-control" name="latestStartDate"
                                               style="width: 170px;"
                                               container="body" datepicker-popup="yyyy-MM-dd"
                                               type="text" data-ng-model="untilDate" data-min-date="{{fromDate}}"
                                               placeholder="Until Date" data-autoclose="1" required bs-datepicker>
                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="container" style="padding-left: 0px;">
                    <div style="padding-left: 0px;">
                        <div class="col-sm-3">
                            <div class="form-group col-sm-12" style="padding-top: 6px;">
                                <div class="row" style="padding-left: 0px;">
                                    <div class="col-sm-12">
                                        <label for="earliestStartTimer"
                                               data-ng-class="{'has-error': searchForm.$submitted && searchForm.earliestStartTimer.$invalid}">*Start
                                            After</label>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="input-group" style="margin-bottom: 5px;">
                                        <div class="input-group-addon" style="width: 25px;"><i
                                                class="glyphicon glyphicon-time"></i></div>
                                        <input class="form-control" size="8" data-ng-model="startTime" name="startTime"
                                               bs-timepicker data-length="1"
                                               data-minute-step="15" data-arrow-behavior="picker" type="text"
                                               style="width: 150px;">
                                    </div> </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3" style="padding-right: 10px;">
                            <div class="form-group col-sm-12" style="padding-top: 6px;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label for="latestEndTime"
                                               data-ng-class="{'has-error': searchForm.$submitted && searchForm.latestEndTime.$invalid}">*End
                                            After</label>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="input-group" style="margin-bottom: 5px;">
                                        <div class="input-group-addon" style="width: 25px;"><i
                                                class="glyphicon glyphicon-time"></i></div>
                                        <input class="form-control" size="8" data-ng-model="endTime" name="endTime"
                                               bs-timepicker data-length="1"
                                               data-minute-step="15" data-arrow-behavior="picker" type="text"
                                               style="width: 150px;">
                                    </div> </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    </div>


                    <div class="container" style="padding-left: 0px;">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-12">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <label data-ng-class="{'has-error': searchForm.$submitted && weekdaysError}">*Weekdays</label>
                                    </div>
                                    <div class="col-sm-12">
							<span class="no-word-wrap checkbox-weekday-spacing"><checkbox
                                    class="btn-default checkbox-dark-border"
                                    data-ng-model="weekdaySearch.sunday"
                                    data-ng-change="filterTrainerList()"
                                    id="checkSun"></checkbox><label for="checkSun"
                                                                    class="label-weekday-spacing">
                                Sun</label></span>
							<span class="no-word-wrap checkbox-weekday-spacing"><checkbox
                                    class="btn-default checkbox-dark-border"
                                    data-ng-model="weekdaySearch.monday"
                                    data-ng-change="filterTrainerList()"
                                    id="checkMon"></checkbox><label for="checkMon"
                                                                    class="label-weekday-spacing">
                                Mon</label></span>
							<span class="no-word-wrap checkbox-weekday-spacing"><checkbox
                                    class="btn-default checkbox-dark-border"
                                    data-ng-model="weekdaySearch.tuesday"
                                    data-ng-change="filterTrainerList()"
                                    id="checkTues"></checkbox><label for="checkTues"
                                                                     class="label-weekday-spacing">
                                Tues</label></span>
							<span class="no-word-wrap checkbox-weekday-spacing"><checkbox
                                    class="btn-default checkbox-dark-border"
                                    data-ng-model="weekdaySearch.wednesday"
                                    data-ng-change="filterTrainerList()"
                                    id="checkWed"></checkbox><label for="checkWed"
                                                                    class="label-weekday-spacing">
                                Wed</label></span>
							<span class="no-word-wrap checkbox-weekday-spacing"><checkbox
                                    class="btn-default checkbox-dark-border"
                                    data-ng-model="weekdaySearch.thursday"
                                    data-ng-change="filterTrainerList()"
                                    id="checkThur"></checkbox><label for="checkThur"
                                                                     class="label-weekday-spacing">
                                Thur</label></span>
							<span class="no-word-wrap checkbox-weekday-spacing"><checkbox
                                    class="btn-default checkbox-dark-border"
                                    data-ng-model="weekdaySearch.friday"
                                    data-ng-change="filterTrainerList()"
                                    id="checkFri"></checkbox><label for="checkFri"
                                                                    class="label-weekday-spacing">
                                Fri</label></span>
							<span class="no-word-wrap checkbox-weekday-spacing"><checkbox
                                    class="btn-default checkbox-dark-border"
                                    data-ng-model="weekdaySearch.saturday"
                                    data-ng-change="filterTrainerList()"
                                    id="checkSat"></checkbox><label for="checkSat"
                                                                    class="label-weekday-spacing">
                                Sat</label></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="container text-center">
                        <button style="min-width:220px;" class="btn btn-info" container="body" type="submit"
                                v-busy="isSearchIconBusy" v-busy-label="Searching..." v-pressable
                                data-ng-click="onSearchRentalTimes((!searchForm.$error.required && !searchForm.searchRentalType.$invalid && !searchForm.searchFacilities.$invalid))">
                            Search Available Rental Times
                        </button>
                    </div>
                </form>

                <div>
                    <div data-ng-if="isSearchIconBusy || !displaySearchResults" style="height: 30px;"></div>
                    <div data-ng-if="!isSearchIconBusy && !displayNoResults">
                        <table st-table="searchResultsData" st-safe-src="searchRowCollection"
                               class="table table-hover vtable"
                               data-ng-show="displaySearchResults">
                            <thead>
                                <th style="border: 0px;"></th>
                            </thead>

                            <tbody>
                                <tr data-ng-repeat="searchRow in searchResultsData">
                                    <td st-ratio="5" class="text-center clicky no-select"
                                        data-ng-click="onSelectRentalTime(searchRow)">
                                        <i id="arrow-icon" class="fa fa-chevron-right fa-3x"></i>
                                    </td>
                                    <td st-ratio="20" class="text-left clicky no-select"
                                        data-ng-click="onSelectRentalTime(searchRow)"
                                        data-ng-bind="::facilityData.item_name">
                                    </td>
                                    <td st-ratio="30" class="text-left clicky no-select"
                                        data-ng-click="onSelectRentalTime(searchRow)"
                                        data-ng-bind="::searchRow.formatted_check_date">
                                    </td>
                                    <td st-ratio="15" class="text-left clicky no-select"
                                        data-ng-click="onSelectRentalTime(searchRow)">
                                        <b>({{::searchRow.available_time_slots}})</b>{{::searchRow.start_check_time}} to {{::searchRow.end_check_time}}
                                    </td>
                                    <td st-ratio="5" class="text-center clicky no-select"
                                        data-ng-click="onSelectRentalTime(searchRow)">
                                        <i id="arrow-icon" class="fa fa-chevron-left fa-3x"></i>
                                    </td>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-center" style="padding-bottom: 0px; padding-top: 0px;">
                                        <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"
                                             st-template="pagination.custom.html"></div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="alert alert-danger animate-show animate-hide" role="alert"
                         data-ng-show="displayNoResults"
                         style="margin: 10px;">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>

                        No rental times found.
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="confirmation.html">
    <div class="modal text-left" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-Success">Rental Added to Cart</h3>
                </div>
                <div class="modal-body">
                    <p>Your reservation has successfully been added to your cart.</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-ng-click="$hide()">Close</button>
                </div>
            </div>
        </div>
    </div>
</script>