<div class="row" data-ng-animate="'slide'">
    <div data-ng-controller="ReservationAddons" class="">

        <div data-ng-if="reservationDataSet">
            <div>
                <h3>Complete Rental</h3>
            </div>

            <form class="form-horizontal" role="form">
                <ng-form>
                    <div class="panel panel-primary animate-show animate-hide" data-ng-if="displayPackages">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title">Add-Ons</h3>
                        </div>

                        <div class="panel-body">
                            <div class="container">
                                <div class="table-responsive hidden-xs">

                                    <table class="table" style="margin-bottom: 0px;">
                                        <thead>
                                            <tr>
                                                <td></td>
                                                <td><strong>Add-On Name</strong></td>
                                                <td><strong>Add-On Code</strong></td>
                                                <td><strong>Qty</strong></td>
                                                <td><strong>Fee</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr data-ng-repeat="pkg in rentalPackages">
                                                <td scope="row" style=" border:0px !important;">
                                                    <div class="form-group">
                                                        <div class="col-sm-6">
                                                            <checkbox class="btn-default checkbox-dark-border"
                                                                      data-ng-if="pkg.required" data-ng-change="onPackageCheckedEvent()"
                                                                      data-ng-model="pkg.selected" id="package_{{pkg.item_id}}"
                                                                      name="package_{{pkg.item_id}}" required></checkbox>
                                                            <checkbox class="btn-default checkbox-dark-border"
                                                                      data-ng-if="!pkg.required" data-ng-change="onPackageChangeEvent()"
                                                                      data-ng-model="pkg.selected" id="package_{{pkg.item_id}}"
                                                                      name="package_{{pkg.item_id}}"></checkbox>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style=" border:0px !important;"><label for="package_{{pkg.item_id}}"
                                                                                           style="font-weight: normal;">{{pkg.item_name}}</label>
                                                </td>
                                                <td style=" border:0px !important;"><label for="package_{{pkg.item_id}}"
                                                                                           style="font-weight: normal;">{{pkg.item_code}}</label>
                                                </td>
                                                <td style=" border:0px !important;"><input type="text" style="width: 50px;" ng-model="pkg.quantity"
                                                                                           maxlength="3" numbers-only="numbers-only"
                                                                                           data-ng-change="onPackageChangeEvent()">
                                                </td>
                                                <td style=" border:0px !important;"><p data-ng-repeat="pkgfee in pkg.fees">
                                                    <!--{{pkgfee.fee_name}}-->{{pkgfee.fee_amount | currency}}</p></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="table-responsive visible-xs" style="border:0px !important;">
                                    <table class="table" style="margin-bottom: 0px;">

                                        <tbody>
                                            <tr data-ng-repeat="pkg in rentalPackages">
                                                <td scope="row" style=" border:0px !important;">
                                                    <div class="form-group">
                                                        <div class="col-sm-6">
                                                            <checkbox class="btn-default checkbox-dark-border"
                                                                      data-ng-if="pkg.required" data-ng-change="onPackageCheckedEvent()"
                                                                      data-ng-model="pkg.selected" id="package_{{pkg.item_id}}"
                                                                      name="package_{{pkg.item_id}}" required></checkbox>
                                                            <checkbox class="btn-default checkbox-dark-border"
                                                                      data-ng-if="!pkg.required" data-ng-change="onPackageCheckedEvent()"
                                                                      data-ng-model="pkg.selected" id="package_{{pkg.item_id}}"
                                                                      name="package_{{pkg.item_id}}"></checkbox>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style=" border:0px !important;">
                                                    <p><label for="package_{{pkg.item_id}}" style="font-weight: normal;">{{pkg.item_name}}</label>
                                                    </p>

                                                    <p><label for="package_{{pkg.item_id}}" style="font-weight: normal;">{{pkg.item_code}}</label>
                                                    </p>

                                                    <p data-ng-repeat="pkgfee in pkg.fees"><label for="package_{{pkg.item_id}}"
                                                                                                  style="font-weight: normal;">{{pkgfee.fee_name}}
                                                        {{pkgfee.fee_amount | currency}}</label></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary animate-show" data-ng-if="displayCustomFields">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title">Options</h3>
                        </div>

                        <div class="panel-body ">

                            <div class="container">
                                <div data-ng-repeat="field in rentalCustomFields">
                                    <!-- TEXT FIELDS -->
                                    <div data-ng-if="field.type=='text'" class="form-group">
                                        <label class="col-sm-3 control-label-center" style="font-weight: normal;">{{field.label}}</label>

                                        <div class="col-sm-6">
                                            <input type="{{field.type}}" id="{{field.id}}"
                                                   data-ng-model="rentalCustomFields[$index].response_value"
                                                   class="form-control" required/>
                                        </div>
                                    </div>

                                    <!-- NUMERIC FIELDS -->
                                    <div data-ng-if="field.type=='number'" class="form-group">
                                        <label class="col-sm-3 control-label-center"style="font-weight: normal;">{{field.label}}</label>

                                        <div class="col-sm-6">
                                            <input type="text" id="{{field.name}}"
                                                   data-ng-model="rentalCustomFields[$index].response_value"
                                                   class="form-control" required/>
                                        </div>
                                    </div>

                                    <!-- SELECT FIELDS -->
                                    <div data-ng-if="field.type=='select'" class="form-group">
                                        <label class="col-sm-3 control-label-center" style="font-weight: normal;">{{field.label}}</label>

                                        <div class="col-sm-6">
                                            <select data-ng-model="rentalCustomFields[$index].response_value"
                                                    class="form-control"
                                                    prompt="Select One" required>
                                                <option data-ng-repeat="option in field.options">{{option}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- CHECKBOX FIELDS -->
                                    <div data-ng-if="field.type=='checkbox'" class="form-group">
                                        <label class="col-sm-3 control-label-center" style="font-weight: normal;">{{field.label}}</label>

                                        <div class="col-sm-6">
                                            <!--<checkbox class="btn-default checkbox-dark-border" data-ng-if="rentalCustomFields[$index].required" data-ng-model="rentalCustomFields[$index].response_value"  name="taskGroup" id="{{field.name}}" value="{{field.id}}" required/>
                                            <checkbox class="btn-default checkbox-dark-border" data-ng-if="!rentalCustomFields[$index].required" data-ng-model="rentalCustomFields[$index].response_value"  name="taskGroup" id="{{field.name}}" value="{{field.id}}"/>

                                            -->
                                            <checkbox class="btn-default checkbox-dark-border"
                                                      data-ng-if="rentalCustomFields[$index].required"
                                                      data-ng-model="rentalCustomFields[$index].response_value"
                                                      required></checkbox>
                                            <checkbox class="btn-default checkbox-dark-border"
                                                      data-ng-if="!rentalCustomFields[$index].required"
                                                      data-ng-model="rentalCustomFields[$index].response_value"></checkbox>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary animate-show animate-hide">
                        <div class="panel-heading clearfix">
                            <h3 class="panel-title">Payment Information</h3>
                        </div>

                        <div class="panel-body">
                            <div class="container">

                                <div class="form-group">
                                    <label class="col-sm-5">Facilities:</label>
                                    <label class="col-sm-2">Date:</label>
                                    <label class="col-sm-3">Time:</label>
                                    <label class="col-sm-2">Fee:</label>
                                </div>

                                <div class="form-group" data-ng-repeat="time in selectedTimeData">
                                    <label class="col-sm-5" style="font-weight: 500">{{::time.fname}}</label>
                                    <label class="col-sm-2" style="font-weight: 500">{{::time.sf_date}}</label>
                                    <label class="col-sm-3" style="font-weight: 500">{{::time.st}}-{{::time.et}}</label>
                                    <label class="col-sm-2" style="font-weight: 500">{{::time.fee_amount | currency}}</label>
                                </div>

                                <div class="form-group" style="padding-top: 20px">
                                    <label class="col-sm-2 control-label-center">Total Rental Amount:</label>

                                    <div class="col-sm-10">
                                        <label class=" control-label-center">{{(feeAmount -- packageFeeAmount) | currency}}<!-- (Includes
                                        {{depositAmount | currency}} deposit)--></label>
                                        <br>

                                        <p>The estimated rental cost is based on information supplied at the time of the
                                            request and may change
                                            according to additional information, change in rental request, and/or residency
                                            status of the
                                            renter. This
                                            request is not an official rental until it has been approved and the renter has
                                            paid in full.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary animate-show animate-hide">

                        <!--<div class="panel panel-default" data-ng-show="preLoad.hasWaivers">
        <div class="panel-heading">
          <label>Waivers</label>
        </div>
        <div class="panel-body">
          <div class="panel panel-primary" data-ng-repeat="waiverData in preLoad.waivers">
            <div class="panel-heading clearfix">
              <h3 class="panel-title">{{waiverData.waiver_name}}</h3>
            </div>

            <div class="panel-body">
              <div name="txtWaiver" id="txtWaiver" class="well scrollbox" data-ng-enable="false" data-ng-bind-html="waiverData.waiver_text" rows="3"></div>

              <div class="form-group" >
                <div data-ng-repeat="signoff in waiverData.signoff">
                  <div class="col-xs-12 spacing">
                    <checkbox class="btn-primary" data-ng-model="signoff.agreed" id="signoff.name" name="signoff.name" required></checkbox>
                    <label for="signoff.name">I agree to the terms outlined in the above waiver on behalf of {{signoff.user_name}}.</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->

                        <div class="panel-heading clearfix">
                            <h3 class="panel-title">Agreement & Waivers</h3>
                        </div>

                        <div class="panel-body">
                            <div class="container">
                                <div class="form-group">
                                    <div class="col-sm-12 ">
                                        <label data-placement="bottom-left" data-type="info"
                                               bs-enabled="agreementSigned.checked"
                                               style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none; font-weight: normal;"
                                               for="agreement_1">
                                            <checkbox class="btn-default checkbox-dark-border"
                                                      data-ng-model="agreementSigned.checked" ng-checked="onAgreementChecked()"
                                                      id="agreement_1" name="agreement_1"></checkbox>
                                            I have read, understand, and agree to the <a href="" target="_blank"
                                                                                         style="font-weight: bold;">Terms
                                            and Conditions</a> regarding The Parks and Recreation Facility Reservations and
                                            Refund/Cancelation
                                            Policy.
                                        </label>
                                    </div>
                                </div>

                                <div class="animate-show animate-hide" data-ng-hide="!contactCheckAlert" data-ng-cloak>
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        Terms & Agreement not checked
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-success" data-ng-click="onSubmitAddRentalToCart()" data-ng-if="rentalData.auto_approve === '1'" data-ng-disabled="submittingData"><i class="fa fa-shopping-cart"></i> Add Rental to Cart</button>
                                    <button type="submit" class="btn btn-success" data-ng-click="onSubmitRentalRequest()" data-ng-if="rentalData.auto_approve === '0'" data-ng-disabled="submittingData"> Submit Rental Request for Approval</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-form>
            </form>
        </div>
    </div>
</div>