<div class="aside right" tabindex="-1" role="dialog" data-ng-controller="ShoppingCartCtrl">

    <div class="aside-content">
        <div class="aside-header" ng-show="title">
            <button type="button" class="close" ng-click="$hide()">&times;</button>
            <h4 class="aside-title" ng-bind-html="title"></h4>
        </div>
        <div class="aside-body" >
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <span style="float: right;">
                    <button type="button" class="btn btn-danger" ng-click="$hide()"><i class="glyphicon glyphicon-remove-circle" ></i> Close</button>
                    </span>
                    <h3 class="panel-title tex" style="padding-top: 10px;">Your Shopping Cart</h3>
                </div>

                <form name="cartForm" class="form-horizontal" role="form" ng-submit="goToCheckout()">
                    <ng-form name="cartForm">
                        <div class="panel-body">

                            <div class="well" data-ng-repeat="item in cart.data">
                                <div>
                                     <span style="float: left;"> <span data-placement="right"><span class="fa-stack fa-lg clicky" data-ng-click="removeItem({{item.shopping_item_id}})"
                                                                                                    data-ng-hide="{{$route.current.templateUrl == 'views/precheckout.html'}}">
                                          <i class="fa fa-square fa-stack-2x text-danger"></i>
                                          <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                                        </span></span></span>

                                        <h4 style="padding-top: 10px;"><a href ng-click="gotoItemInfoPage(item.main_item_id)">{{item.item_name}}</a></h4>
                                </div>

                                <div class="row">
                                    <div class="col-sm-1">&nbsp;</div>
                                    <div class="col-sm-7">
                                        <em>- {{item.person_name}}</em>
                                    </div>
                                </div>

                                <div class="row" style="padding-top: 5px;">
                                    <div class="col-sm-1">&nbsp;</div>
                                    <div class="col-sm-7">
                                        <h4>${{item.total_fee}}</h4>
                                    </div>
                                </div>

                                <div data-ng-repeat="link in item.linked_items.data">
                                    <div class="row">
                                        <div class="col-sm-2">&nbsp;</div>
                                        <div class="col-sm-1">
                                        <span data-placement="right"><span class="fa-stack fa-1x clicky" data-ng-click="removeItem({{link.linked_shopping_item_id}})"
                                                                          data-ng-hide="{{$route.current.templateUrl == 'views/precheckout.html'}}">
                                          <i class="fa fa-square fa-stack-2x text-danger"></i>
                                          <i class="fa fa-times fa-stack-1x fa-inverse"></i>
                                        </span></span>
                                        </div>
                                        <div class="col-sm-7" data-ng-show="link.linked_item_name != item.item_name">
                                            <h5 style="margin-top: 5px;"><a href ng-click="gotoItemInfoPage(link.main_item_id)">{{link.linked_item_name}}</a></h5>
                                        </div>
                                        <div class="col-sm-7" data-ng-show="link.linked_person_name != item.person_name">
                                            <h5 style="margin-top: 5px;">{{link.linked_person_name}}</h5>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3">&nbsp;</div>
                                        <div class="col-sm-7">
                                            <h5 style="margin-top: 5px;">${{link.linked_total_fee}}</h5>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <h3>Total: ${{(cart.totalFee).toFixed(2)}}</h3>

                            <div class="row">
                                <div class="col-sm-10">
                                    <button type="submit" id="submitCart" value="Submit" class="btn btn-success"  data-placement="center" ng-click="$hide()"><i class="fa fa-check-square"></i>
                                        <i class="fa fa-shopping-cart"></i> Checkout</button>
                                </div>

                            </div>

                        </div>
                    </ng-form>
                </form>
            </div>
         </div>
    </div>
</div>
